
// Fonts
@font-face {
    font-family: "Roboto";
    src: local(Roboto Thin), url("./fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("./fonts/roboto/Roboto-Thin.woff") format("woff");
    font-weight: 100;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Light), url("./fonts/roboto/Roboto-Light.woff2") format("woff2"), url("./fonts/roboto/Roboto-Light.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Regular), url("./fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("./fonts/roboto/Roboto-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Medium), url("./fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("./fonts/roboto/Roboto-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Bold), url("./fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("./fonts/roboto/Roboto-Bold.woff") format("woff");
    font-weight: 700;
}

// Materialize
@import '../materialize/sass/materialize';
@import './partials/ios-checkbox';
@import './partials/icons';
@import './partials/nav';
@import './partials/footer';
@import './partials/home';
@import './partials/login';
@import './partials/register-modal';
@import './partials/profile';
@import './partials/plans';
@import './partials/mail';
@import './partials/responsive';
@import './partials/projects';
@import './partials/dashboard';
@import './partials/search';
@import './partials/mail';
@import './partials/aboutus';
@import './partials/faqs';
@import './partials/tutorials';
@import './partials/privacy-policy';
@import './partials/term-of-service';
@import './partials/copyright';
@import './partials/group';
@import './partials/subscription';
@import './partials/activity';
@import './partials/responsive';
@import './partials/alert';
@import './partials/settings';
@import './partials/modal';
@import './partials/anake';
@import './partials/landing-bowker';

