.s-aboutus {
  background: white;
}
.s-aboutus .abus_right {
  text-align: right;
  margin-top: 20px;
}
.s-aboutus .abus-font5 {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 18px !important;
  font-weight: 300;
  line-height: normal;
  text-align: justify;
}
.s-aboutus .cover-page-aboutus .abus-resal {
  font-size: 20px;
}
.s-aboutus .cover-page-aboutus .abus-ceo {
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}
.s-aboutus .logo-abus {
  width: 380px;
  display: inline-block;
  padding: 40px 0px 0px 0px;
}


.s-aboutus .f_center {
  text-align: center;
}
.s-aboutus .abus_pand2 {
  padding-bottom: 80px;
  padding-top: 80px;
}
.s-aboutus .abus_pand1 {
  padding-top: 6% !important;
}
.s-aboutus .abus-font-1 {
  font-size: 36px;
}

.s-aboutus .f_color1 {
  color: #fff;
}
.s-aboutus .f_text-shadow {
  text-shadow: 0px 0px 6px rgba(9, 9, 9, 0.4);
}

.s-aboutus .abus-author {
  display: inline-block;
  margin: 0px;
  font-size: 16px;
  color: #D2453F;
  font-weight: 500;
  position: relative;
  top: -12px;
  padding: 0px 0px 0px 10px;
}
.s-aboutus .f_bg1 {
  background-color: #ffffff;
}
.s-aboutus .abus-r {
  width: 96px;
  height: 4px;
  background: #F6645D;
}
.s-aboutus figure {
  margin: 0;
}
.s-aboutus a {
  color: #949494;
}
.s-aboutus .abus_box {
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  border-radius: 50px;
}
img.responsive-img {
  width: 100%;
  height: auto;
}

.s-aboutus .abus-title {
  font-size: 36px;
  line-height: 2;
}
.s-aboutus .abus-team {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1436px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 60px;
}
.s-aboutus .team1 {
  width: 276px;
  height: 276px;
  overflow: hidden;
  cursor: pointer;
  background-color: blue;
  position: relative;
}
.s-aboutus .abus-rol {
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.s-aboutus .abus-rol-1 {
  font-size: 14px;
  font-weight: 400;
  color: white;
}
.s-aboutus .abus-over {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 143, 255, 0.7411764705882353);
  opacity: 1;
  top: 0;
  text-align: center;
  padding-top: 60%;
  transition: all 0.3s ease;
}
.s-aboutus p.abus-author span.sep {
  margin: 0 6px;
  font-weight: 300;
  color: #ccc;
}
.s-aboutus .abus-color {
  background-color: #CEE0FC;
}
.main-login {
  max-width: 820px;
  margin: 0 auto;
  padding-top: 3rem;
  margin-bottom: 90px;
}

.s-aboutus .mr-top {
  margin-top: 17px;
}
.s-aboutus .f-conten1-abus1 {
  background-image: url(../images/content-ab1.jpg);
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 0px;
}


.abus-over:hover{

  opacity: 0;

}
.op-botom:hover{

  background-color: #246eb9;
  outline: 0px;

}


/***

**/

