.s-activity .project-mar-ac {
  min-height: 100%;
  width: 100%;
  position: relative;
  padding: 34px 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;*/
  margin: 0 auto;
  min-width: 800px;
  padding-bottom: 70px;
}

.s-activity .padding-dash {
  padding: 0px 15px;
}

.s-activity .title-newsearchad-1 {
  font-size: 28px;
  margin: 0;
  padding: 4px 30px 0 0;
  font-weight: 400;
  color: #27344a;
  text-align: center;
}
.s-activity .card-medium-blo-acti {
  width: 276px;
  background: #fff;
  height: 345px;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  overflow: hidden;
}
.s-activity .card-img-act {
  width: 100%;
  position: relative;
  height: 250px;
  overflow: hidden;
}
.s-activity .img-comple {
  width: 100%;
}
.s-activity .overlay-act-dash {
  width: 100%;
  position: absolute;
  top: 198px;
  text-align: right;
  padding: 10px;
  background: rgba(0, 0, 0, 0.66);
  color: white;
  font-size: 13px;
  line-height: 16px;
}
.s-activity .acti-dash1 {
  padding: 15px 15px 15px 15px;
  height: 58px;
}
.s-activity .font-acti-p {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}
.s-activity .collection-item-link {
  color: black;
  display: inline-block;
  float: left;
  width: 100%;
}
.s-activity .collection-item-link:hover {

}
.s-activity .ultra-small {
  font-size: 10px !important;
}
.s-activity .small {
  font-size: 12px !important
}
.s-activity p.collections-content {
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  font-weight: 400;
}
.notification_unread {
  background: #edf2fa !important;
}
#notificationBellAlert {
  position: relative;
  top: 19px;
  left: 15px;
}
.s-activity p.collections-title {
  font-size: 1.0rem;
  padding: 0;
  margin: 0;
  font-weight: 500;
}
.s-activity .collection .collection-item a {
  padding: 7px 72px;
}
.s-activity .collection .collection-item {
  padding: 0 !important;
  min-height: 59px;
}
.s-activity .collection .collection-item:hover {
  background: #e9ebee;
}
.s-activity .font-acti-a {
  color: #246ebd;
  font-weight: 700;
}
.s-activity .acti-dash2 {
  padding: 10px 15px 0px 15px;
  border-top: 1px solid #8080804f;
}
.s-activity .font-acti-time {
  font-family: "Roboto","Helvetica","Arial",sans-serif !important;
  font-size: 13px;
  color: #333333;
  font-weight: 500;
}
.overlay-act-dash-pro {
  width: 100%;
  position: absolute;
  top: 0;
  height: auto;
  padding: 15px;
  background: rgba(21, 21, 21, 0.66);
}
.font-acti-p2 {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.font-acti-a2 {
  color: #00B4FF;
  font-weight: 700;
}
.acti-dash3 {
  padding: 8px 15px 0px 15px;
}
.perfil-act-dash {
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  border-radius: 30px;
  border: 2px solid #fff;
  position: relative;
  bottom: 24px;
}
.act-parra {
  display: inline-block;
  width: 73%;
  vertical-align: top;
  color: #333333;
  line-height: initials;
}
.font-act-p4 {
  font-size: 14px;
  font-weight: 500;
}
.acti-dash2 {
  padding: 10px 15px 0px 15px;
  border-top: 1px solid #8080804f;
}
.font-acti-time {
  font-family: "Roboto","Helvetica","Arial",sans-serif !important;
  font-size: 13px;
  color: #333333;
  font-weight: 500;
}
.card-medium-blo-acti-p-2 {
  width: 276px;
  background: #6392CB;
  height: 345px;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  overflow: hidden;
}
.title-newsearchad-1 {
  font-size: 28px;
  margin: 0;
  padding: 30px 30px 0 0;
  font-weight: 400;
  color: #27344a;
  text-align: center;
}
.c-btm{
  text-align: center;
}
.btn-se-ac{
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: 500;
  background: #246ebd;
  color: white;
  border: none;

}
.font-w{
  font-size: 14px;
  font-weight: 500;
}
.font-w-1{
  font-size: 12px;
}
.font-act-p4-w {
  font-size: 12px;
  font-weight: 400;
}


@media screen and (max-width: 660px) {



  .project-mar-ac {
    min-height: 100%;
    width: 100%;
    position: relative;
    padding: 34px 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    margin: 0 auto;
    min-width: 100%;
    margin-bottom: 9rem;
  }

}
