nav ul a:hover {
  background-color: transparent;
}
.cnt-error {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background: #c20c0c;*/
  width: 250px;
  line-height: 10px;
}
.toast{
  width: 250px;
}
#toast-container{
  bottom: 10%;
  top: initial;
  right: 15%;
  border-radius: 3px;
}
#notf{
  position: relative;
  top: 19px;
  left: 15px;
}
.Notifications{
  background: #e69215;
  width: 15px;
  height: 15px;
  display: block;
  border-radius: 100%;
  position: absolute;
  font-size: 9px;
  color: #fff;
  text-align: center;
  line-height: 1.8;
  z-index: 1;
}
/**/
.notifications-alert-displayed {
  width: 297px;
  height: auto;
  position: absolute;
  z-index: 99999;
  background-color: white;
  border-radius: 3px;
  left: -15.5rem;
  top: 63px;
  border: 1px solid rgba(100, 100, 100, .4);
  border-radius: 0 0 2px 2px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.w-notification-element {
  float: left;
  display: inline-block;
  /* overflow-y: scroll; */
  max-height: 530px;
  width: 100%;
}
.profileicon-minimenu-displayed {
  width: 132px;
  height: auto;
  position: absolute;
  z-index: 99999;
  background-color: #233D4D;
  border-radius: 3px;
  right: 0;
  top: 63px;
}
.preloader-wrapper.x-small {
  width: 17px;
  height: 17px;
}
.w-notification .notification-col-complete {
  float: left;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 14px 0 17px 0;
}
.w-notification li {
  float: left;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  cursor: pointer;
  background-color: transparent;
  border-radius: 3px;
  display: inline-block;
  line-height: normal;
}
.w-notification li.rel-tag a {
  padding: 10px 9px 6px 9px;
  float: left;
  width: 100%;
}
.w-notification .btn-all-activity-content {
  float: left;
  width: 100%;
  display: inline-block;
}
.w-notification li.btn-all-activity a {
  float: left;
  width: 100%;
  padding: 10px 0 12px 0;
  min-height: 35px;
}
.w-notification li:hover{
  background-color: #f5f5f5;

}
.w-notification .font-noti-principal-row {
  width: 100%;
  float: left;
  margin-top: 3px;
}
.w-notification .font-noti-principal-row-content a {
  display: inline-block;
  cursor: pointer;
}
#nav-web .alerts-nav {
  position: relative;
  top:10px;
  cursor: pointer;
}
#nav-web li a.tag-link-notification-profile {
  padding: 0;
  display: inline-block;
}
.font-noti-principal-time {
  color: #7F8FA4;
  position: relative;
}
.w-notification .font-noti-principal-row-content span {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.w-notification .font-acti-a2 {
  cursor: pointer;
  font-weight: bolder;
  color: black;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  width: 100%;
}
.font-noti-principal-time {
  color: #7F8FA4;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.notifications-alert-displayed .triangle-up-noti {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  position: absolute;
  top: -7px;
  right: 26px;
}
.profileicon-minimenu-displayed .triangle-up-noti {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #233D4D;
  position: absolute;
  top: -7px;
  right: 58px;
}
.ic-noti-1 {
  display: inline-block;
  float: right;

}
.ic-noti-1 i {
  color: #F75D56;
  vertical-align: middle !important;
  font-size: 20px !important;
  height: 0px !important;
  line-height: normal !important;
}

.w-notification .images-profile {
}

.w-notification .notification-col1 {
  display: inline-block;
  width: 20%;
  float: left;
}
.w-notification img.responsive-img {
  border-radius: 27px;
}
.w-notification .notification-col2 {
  display: inline-block;
  width: 80%;
  float: left;
}
.w-notification .notification-col2-content {
  padding-left: 12px;
}
.w-notification .notification-col3 {
  display: inline-block;
  width: 20%;
  float: left;
  display: none;
}

.img-border1{

  border-radius: 3px;
}

.cont-noti-1{
}


.font-noti-principal{
  font-size: 13px;
  color: black;
}

.font-noti-principal strong{
  font-weight: 700;
  color: #D0D0D0;
}

.font-noti-principal a{

  color: #FFFFFF;
  font-weight: 700;
  margin-top: 0px;
  display: inline-block;
  padding: 0px;
  font-size: 13px;
}

.font-noti-principal a:hover{

  color: #D0D0D0;
  font-weight: 700;
}


.font-time-noti {
  font-size: 12px;
  font-weight: 400;
  color: #D6D6D6;
}
.new-notification {
  background-color: #1E303B !important;
}
.w-notification .preloader-notification-menu {
  float: left;
  width: 100%;
}
.w-notification .preloader-notification-menu {
  text-align: center;
}
.w-notification .preloader-notification-menu-content {
  margin: auto;
  position: relative;
  top: 0;
  display: inline-block;
}
.w-notification .ic-noti-2{
  display: inline-block;
  width: 24px;
  height: 20px;
  float: left;
  top: -2px;
  position: relative;
  /* position: relative;
  top: 18px; */
}
.ic-noti-2 i {
  color: #136CB2;
  vertical-align: middle !important;
  font-size: 20px !important;
  line-height: normal !important;
  height: 0px !important;
}
.w-notification .images-project{
  display: inline-block;
  width: 42px;
  height: 60px;
  border-radius: 3px;
  vertical-align: top;
  margin-top: 3px;
  overflow: hidden;
}

.cont-noti-2 {
  display: inline-block;
  width: 81%;
  padding-left: 5px;
  line-height: normal;
}

.ic-noti-3{
  display: initial;
  float: right;

}

.ic-noti-3 i{

  color: #AEB2B4;
  vertical-align: middle !important;
  font-size: 19px !important;
  height: 0px !important;
  line-height: normal !important;
}


.ic-noti-4{
  display: initial;
  float: right;

}

.ic-noti-4 i{

  color: #34ACDB;
  vertical-align: middle !important;
  font-size: 20px !important;
  height: 0px !important;
  line-height: normal !important;
}

.btn-all-activity {
  width: 100%;
  text-align: center;
  background: transparent;
}

.btn-all-activity a {
  font-size: 14px;
  color: #136CB2;
  margin-top: 0px;
}


.btn-all-activity:hover{

  background-color: #f5f5f5 !important;
}


#noti-2 {
  left: 20%;
}

#noti-3{

  left: 40%;
}

#noti-4{

  left: 60%;
}
/**
Home Banner slide
 */
.slider-home .slider {
  height: 700px;
}
.front-container-bannerhome .slider .indicators .indicator-item {
  background-color: #666666;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.front-container-bannerhome .slider .indicators .indicator-item.active {
  background-color: #ffffff;
}
.front-container-bannerhome .slider {
  width: 900px;
  margin: 0 auto;
}
.front-container-bannerhome .slider .indicators {
  bottom: 60px;
  z-index: 100;
  /* text-align: left; */
}