/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body.landingpagecm .wrapper{
  background: #ffffff !important;
}
body.landingpagecm .wrapper.tooltip-nav {
  padding: 0;
}
body.landingpagecm .sidebar-nav {
  display: none !important;
}
body.landingpagecm .center-footer-area .txt-mobile p{
  color:#949494;
  line-height: initial !important;
}
body.landingpagecm .items-landingpage-footer{
  display:none !important;
}
body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.brand-logo {
  color: #444;
  max-width: 300px;
  float: left;
  position: initial !important;
}

.brand-logo img {
  margin-top: 8px;
}

body.landingpagecm p {
  line-height: 1.5rem !important;
  color:rgba(0, 0, 0, 0.87)
}

.sidenav-trigger {
  color: #26a69a;
}
p.text-by{
  line-height: 15px !important;
  text-align: center;
}
nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #FFBB18;
}
.m-pbtn{
  margin-top: 20px !important;
}
.m-ptext{
  margin-top: 10px
}
nav ul a {
  font-size: 14px;
}

.parallax-container-banner {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.landing-bnn-home {
  min-height: 576px !important;
  padding-top: 57px;
}

.parallax-container .section {
  width: 100%;
}

.parallax-container-one {
  height: 600px !important;
}
.parallax-container {
  height: 515px;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

/* main style */

.container-ldnpage {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  border: none;
  color:rgba(0, 0, 0, 0.87);
}

.container-ldnpage-big{
  max-width: 96%;
  margin: 0 auto;
  width: 100%;
  position: relative;
  border: none;
}

.list-num{
  width: 24px;
  float: left;
  font-size: 22px;
  font-weight: 500;
}

.align-itm{
  margin-left: 0px;
  margin-top: 0px;
}

.container-ldnpage-small {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.input-white-stle {
  background-color: rgba(255, 255, 255, 1) !important;
  width: 100% !important;
  padding: 5px 12px !important;
  border: none !important;
  border-radius: 5px !important;
  height: 40px !important;
  outline: none !important;
  font-family: Roboto, sans-serif !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -o-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  color: #848484 !important !important;
  box-sizing: border-box !important;
  margin-bottom: 10px !important;
  color: #3c3b3b;
  z-index: 0;
}

/* azul oscuro */

.crl-ldnpage1 {
  background-color: #001524;
}

.btn1:hover {
  background-color: #000d17;
}

.clr-txt1 {
  color: #001C31;
}

/* azul claro */

.crl-ldnpage2 {
  background-color: #2757B9;
}

.btn2:hover {
  background-color: #1c4bab;
}

/* amarillo */

.crl-ldnpage3 {
  background-color: #FFBB18;
}

.btn-landingpage {
  display: block;
  border-radius: 25px;
  padding: 10px 20px;
  color: white;
  font-size: 14px;
  margin-bottom: 8px;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}

.box2-caja-landing {
  width: 100%;
  height: auto;
}

.video-landinpage1 {
  width: 100%;
  min-height: 346px !important;
}

.collapsible {
  box-shadow: none;
  border: none;
  margin: 0;
}

.bck-acordion-faqs {
  background-color: #EEEEEE;
  border: none;
  font-size: 1.1rem;
  margin-bottom: 12px;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  line-height: 2.1rem;
  padding-top: 11px;
  position: relative;
}
.parallax-container .parallax img{
  opacity: 1;
  display: block;
}
.tr-traslate{
  transform: translate3d(-50%, 290.621px, 0px) !important;
}

.faq-icons>li>div>i {
  position: absolute;
  top: 14px;
  right: 0;
  margin-right: 1rem;
}

.faq-icons>li.active {
  color: #246eb9 !important;
}

.body-faqs {
  border: none;
  font-size: 1.1rem;
  color: #233D4D;
  margin-bottom: 2rem;
}

.area-explains div div {
  margin-bottom: 12px;
}

.box-help-faqs {
  margin-top: 12px;
  font-size: 13px;
  color: #a2a2a2;
  font-weight: 300;
}

.helpful {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 8px;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.circle-help {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #a2a2a2;
  text-align: center;
  padding-top: 2px;
  margin-right: 10px;
  color: #a2a2a2;
  cursor: pointer;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}

.circle-no-help {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #a2a2a2;
  text-align: center;
  padding-top: 2px;
  margin-right: 10px;
  color: #a2a2a2;
  cursor: pointer;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}

.circle-help i {
  float: none !important;
  font-size: 20px;
  font-weight: 700;
  padding-top: 1px;
  line-height: 1.5rem !important;
}

.circle-no-help i {
  float: none !important;
  font-size: 20px;
  font-weight: 700;
  padding-top: 1px;
  line-height: 1.5rem !important;
}

.helpful p {
  padding-top: 0;
  margin: 0;
}

.title-help {
  margin: 0;
}

.full-img {
  width: 100%;
}

.steps-area-landing {
  background-color: #1DB597;
}

.faqs-landing {
  background-color: #F4F4F4;
}

.collapsible-header {
  border: none !important;
}

.coll-height {
  min-height: 220px;
}

.txt-bannr-landing h1 {
  font-size: 42px;
  color: #FEDC9B;
  margin-top: 8rem;
  margin-bottom: 0px;
  font-weight: 600;
}

.txt-bannr-landing h5 {
  color: white;
}

.main-form-landing {
  padding: 1.5rem 3rem;
  margin-top: 2.2rem;
  border-radius: 10px;
  max-width: 420px;
  float: right;
}

.main-form-landing h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 2px;
  line-height: 28px;
  margin-top: 0;
}

.main-form-landing h5 {
  font-size: 16px;
  margin: 6px 0 18px 0;
}

.main-form-landing p {
  margin: 0;
  line-height: 15px;
  font-size: 11px;
  padding: 0 30px;
  margin-top: 2px;
  margin-bottom: 12px;
}

.items-landingpage {
  margin: 3.5rem 0 3rem 0;
}

.items-landingpage h5 {
  font-weight: 500;
  line-height: 24px;
}

.items-landingpage p {
  font-weight: 300;
  line-height: 20px !important;
}

.show-michael {
  max-width: 370px;
  margin-top: 40px;
  float: right;
}

.title-video-landing h5 {
  color: white;
  margin-top: 2rem;
  margin-bottom: 24px;
  font-size: 28px;
}

.title-video-landing p {
  text-align: center;
  color: #FFBB19;
  font-size: 17px;
  margin-top: 10px;
}

.title-video-landing a {
  color: white;
  text-decoration: underline;
}

.rotate {
  transform: rotate(-180deg);
  /*transform: rotate(180deg);*/
  transition: .3s;
}

.rotate-reset {
  transform: rotate(0deg);
  transition: .3s;
}

.arrow {
  width: 40px;
  height: 40px;
  right: 0;
  position: absolute;
  top: 4.3rem;
}

.static-nav {
  position: fixed;
  box-shadow: none !important;
  z-index: 7;
}

.area-txt-collap {
  margin-top: 3.2rem;
}

.area-txt-collap i {
  font-size: 50px;
}

.area-txt-collap>div {
  margin-left: 2rem;
}

.area-txt-collap h4 {
  font-size: 44px;
  font-weight: 500;
  margin: 0;
}

.area-txt-collap p {
  font-size: 25px;
  margin: 0;
  margin-top: 8px;
  font-weight: 300;
}

.help-collap {
  margin-top: 4.2rem;
}

.area-second-form {
  padding-top: 4.5rem;
  text-align: center;
  padding-bottom: 3rem;
  padding-left: 14px;
  padding-right: 14px;
}

.area-second-form h5 {
  margin: 0px;
  margin-bottom: 33px;
  font-size: 40px;
  font-weight: 700;
}

.btn-center-login {
  max-width: 280px;
  margin: 0 auto;
}

.area-second-form p {
  font-size: 12px;
}

.sign-in-landing {
  font-size: 16px !important;
  margin: 0 !important;
}

.sign-in-landing a{
  color: #2757B9;
}

.bck-steps-landing {
  background-color: #f4fdfb;
}

.tip-landing {
  background-color: white;
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.22);
  border-radius: 6px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.07);
  padding: 2rem 2rem;
}

.tip-landing p {
  margin: 0;
  line-height: 26px !important;
  font-size: 20px;
  font-weight: 500;
  color:rgba(0, 0, 0, 0.87)
}

.tip-landing span {
  color: #E6343D;
}

.tip-img1 {
  max-width: 200px;
  margin: 0 auto;
}

.tip-img2 {
  max-width: 100%;
  margin: 0 auto;
}

.pos-rel {
  position: relative;
}

.xplain-steps h6 {
  font-size: 30px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87)
}
.steps-area-collise{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}
.xplain-steps p {
  font-size: 17px;
  font-weight: 300;
  line-height: 22px;

}

.step-alone {
  display: inline-block;
  margin-bottom: 7rem;
}

.space-stps {
  margin-top: 3rem;
}
#sidenav-overlay,
.sidenav-overlay{
  z-index: 6 !important;
}

.user-view a{
  max-width: 100px;
  margin: 0 auto;
  margin-top: 2rem;
}

body.landingpagecm #nav-mobile li a{
  padding-left: 20px;
}

body.landingpagecm #nav-mobile li{
  border-bottom: 1px solid #eaeaea;
}
.navb i{
  color: white;
}

.new-text-c{

  text-align: center;

}

.font-w-c{
  font-weight: 500;
}

.mar-adit-1{
  margin-top: 20px;
}
.p-second-help{
  top: -16rem;
}


.txt-bannr-landing{
  text-align: left;
}

@media screen and (max-width: 1100px) {
  .static-nav ul a {
    padding: 0 8px;
  }
}

@media screen and (max-width: 992px) {
  .txt-bannr-landing h1 {
    font-size: 42px;
    margin-top: 4rem;
  }
  .brand-logo {
    width: 230px;
    float: right;
    -webkit-transform: translateX(-6%) !important;
    transform: translateX(-6%) !important;
  }
  .brand-logo img {
    margin-top: 8px;
  }
}

@media screen and (max-width: 800px) {
  .txt-bannr-landing h1 {
    font-size: 36px;
    margin-top: 5rem;
  }
  .main-form-landing {
    padding: 1.5rem 1rem;
  }
  .brand-logo img {
    margin-top: 8px;
  }

  .parallax-container .parallax img {
    opacity: 1;
    display: block;
    bottom: 0rem;
  }
}

@media screen and (max-width: 600px) {
  .txt-bannr-landing h1 {
    margin-top: 2rem;
    font-size: 32px;
  }
  .txt-bannr-landing h5 {
    font-size: 20px;
  }
  .main-form-landing {
    max-width: 100%;
    margin-top: 1.2rem;
  }
  .landing-bnn-home {
    min-height: 926px !important;
  }
  .area-txt-collap h4 {
    font-size: 25px;
    margin-right: 49px;
  }
  .area-txt-collap p {
    font-size: 15px;
    margin-right: 50px;
    line-height: 22px;
    font-weight: 500;
  }
  .step-alone {
    margin-bottom: 1rem;
  }
  .space-stps {
    margin-top: 1rem;
  }
  .tip-landing{
    display: none;
  }
  .tip-img1, .tip-img2{
    display: none;
  }
  .collapsible-body {
    padding: 1rem;
    padding-right: 15px !important;
  }
  .lists-faqs li div{
    padding-right: 48px;
    line-height: 20px;
    height: auto;
  }

  .parallax-container .parallax img {
    opacity: 1;
    display: block;
  }

  .parallax-container .parallax img.2{
    opacity: 1;
    display: block;
    bottom: -1rem;
  }

  .p-second-help {
    top: -18rem;
  }
}



@media screen and (max-width: 400px) {
  .txt-bannr-landing{
    text-align: center;
  }


}


/* end main style */

















































/* FOOTER */

.cente-foo {
  max-width: 800px;
  margin: 0 auto;
}

.no-pdg-left {
  padding-left: 0;
}

.no-pdg-right {
  padding-right: 0;
}

footer {
  background-color: #151515;
  min-height: 300px;
  padding-top: 56px;
}

.title-footer {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 16px;
}

.items-footer {
  color: #878585;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 14px;
}

.event-footer {
  max-width: 284px;
  min-height: 100px;
  border: 1px solid #494747;
  padding: 12px;
}

.box-event {
  width: 62px;
  height: 66px;
  background-color: #E58F24;
  float: left;
  margin-right: 18px;
}

.box-event div {
  width: 100%;
  min-height: 16px;
  background-color: #D88123;
}

.day-event-footer {
  font-size: 18px;
  color: white;
  font-weight: 500;
  margin-bottom: -3px;
  padding-top: 6px;
}

.month-event-footer {
  font-size: 13px;
  color: white;
  margin-bottom: 5px;
  font-weight: 500;
}

.time-event-footer {
  font-size: 13px;
  font-weight: 500px;
  color: white;
}

.name-event-footer {
  font-size: 15px;
  color: #E59225;
  font-weight: 700;
  padding-top: 16px;
  margin-bottom: 0;
}

.location-event-footer {
  color: #878585;
  font-size: 12px;
}

.location-event-footer i {
  margin-right: 4px;
}

.footer-below {
  background-color: #111111;
  min-height: 56px;
  margin-top: 18px;
  padding-top: 3px;
}

.privacy-footer {
  float: left;
}

.privacy-footer ul {
  padding-left: 31px;
}

.privacy-footer ul li {
  display: inline-block;
  padding-right: 32px;
  color: #747070;
  font-size: 14px;
}

.privacy-footer ul li a {
  color: #747070;
}

.by-storyrocket {
  color: #747070;
  font-size: 14px;
  padding-right: 52px;
  padding-top: 16px;
  text-align: center;
}

.by-storyrocket p {
  margin: 0;
}

.txt-cnt {
  text-align: left;
}

.list-inline>li {
  margin-bottom: 16px;
}

.icons-redes {
  width: 35px;
  margin-right: 10px;
}

/* FIN FOOTER */
