.s-copyright {

}

.s-copyright .banner-top-copy {
  background: url(../images/copyright.png) no-repeat center;
  background-size: cover;
  width: 100%;
  min-width: 80%;
  height: 26.5rem;
  position: relative;
  padding-top: 9px;
}

.s-copyright .titles-banners {
  color: white;
  font-weight: 400;
  font-size: 3.4rem;
  line-height: 4rem;
  max-width: 900px;
  margin: 0 auto;
}

.s-copyright .area-explains {
  max-width: 880px;
  margin: 0 auto;
}

.s-copyright .font-term-blod {
  font-weight: 700;
}

.s-copyright .space-bottom-64 {
  margin-bottom: 64px;
}


.s-copyright .area-explains {
  max-width: 880px;
  margin: 0 auto;
}

.s-copyright .space-top {
  margin-top: 64px;
}