.s-dashboard {

}
.s-dashboard .dashboard-notification {
  float: left;
  display: inline-block;
  min-width: 350px;
}

.s-dashboard .dashboard-notification-content {

}

.s-dashboard .text-title-d {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  /* text-transform: uppercase; */
  padding: 21px 0 43px 0;
  margin-bottom: 5px;
  float: left;
  width: 100%;
  display: inline-block;
}

.sidebar-nav.toggled {
  width: 57px;
  overflow: hidden;
}
.s-dashboard .s-dashboard-body-content {
  width: 90%;
  margin: auto;
}
.s-dashboard {
  background-color: #e6ecf0;
}
.s-dashboard .boder-hr {
  width: 42.5%;
  display: inline-block;
  float: left;
  height: 2px;
  background: #c7c7c7;
  position: relative;
  top: 13px;
}
.s-dashboard .font-autor-card {
  font-size: 14px;
  font-weight: 500;
  color: white;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  width: 76%;
}
.s-dashboard img.responsive-img, .s-dashboard  video.responsive-video {
  width: 100%;
}
.s-dashboard .new-info-card-project {
  position: absolute;
  bottom: -9rem;
  color: white;
  width: 100%;
  padding: 0 20px;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: pointer;
  height: 184px;
}
.s-dashboard .font-p-title-card {
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  color: #00B4FF;
  margin: 0;
}

.s-dashboard .new-info-card-project .logline-card {
  color: white;
  line-height: 14px;
  font-size: 13px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  line-height: normal;
}
.s-dashboard .gender-on-card {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 26px;
  margin-top: -8px;
  padding-bottom: 3px;
}
.s-dashboard .down-part-cardproject {
  height: 32px;
  width: 100%;
}
.s-dashboard .circle-on-card {
  width: 52px;
  height: 52px;
  display: inline-block;
  position: absolute;
  background: white;
  border-radius: 30px;
  right: 15px;
  top: 13px;
  overflow: hidden;
  border: 2px solid #fff;
  z-index: 9;
}
.s-dashboard .down-part-cardproject .icon-on-card i {
  color: white;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 4px;
}
.s-dashboard .join-grupo {
  padding: 12px 15px 13px 15px;
}
.s-dashboard .member-dash-g {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 3px;
  display: inline-block;
}
.s-dashboard .overlay-group-dash {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
}
.s-dashboard .font-grupo3 {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #232323;
}
.s-dashboard .conte-parra-g {
  width: 100%;
  padding: 10px;
  height: 55px;
  background: rgba(255, 255, 255, 0.85);
  position: absolute;
  top: 75%;
}
.s-dashboard .group-dash1 {
  width: 100%;
  position: relative;
  height: 59px;
  background: rgba(0, 0, 0, 0.66);
  padding: 11px;
  color: #fff;
}
.s-dashboard .circle-grupo {

}
.s-dashboard img.responsive-img, .s-dashboard  video.responsive-video {
  width: 100%;
}
.s-dashboard .new-buttom-dash-g {
  padding: 10px 15px 10px 15px;
  border-radius: 30px;
  text-align: center;
  border: 1px solid #246ebd;
  color: #246ebd;
  vertical-align: middle;
  float: right;
  margin-top: 5px;
  font-family: "Roboto","Helvetica","Arial",sans-serif !important;
  font-weight: 500;
}
.s-dashboard {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}
.s-dashboard .cont-menber-dash {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: text-bottom;
  background: #246ebd;
  color: white;
  text-align: center;
  padding-top: 12px;
  border-radius: 3px;
  font-family: "Roboto","Helvetica","Arial",sans-serif !important;
}

.s-dashboard .quantity-cardmembers {
  margin: 0;
  padding: 6px 0 14px 0;
  color: #7b7878;
  font-size: 12px;
  font-weight: 400;
}
.s-dashboard .card-member-on-dash .new-card-members .down-part-cardmember .quantity-cardmembers {
  font-weight: 600;
}
.s-dashboard .quantity-cardmembers span {
  margin: 0 8px;
}
.s-dashboard .down-part-cardmember {
  /* background-color: black; */
  background-color: #ffffff;
  color: white;
  border-radius: 0 0 6px 6px;
  padding: 0 20px;
}
.s-dashboard .icon-dash1 i {
  color: #737373;
  font-size: 20px;
}
.s-dashboard .card-ocupation {
  font-size: 14px;
  font-weight: 700;
  margin-left: 3px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: -1px;
  line-height: 16px;
}
.s-dashboard .card-member-on-dash .new-card-members .top-part-carmember .flex .country-card-member {
}

.s-dashboard .font-grupo1 {
  font-family: "Roboto","Helvetica","Arial",sans-serif !important;
  width: 75%;
  font-weight: 700;
  font-size: 16px;
  color: #00B4FF;
}

.s-dashboard .font-grupo2 {
  font-family: "Roboto","Helvetica","Arial",sans-serif !important;
  width: 75%;
  font-size: 14px;
  font-weight: 500;
}
.s-dashboard .font-grupo2 a {
  font-weight: 700;
  color: #00B4FF;
}
.s-dashboard .country-card-member {
  font-size: 12px;
  font-weight: 500;
  color: #797474;
  display: inline-block;
  margin: 0;
}
.s-dashboard .top-part-carmember .flex i {
  font-size: 13px;
  display: inline-block;
  position: relative;
  top: 2px;
}
.s-dashboard .dash-tipe {
  font-size: 14px;
  font-weight: 700;
  color: white;
  background: #246EBD;
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
  margin: 10px 0px;
  margin-bottom: 7px;
}

.new-card-members {
  width: 226px;
  height: auto;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin: 0 20px 20px 0;
  /* overflow: hidden; */
  cursor: pointer;
  border-radius: 6px;
}
.s-dashboard .top-part-carmember {
  background-color: #ffffff;
  color: #353333;
  height: 50px;
  border-radius: 6px 6px 0 0;
  padding: 8px 13px;
  -webkit-font-smoothing: antialiased;
}
.s-dashboard .area-icon-dash {
  margin-bottom: 20px;
  text-align: left;
}
.s-dashboard .content-img-dsh {
  width: 100%;
  height: 140px;
  overflow: hidden;
  border-radius: 6px 6px 0px 0px;
  z-index: 0;
  position: relative;
}
.s-dashboard .marg-prov {
  margin-top: 3rem;
}
/*.s-dashboard .padding-dash3 {
  display: inline-block;
  width: 33.3%;
  float: left;
}*/
.padding-dash3-content {
  width: 90%;
  margin: auto;
}
.s-dashboard .show-member-card {
  height: 226px;
  overflow: hidden;
  -moz-transition: all 100ms ease;
  -webkit-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  transition: all 100ms ease;
}
.s-dashboard .full-img-card {
  width: 100%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.s-dashboard .content-dash3 {
  position: absolute;
  padding: 0px 15px;
  height: initial;
  bottom: 0;
}
.s-dashboard .font-dash1 {
  font-size: 14px;
  font-weight: 500;
  color: #616161;
  margin-bottom: 4px;
}
.s-dashboard .padding-dsh-img {
  padding: 3px 15px;
}
.s-dashboard .content-dash2 {
  display: inline-block;
  width: 75%;
  vertical-align: super;
}
.s-dashboard .title2-dash-blog {
  font-size: 13px;
  font-weight: 400;
  color: white;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: normal;
}
.s-dashboard .title-dash-blog {
  font-size: 15px;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
  margin-top: 0;
}
.s-dashboard .overlay-dash {
  width: 100%;
  position: absolute;
  /* top: 0; */
  height: 100%;
  background-color: #ffffff00;
  background-image: linear-gradient(180deg, #ffffff00 0%, #000000 99%);
}
.s-dashboard ._explore-realid {
  color: #727272 !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  text-align: left;
  width: 239px;
}
.s-dashboard ._explore-realid a {
  display: block;
  padding: .5rem;
  background: #e0922b;
  color: #242323;
  width: 68px;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
  margin-top: .8rem;
}
.s-dashboard .name-on-newcardmember {
  color: #CF8F36;
  margin: 0;
  padding-top: 12px;
  font-weight: 500;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.s-dashboard .icon-icono-project4:before {
  content: "\e942";
  font-size: 20px;
  font-weight: 300;
  color: #03B66F;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color;
  transition-property: color;
}
.s-dashboard .font-autor-card a {
  font-weight: 700;
  color: #00B4FF;
}
.s-dashboard .show-poster-card {
  height: 310px;
}
.s-dashboard .head-of-project {
  width: 100%;
  height: 40px;
  background: #000000ad;
  padding: 13px;
  position: absolute;
}
.s-dashboard .overlay-card-project {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.77) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.77)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.77) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.77) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.77) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.77) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.s-dashboard .target-future {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  width: 15%;
}
.s-dashboard .card-medium-blo {
 /* width: 226px;*/
  background: #fff;
  height: auto;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-top: 0px;
}
.s-dashboard p {
  font-family: 'Roboto', sans-serif;
}
.s-dashboard .card-medium-blo-group {
  width: 226px;
  height: auto;
  padding-bottom: 15px;


  background: #fff;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-top: 0px;
}
.s-dashboard .new-warp-dash {
  width: 100%;
 /* float: left;*/
  /*display: inline-block;*/
  position: relative;
  padding: 24px 0 55px 0;
}
.s-dashboard .new-warp-dash-content {
  margin: 0 auto;
  width: 100%;
  display: flex;
 /* text-align: center;*/
}
.s-dashboard .card-conten-group {
  width: 100%;
  height: 215px;
  overflow: hidden;
  border-radius: 6px 6px 0px 0px;
  position: relative;
}
.s-dashboard .font-dahs1 {
  font-family: "Roboto","Helvetica","Arial",sans-serif !important;
  font-size: 14px;
  font-weight: 700;
  margin-left: 8px;
  color: #737373;
}
.s-dashboard  .newer-card-project{
  margin: 0 20px 20px 0 !important;
}
.s-dashboard .newer-card-project{
  width: 252px;
}
.s-dashboard .new-card-members.link-div{
  width: 252px;
}
/***/
@media screen and (max-width: 1580px){
  .card-meidum-aver {
      width: 260px;
      height: auto;
  }
  .card-large-pro-publi {
    width: 260px;
    height: auto;
  }
  .card-medium-blo {
    width: 260px;
  }
}

.card-meidum-aver {
    width: 289px;
    height: 280px;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    margin-top: 43px;
    overflow: hidden;
}

.card-large-pro-publi {
  width: 289px;
  height: 400px;
  background: #6392CB;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-top: 5rem;
  overflow: hidden;
}
img.responsive-img, video.responsive-video {
  width: 100%;
  height: auto;
}

.margin-publici {
  margin-top: 5rem;
}
.card-meidum-aver {
  width: 289px;
  height: 280px;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-top: 43px;
  overflow: hidden;
}
@media screen and (max-width: 1300px){
  .new-warp-dash {
    min-height: 100%;
    width: 1080px;
    position: relative;
    padding: 34px 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    min-width: 800px;
}
}

@media screen and (max-width: 1440px){
  .new-warp-dash {
    min-height: 100%;
    width: 1200px;
    position: relative;
    padding: 34px 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    min-width: 800px;
}
}

@media screen and (max-width: 1580px){
  .new-warp-dash {
    padding: 34px 10px !important;
}
.new-warp-dash {
    min-height: 100%;
    max-width: 1500px;
    position: relative;
    padding: 34px 20px 10em 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    min-width: 800px;
}
.new-card-members {
  width: 260px;
}
.s-dashboard .card-medium-blo-group{
  width: 260px;
}
}
@media screen and (max-width: 1500px){
  .newer-card-project {
    width: 260px;
    height: 387px;
}
}

@media screen and (max-width: 768px){
  .newer-card-project {
    width: 240px !important;
    height: 340px !important;
  }
  .show-poster-card {
    height: 304px !important;
  }
}