/* FAQS */
.s-faqs .banner-top-copy {
  background: url(../images/copyright.png) no-repeat center;
  background-size: cover;
  width: 100%;
  min-width: 80%;
  height: 26.5rem;
  position: relative;
  padding-top: 9px;
}

.s-faqs .area-explains {
  max-width: 880px;
  margin: 0 auto;
}
.s-faqs .banner-top-faq {
  background: url(../images/banner-faqs.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  min-width: 80%;
  height: 26.5rem;
  position: relative;
  padding-top: 9px;
}

.s-faqs .faq-icons > li > div > i {
  position: absolute;
  top: 11px;
  right: 9px;
  margin-right: 1rem;
}
.s-faqs .area-explains div div {
  margin-bottom: 12px;
}
.s-faqs .faq-icons li div i {
  float: right;
  margin-right: 0;
  line-height: 2rem;
}

.s-faqs .space-bottom-64 {
  margin-bottom: 64px;
}
.s-faqs .space-top {
  margin-top: 64px;
}



.s-faqs .helpful {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 8px;
}

.s-faqs .helpful p {
  padding-top: 5px;
}

.s-faqs .circle-help {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #a2a2a2;
  text-align: center;
  padding-top: 2px;
  margin-right: 10px;
  color: #a2a2a2;
  cursor: pointer;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}

.s-faqs .circle-help i {
  float: none !important;
  font-size: 20px;
  font-weight: 700;
  padding-top: 1px;
  line-height: 1.5rem !important;
}

.s-faqs .circle-help:hover {
  background-color: #03B66F;
  border: 1px solid #03B66F;
  color: white;
}

.s-faqs .circle-no-help {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #a2a2a2;
  text-align: center;
  padding-top: 2px;
  margin-right: 10px;
  color: #a2a2a2;
  cursor: pointer;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}

.circle-no-help:hover {
  background-color: #e02c23;
  border: 1px solid #e02c23;
  color: white;
}

.s-faqs .circle-no-help i {
  float: none !important;
  font-size: 20px;
  font-weight: 700;
  padding-top: 1px;
  line-height: 1.5rem !important;
}

.s-faqs .bck-acordion-faqs {
  background-color: #EEEEEE;
  border: none;
  font-size: 17px;
  margin-bottom: 12px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  line-height: 17px;
  padding-top: 16px;
  position: relative;
}

.s-faqs .bck-acordion-faqs:hover {
  color: #246eb9;
}

.s-faqs .lists-faqs {
  border: none;
  box-shadow: none;
}

.s-faqs .body-faqs {
  border: none;
  font-size: 1.1rem;
  color: #233D4D;
}

.s-faqs .box-help-faqs {
  margin-top: 12px;
  font-size: 13px;
  color: #a2a2a2;
  font-weight: 300;
}

.s-faqs .color-blue-faq {
  color: #246eb9;
}

.s-faqs .last-call-faqs {
  margin-left: 15px;
  font-size: 1.1rem;
  margin-top: 2rem;
}

.s-faqs .collapsible>li.active {
  color: #246eb9;
}


/* FIN DE FAQS */