footer {
    background-color: #151515;
    min-height: 300px;
    padding-top: 80px;
    margin-top: 0px;
    position: relative;
    z-index: 0;
}

.center-footer-area {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 3%;
}
footer .container .row {
    margin-bottom: 0;
}
.footer-below {
    background-color: #111111;
    min-height: 56px;
    margin-top: 18px;
    padding-top: 3px;
}

.by-storyrocket2 {
    text-align: center;
    float: none;
    margin-left: 11%;
    color: #747070;
    padding-top: 14px;
}

.title-footer {
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 16px;
}

.items-footer {
    color: #878585;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 14px;
    a{
        color: #878585;
    }
}

.icons-redes {
    width: 35px;
    margin-right: 10px;
    display: block;
    height: 35px;
    font-size: 35px;
}

#footer-res1 {
    display: none;
}

#fotter-last {
    display: none;
    color: #747070;
    font-size: 14px;
    padding-left: 20px;
}
