body {
  background-color: #f9f9f9;
  overflow-x: hidden;
}
.slider-home{
  margin-top: 64px;
}
.area-blog {
  background: #e6ecf0;
  padding-top: 6%;
}

.slider .slides li {
  overflow: initial;
}

.slider .slides li .caption {
  color: #fff;
  position: absolute;
  top: 74%;
  /* left: 15%; */
  width: 86%;
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.info-blog {
  max-width: 1070px;
  min-height: 192px;
  background-color: #E6E9F0;
  margin-top: -98px;
  margin: 0 auto;
  top: -120px;
  position: relative;
  padding: 24px 46px;
  background: #ffffff;
}

.slider .indicators {
  display: none;
}

.line-blog {
  width: 100%;
  height: 1px;
  background: #738a98;
  margin-top: 12px;
  clear: both;
}
/*cav1100262*/
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.pull-right .flex-container p {
  margin: 0;
}

.info-blog .all-txt-home-blog {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 15px;
}

.title-blog {
  font-size: 22px;
  font-weight: 500;
  margin-top: 23px;
  margin-bottom: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.info-blog .all-txt-home-blog {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 15px;
}

.btn-more-blog {
  height: 47px;
  line-height: 41px;
  color: black;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0 2.5rem;
  border-radius: 30px;
  padding-top: 2px;
  margin-left: 1px;
  margin-bottom: 4%;
  background-color: #f8a425;
  /* margin-top: 6rem; */
  margin-top: 9rem;
}

.clr3 {
  color: #ffffff !important;
}

.clr5 {
  color: #FCA100;
}

#nav-web li a {
  font-size: 14px;
}

.cover-page-content-1 {
  width: 100%;
  min-height: 570px;
  overflow: hidden;
  position: relative;
}
.cover-accordion-container.slider-home.cover-home{
  height: 397px;
}
.cover-accordion-container.slider-home{
  height: 560px;
}

.cover-accordion-container {
  width: 100%;
  /*height: 501px;*/
  overflow: hidden;
  position: relative;
}

.new-banner-sr {
  width: 100%;
  min-height: 570px;
  overflow: hidden;
  position: relative;
  /*    margin-top: 64px;*/
}

.slogan-on-bannerhome img {
  width: 100%;
  margin: 0 auto;
  display: block;
  margin-bottom: 11px;
}

.wrapper-home {
  padding-top: 64px;
  padding-bottom: 8rem;
  padding-left: 203px;
  background-color: #e6ecf0;
  padding-bottom: 0px;
  transition: all 0.2s ease;
  min-height: 1000px;
  position: relative;
}

.front-container-bannerhome {
  position: absolute;
  z-index: 110;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  max-width: 1200px;
  padding: 0 20px;
}

.new-banner-sr-log .front-container-bannerhome {
  position: absolute;
  z-index: 999;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 206px;
  max-width: 1200px;
  padding: 0 20px;
}

.area-rigth-banner {
  margin-top: 5rem;
}

.slogan-on-bannerhome {
  font-size: 58px;
  font-weight: 500;
  color: white;
  line-height: 61px;
  text-shadow: 2px 2px 9px #0800003b;
  margin-bottom: 0;
}

.call-to-action-new-home a {
  padding: 9px 32px;
  color: black;
  background-color: #f8a425;
  border-radius: 50px;
  margin: 18px 14px 10px 0;
  font-weight: 500;
  font-size: 15px;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}

.btn-sing-here {
  display: none !important;
  border-radius: 25px;
  padding: 10px 20px;
  color: white !important;
  font-size: 14px;
  margin-bottom: 8px;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  background: #001C31 !important;
}

.main-form-bannerhome {
  max-width: 420px;
  background-color: #FFBB18;
  right: 0;
  position: absolute;
  padding: 35px;
  border-radius: 10px;
  margin-top: 1.6rem;
  text-align: center;
}

.main-form-bannerhome h4 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 2px;
  line-height: 28px;
  margin-top: 0;
}

.main-form-bannerhome h5 {
  font-size: 17px;
  /* margin: 6px 0 18px 0;*/
  /* width: 349px;*/
  margin: 6px auto !important;
  margin-bottom: 18px !important;
}

#frm-singup input[type="text"],
#frm-singup input[type="email"] {
  width: 338px !important;
  margin: 0 auto;
}

::-webkit-input-placeholder {
  color: #d1d1d1;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #d1d1d1;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #d1d1d1;
}

:-ms-input-placeholder {
  color: #d1d1d1;
}

.clr-txt1 {
  color: #001C31;
}

.main-inputs-bannerhome {
  background-color: rgba(255, 255, 255, 1) !important;
  width: 100% !important;
  padding: 5px 12px !important;
  border: none !important;
  border-radius: 5px !important;
  height: 36px !important;
  outline: none !important;
  font-family: Roboto, sans-serif !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -o-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  color: #848484 !important;
  box-sizing: border-box !important;
  margin-bottom: 10px !important;
  color: #3c3b3b;
}

.accept-termins-banner {
  color: #001C31;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  padding: 12px 6px 14px 6px;
  letter-spacing: -0.5px;
  line-height: 15px;
  text-align: center;
}

.btn-sing-here-h {
  display: block;
  border-radius: 25px;
  padding: 10px 20px;
  color: white;
  font-size: 14px;
  margin-bottom: 8px;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  background: #001C31;
  width: 100%;
  margin: -3px auto;
}

.ready-to-login {
  font-size: 13px;
  margin-top: 15px;
  color: #001C31;
}

.ready-to-login a {
  color: #001C31;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  font-weight: 700;
}

.sprite-newbanner {
  width: 100%;
  height: 570px;
  background: rgba(7, 100, 250, 1);
  background: -moz-linear-gradient(left, rgba(7, 100, 250, 1) 0%, rgba(82, 232, 197, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(7, 100, 250, 1) 0%, rgba(82, 232, 197, 1) 100%);
  background: -o-linear-gradient(left, rgba(7, 100, 250, 1) 0%, rgba(82, 232, 197, 1) 100%);
  background: -ms-linear-gradient(left, rgba(7, 100, 250, 1) 0%, rgba(82, 232, 197, 1) 100%);
  background: linear-gradient(to right, #93a9bf 0%, #2f313ad6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0764fa', endColorstr='#52e8c5', GradientType=1);
  margin: 0 auto;
  position: absolute;
  z-index: 99;
  opacity: 0.7;
}

.area-fade-images {
  position: relative;
}

.area-fade-images ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title-mbr {
  text-align: center;
  display: block;
  color: #fff;
  margin-bottom: .5rem;
  font-weight: 800;
  font-size: 19px;
}

.area-fade-images ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fade-images li {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}

.full-img {
  width: 100%;
}
.area-blog-bottom {
  margin-bottom: 0;
}
.cover-accordion-container ul li img {
  width: 100%;
}

.new-banner-sr ul li img {
  width: 100%;
}

.clr-back-genres {
  padding-top: 3.2rem;
  padding-bottom: 6rem;
  background: rgba(252, 253, 248, 1);
  background: -webkit-linear-gradient(top, rgba(252, 253, 248, 1) 0%, rgba(135, 255, 229, 0.25) 100%);
  background: -o-linear-gradient(top, rgba(252, 253, 248, 1) 0%, rgba(135, 255, 229, 0.25) 100%);
  background: -ms-linear-gradient(top, rgba(252, 253, 248, 1) 0%, rgba(135, 255, 229, 0.25) 100%);
  background: linear-gradient(to bottom, rgba(252, 253, 248, 1) 0%, rgba(135, 255, 229, 0.25) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfdf8', endColorstr='#e7e7c9', GradientType=0);
}

.show-genres {
  margin-top: 3rem;
}

.custom-col1 {
  width: 20%;
  margin-left: auto;
  left: auto;
  right: auto;
  transition: all 0.3s ease;
}

.show-genres-area {
  text-align: center;
  color: white;
  padding: 0;
}

.ask-genre {
  padding: 47px 42px !important;
  margin-bottom: 5rem;
  height: 460px;
  position: relative;
}

.bck-color {
  background-color: white;
}

.custom-col2 {
  width: 80%;
  margin-left: auto;
  left: auto;
  right: auto;
  transition: all 0.3s ease;
}

.title_project_launch {
  font-size: 1.6rem;
  font-weight: 300;
  color: white;
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 97.9%;
  margin: 0;
  padding-top: 6em;
}

.fade-tr {
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}

.pos-rel {
  position: relative;
}

.genrs-icons {
  font-size: 4.4rem;
  color: white;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 23%;
}

.btn-see-all-genres {
  height: 39px;
  line-height: 37px;
  color: black;
  font-weight: 400;
  font-size: 16px;
  border-radius: 4px;
  padding-left: 1.6rem;
  padding-right: 2rem;
  white-space: nowrap;
  position: absolute !important;
  right: 2rem;
  bottom: 3rem;
}

.rotate2 {
  transform: rotate(0deg);
  margin-top: 9px;
  transition: .3s;
}

.icon-see-genres {
  width: 12px;
  margin-top: 10px;
  position: relative;
  top: 2px;
  left: 9px;
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #EBEBEB;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: black;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.big-title {
  font-size: 3.2rem;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.box-genres {
  height: 230px;
  overflow: hidden;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}

.pding-benefits {
  padding: 2rem 0 3rem 0;
}

.pding-benefits .titles {
  font-weight: 500;
}

.titles {
  margin-top: 0;
  padding-top: 0.6rem;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
  margin-top: 1rem;
}

.line-detail {
  background-color: #233D4D;
  width: 40px;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 8px;
  margin-top: 10px;
  position: relative;
  display: block;
}

.container {
  width: 90%;
}

.bann-icons {
  margin-top: 1.5rem;
  min-height: 504px;
}
.bann-icons div {
  cursor: pointer;
  transition: all 300ms ease;
}

.bann-icons > div:hover {
  box-shadow: 0px 6px 40px rgba(204, 204, 204, 0.42);
  border-radius: 8px;
  padding-top: 9px;
  padding-bottom: 3px;
  margin-top: 9px;
  margin-bottom: 4px;
}

.box-banner {
  margin: 0 auto;
  min-height: 452px;
  max-width: 240px;
  padding: 0 10px;
  position: relative;
}

.btn-join-st {
  height: 40px;
  line-height: 39px;
  color: black;
  font-weight: 400;
  font-size: 1.1rem;
  border-radius: 30px;
  margin-top: 18px;
  margin-bottom: 2.5rem;
  background-color: #f8a425;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 189px;
  bottom: 3rem;
}

.txt-icons {
  margin: 1rem 0;
  font-weight: 400;
}

.sub-title-bold {
  font-size: 1.6rem;
  margin: 0;
  padding-top: 0;
  font-weight: 400;
  padding: 0;
  line-height: 1.1em;
}

.box-banner._xpg {
  max-width: 270px !important;
}

.launch-coments {
  min-height: 525px;
  position: relative;
  /*margin-bottom: 5.5%;*/
}

.area-launch {
  background: #fff;
  width: 60%;
  min-height: 110%;
  position: absolute;
  left: 0;
  background-color: #E6E9F0;
}

.area-coments {
  width: 40%;
  position: absolute;
  right: 0;
  min-height: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-coments {
  padding: 46px 0px 75px 80px;
  max-width: 474px;
  margin-right: auto;
}

.title-coments {
  padding-top: 0.6rem;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 50px;
  margin-top: 1rem;
}

.autor-launch-coments {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.info-autor {
  padding: 0 11px;
}

.info-autor-name2 {
  font-size: 1.6rem !important;
  font-weight: 700;
  color: #233D4D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin-bottom: -3px;
  margin: 0;
}

.not-botom {
  margin-bottom: 0;
}
#FB-login .login-fb2{
  line-height: 2.5;
}
#nextSlider {
  width: 36px;
  height: 36px;
  background-color: rgba(4, 6, 18, 0.4);
  margin-right: 6px;
  position: absolute;
  z-index: 3;
  top: 35%;
  right: 32px;
  cursor: pointer;
}

#prevSlider {
  width: 36px;
  height: 36px;
  background-color: rgba(4, 6, 18, 0.4);
  margin-right: 6px;
  position: absolute;
  z-index: 3;
  top: 35%;
  left: 32px;
  transform: rotate(-180deg);
  cursor: pointer;
}

.launc-autor-ocupation2 {
  font-size: 16px !important;
  font-weight: 500;
  margin-bottom: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #246eb9;
  margin: 0;

}

.launch-autor-location2 {
  font-size: 16px !important;
  font-weight: 400;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #7E8083;
  margin: 0;
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.line_light2 {
  height: 1px;
  width: 100%;
  background-color: white;
  margin-bottom: 24px;
  margin-top: 23px;
}

.txt-coments {
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
}

.new-title-home-project {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0;
  line-height: 29px;
  color: #233D4D;
  text-align: center;
}

.few-pad-top-new-project {
  padding-top: 16px;
}
p.clr2.pd-mobile {
  margin: 0;
}
#launch-slider {
  margin-left: auto;
  padding-top: 20px;
  max-width: 649px;
}

.area-content-launch {
  max-width: 745px;
  margin-left: auto;
  height: 570px;
}

.btns-car {
  margin: 36px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 8;
}

.btn-car-on-home {
  bottom: 36px !important;
}

#prevButton {
  width: 36px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.35);
  margin-right: 6px;
  cursor: pointer;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  :hover {
    box-shadow: 2px 2px 9px #cccccc;
  }
}

#nextButton {
  width: 36px;
  height: 36px;
  background-color: rgba(4, 6, 18, 0.23);
  cursor: pointer;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  :hover {
    box-shadow: 2px 2px 9px #cccccc;
  }
}

#launch-slider {
  margin-left: auto;
  padding-top: 20px;
}

.carousel {
  min-height: 401px !important;
}

.few-top {
  margin-top: 22px !important;
}

.portada-project {
  max-width: 235px;
  height: 340px;
  padding-top: 13px;
  overflow: hidden;
}

.all-info-launch {
  background: white;
  padding: 12px 40px 12px 14px;
}

.title-launch {
  font-size: 21px;
  margin: 0;
  padding-top: 0;
  font-weight: 400;
  padding: 0;
  line-height: 1.1em;
}


.genre_project {
  font-size: 12px;
  border: 1px solid #233D4D;
  border-radius: 30px;
  color: #233D4D;
  padding: 2px 14px;
  margin-right: 10px;
  padding-top: 3px;
  font-weight: 500;
  text-align: center;
}

.self-rating {
  padding-top: 2px;
  font-size: 12px;
  margin-right: 10px;
  font-weight: 400;
  color: #233D4D;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  display: inline-block;
  height: auto;
}

.btn_type_project_p {
  font-size: 12px !important;
  border-radius: 30px;
  color: white !important;
  font-weight: 400;
  padding: 2px 10px;
  margin-right: 10px;
  background-color: #03B66F;
  padding-top: 4px;
  text-align: center;
  margin: 0;
}

.description_launch {
  font-size: 13px;
  max-width: 300px;
  font-weight: 400;
  margin-bottom: 14px;
  line-height: 17px;
  margin-top: 15px;
  color: #233D4D;
}

.icons-launch {
  font-size: 1.2em;
  color: #233D4D;
}

.cantidad-interaction {
  font-size: 12px;
  font-weight: 400;
  margin-right: 18px;
  color: #233D4D;
  margin-left: 2px;
}

.line_light {
  height: 1px;
  max-width: 320px;
  background-color: #b9b9b9;
  margin-bottom: 20px;
  margin-top: 17px;
}

.autor-launch {
  width: 62px;
  height: 62px;
}

.info-autor {
  padding: 0 11px;
}

.info-autor-name {
  font-size: 16px !important;
  font-weight: 700;
  color: #233D4D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  /* margin-bottom: -3px; */
  margin-top: 0;
  margin-bottom: 0;
}

.launc-autor-ocupation {
  font-size: 14px !important;
  font-weight: 500;
  margin-bottom: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #246eb9;
  margin: 0;
}

.launch-autor-location {
  font-size: 12px !important;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #7E8083;
  margin-top: 0;
  margin-bottom: 0;
}

.requiered-f {
  text-align: right;
  font-size: 10px;
  font-weight: 500;
  color: #a2a2a2;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.new-banner-sr ul li img {
  width: max-content;
}
#frm-signin .input-field{
  margin: 0;
  margin-bottom: 1.5rem;
}
[type="checkbox"] + label:before,
[type="checkbox"]:not(.filled-in) + label:after {
  border: 2px solid #246EB9;
  margin-top: 8px;
  width: 16px;
  height: 16px;
}
#modal111{
  height: 550px !important;
}
#modal111 .modal-content{
  padding: 0;
}
.btn-more-blog:hover {
  background-color: #ec9612;
}
.title_project_launch:hover {
  background-color: rgba(0, 152, 255, 0.65);
}


.slider-home .slides li {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: inherit;
  overflow: hidden;
}


.slider-home .indicators {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 68px;
  margin: 0;
  z-index: 3;
}
.parallax .slider-home .slides img {
  bottom: auto !important;
}
.slider-home .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 7px;
  background-color: #fdbb337a;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  border-radius: 50%;
}

.slider-home .indicators .indicator-item.active {
  background-color: #fdbb33;
}
.txt-bannr-home-landing {

}

.slider-home .slides li.active {
  z-index: 2;
}

.text-banners-home.text-banners-home-custom {
  margin-top: 137px;
}
.banner-home-img-icon-1 {
  float: left;
  display: inline-block;
  width: 100%;
  min-height: 100px;
}
.new-banner-sr-home {
  margin-top: 64px !important;
}

.s-home .parallax img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.s-home .float-rigt-content{
  z-index: 9;
  position: absolute;
  right: 0 !important;
}
.s-home .parallax img {
  opacity: 1;
  display: block;
}

.s-home .new-banner-sr ul li img {
  width: 100%;
}
.parallax-container .parallax img {
  /*background-position: 0 70px;*/
}
.banner-home-img-icon-1 img.lazy-image.full-img.image-logo-slider {
  position: relative;
  float: left;
  display: inline-block;
}
.text-banners-home-1 {
  float: left;
  display: inline-block;
  width: 100%;
}
.text-banners-home-1-content {
  font-size: 55px;
  color: white;
  max-width: 550px;
  line-height: 56px;
  font-weight: bolder;
}
.banner-home-img-icon-1-content {

  float: left;
  display: inline-block;
  width: 100%;
}
.banner-home-img-icon-1-content {
  float: left;
  display: inline-block;
  width: 512px;
}


.slick-initialized .slick-slide {
  width: 20% !important;
}
.items-landingpage-home {
  margin: 59px auto 17px auto !important;
  width: 90%;
}
.slick-slide .pos-rel {
  text-align: center;
}
.show-genres-title {
  color: #fdbb33;
  font-size: 33px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 14px;
}
.show-genres-title-sub {
  font-size: 22px;
  text-align: center;
  margin-top: 0;
}
.items-landingpage-row {
  float: left;
  width: 100%;
  margin: 0 0 32px 0;
}
.items-landingpage-bloq {
  width: 33.3%;
  float: left;
}
.items-landingpage-bloq-content {
  width: 72%;
  margin: auto;
}
.jcarousel-wrapper ul {
  width: 100% !important;
}

.items-landingpage .items-landingpage-bloq-content .align-itm .font-w-c {
  font-weight: bolder;
  font-size: 17px;
}

.items-landingpage .items-landingpage-bloq-content .align-itm p.light {
  font-weight: normal;
  line-height: 19px !important;
  font-size: 16px;
}

.slider-home .caption.left-align {
  margin-left: 80px;
}

.text-banners-home-1 button.btn-color-primary {
  padding: 11px 29px 9px 29px;
  font-weight:bolder;
  min-height: 44px;
  float: left;
  margin-top: 22px;
  font-size:15px;
  display: inline-block;
}
.tooltip-nav.toggled .beta-menu-icon {
  display: none;
}

.items-landingpage-title-content {
  font-size: 27px;
  font-weight: bold;
  text-align: center;
}
.new-text-c {
  text-align: center;
}
.items-landingpage-button-content {
  display: inline-block;
  width: 100%;
}
.items-landingpage-button {
  width: 100%;
  float: left;
  text-align: center;
  margin: 39px 0 0 0;
}
.text-banners-home h1 {
  text-transform: uppercase;
  font-size: 40px !important;
  margin-top: 12rem !important;
  color:#fdbb33 !important;
  text-shadow: 0px 1px 12px #0c0c0c59;
  font-weight: bolder;
}
.last-btn-slider .text-banners-home  h1{
  margin-top: 16rem !important;
}
.text-banners-home h5{
  font-size: 30px;
  font-weight: 400;
  text-shadow: 0px 1px 12px #0c0c0c59
}
.image-logo-slider{
  width: 100% !important;
  min-width: auto !important;
}
.text-banners-home h5 button{
  font-weight: 400;
  font-size: 1.1rem;
  height: 40px;
  line-height: 28px;
}
.btn-primary-small {
  border-radius: 3px;
  width: auto;
  height: 32px;
  color: #0D0E10;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding: 7px 15px;
  right: initial;
  bottom: 11rem;
}

.btn-color-primary {
  border: 1px solid #D5AB55;
  background-color: #ffd96a;
  background-image: linear-gradient(180deg, #ffd96a 0%, #ffbc00 100%);
  transition: all 0.3s;
}

.btn-color-primary:hover {
  border: 1px solid #D5AB55;
  background-color: #f8b701;
  background-image: linear-gradient(180deg, #f8b701 0%, #f8b701 100%);
}

@media only screen and (max-width: 710px) {
  .text-banners-home-1-content {
    font-size: 35px;
    line-height: 44px;
  }
  .text-banners-home-1 button.btn-color-primary {
    padding: 11px 6px 9px 6px;
    text-align: center;
    height: auto;
    max-height: none;
  }
  .banner-home-img-icon-1{
    min-height: 55px;
  }
  .slider-home .caption.left-align {
    margin-left: auto !important;
    width: 79%;
    margin: auto !important;
  }
  .text-banners-home h1 {
    margin-top: 30% !important;
    font-size: 28px !important;
  }
  .text-banners-home.text-banners-home-custom {
    margin-top: 59px;
  }
  .text-banners-home-1 {

  }
  .main-form-landing-home {
    display: none;
  }
  .text-banners-home-1 button.btn-color-primary {
    padding: 11px 0 9px 0;
    text-align: center;
  }

  nav .brand-logo {
    left: auto;
    margin: auto;
    float: none;
  }
  .landing-bnn-home-index {
    min-height: 585px !important;
  }
  .parallax-container-one {
    height: 585px !important;
  }
  .cont-dot {
    bottom: 0;
    top: 40rem;
  }


  img.lazy-image.full-img.image-logo-slider {
    width: 81%;
  }
  .text-banners-home h5 {
    font-size: 25px;
  }
  .text-banners-home h5 button {
    font-size: 11px;
    width: 100%;
  }
  .items-landingpage-bloq {
    width: 100%;
    float: left;
    margin-bottom: 33px;
  }
  #launch-slider .portada-project img {
    height: auto !important;
  }
  #launch-slider .portada-project {
    height: auto !important;
  }
  .carousel-item  white-text {
    left: 2px;
  }
  .description_launch.no-mobil {
    display: none;
  }
  .flex-container.no-mobil {
    display: none;
  }
  .new-banner-sr-home {
    margin-top: 56px !important;
  }
  .area-blog {
    padding-top: 18%;
  }
  .flex-container.genres-space.no-mobil {
    display: none;
  }
  .area-coments {
    display: none;
  }
  .area-launch {
    width: 95%;
    min-height: auto;
  }
  .carousel.carousel-slider .carousel-item {
    background: white;
  }
  .carousel .indicators {
    background: white;
  }
  .area-launch .area-content-launch {
    height: 452px;
    padding-bottom: 0;
  }
  .new-title-home-project {
    text-align: center;
    margin: auto;
    padding: 0;
  }
  .items-landingpage-button-content button.btn-primary-small.btn-color-primary {
    padding: 7px 0;
    font-size: 13px;
    width: 100%;
    float: left;
    min-height: 58px;
  }

  .slick-initialized .slick-slide {
    width: 85% !important;
    margin: auto;
    float: none;
  }

  .slider.lazy {
    height: 820px !important;
  }
  .launch-coments {
    min-height: 478px;
  }
  .new-title-home-project {
    text-align: center;
  }


  nav .button-collapse i {
    right: 19px;
    position: relative;
    top: 1px;
  }
  .banner-home-img-icon-1-content {
    width: 90%;
  }
  .text-banners-home-1 {
    width: 90%;
  }

}



@media screen and (max-width: 600px){
  .no-mobil {
    display: none !important;
  }
}
