@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?gkfvf4');
  src:  url('../fonts/icomoon.eot?gkfvf4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?gkfvf4') format('truetype'),
    url('../fonts/icomoon.woff?gkfvf4') format('woff'),
    url('../fonts/icomoon.svg?gkfvf4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'icomoon4';
  src:  url('../fonts/icomoon4.eot?a2nb5u');
  src:  url('../fonts/icomoon4.eot?a2nb5u#iefix') format('embedded-opentype'),
    url('../fonts/icomoon4.ttf?a2nb5u') format('truetype'),
    url('../fonts/icomoon4.woff?a2nb5u') format('woff'),
    url('../fonts/icomoon4.svg?a2nb5u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'icomoon2';
  src:  url('../fonts/icomoon2.eot?7zlhjt');
  src:  url('../fonts/icomoon2.eot?7zlhjt#iefix') format('embedded-opentype'),
    url('../fonts/icomoon2.ttf?7zlhjt') format('truetype'),
    url('../fonts/icomoon2.woff?7zlhjt') format('woff'),
    url('../fonts/icomoon2.svg?7zlhjt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'icomoon3';
  src:  url('../fonts/icomoon3.eot?olz5mm');
  src:  url('../fonts/icomoon3.eot?olz5mm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon3.ttf?olz5mm') format('truetype'),
    url('../fonts/icomoon3.woff?olz5mm') format('woff'),
    url('../fonts/icomoon3.svg?olz5mm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'icomoon7';
  src:  url('../fonts/icomoon7.eot?71wgti');
  src:  url('../fonts/icomoon7.eot?71wgti#iefix') format('embedded-opentype'),
    url('../fonts/icomoon7.ttf?71wgti') format('truetype'),
    url('../fonts/icomoon7.woff?71wgti') format('woff'),
    url('../fonts/icomoon7.svg?71wgti#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon8';
  src:  url('../fonts/icomoon8.eot?e1qg1j');
  src:  url('../fonts/icomoon8.eot?e1qg1j#iefix') format('embedded-opentype'),
    url('../fonts/icomoon8.ttf?e1qg1j') format('truetype'),
    url('../fonts/icomoon8.woff?e1qg1j') format('woff'),
    url('../fonts/icomoon8.svg?e1qg1j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'icomoon9';
  src:  url('../fonts/icomoon9.eot?n886bl');
  src:  url('../fonts/icomoon9.eot?n886bl#iefix') format('embedded-opentype'),
    url('../fonts/icomoon9.ttf?n886bl') format('truetype'),
    url('../fonts/icomoon9.woff?n886bl') format('woff'),
    url('../fonts/icomoon9.svg?n886bl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon10';
  src:  url('../fonts/icomoon10.eot?d5nmg7');
  src:  url('../fonts/icomoon10.eot?d5nmg7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon10.ttf?d5nmg7') format('truetype'),
    url('../fonts/icomoon10.woff?d5nmg7') format('woff'),
    url('../fonts/icomoon10.svg?d5nmg7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon15';
  src:  url('../fonts/icomoon15.eot?qujygc');
  src:  url('../fonts/icomoon15.eot?qujygc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon15.ttf?qujygc') format('truetype'),
    url('../fonts/icomoon15.woff?qujygc') format('woff'),
    url('../fonts/icomoon15.svg?qujygc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'icomoon16';
  src:  url('../fonts/icomoon16.eot?2y3iah');
  src:  url('../fonts/icomoon16.eot?2y3iah#iefix') format('embedded-opentype'),
    url('../fonts/icomoon16.ttf?2y3iah') format('truetype'),
    url('../fonts/icomoon16.woff?2y3iah') format('woff'),
    url('../fonts/icomoon16.svg?2y3iah#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'icomoon17';
  src:  url('../fonts/icomoon17.eot?1wigdd');
  src:  url('../fonts/icomoon17.eot?1wigdd#iefix') format('embedded-opentype'),
    url('../fonts/icomoon17.ttf?1wigdd') format('truetype'),
    url('../fonts/icomoon17.woff?1wigdd') format('woff'),
    url('../fonts/icomoon17.svg?1wigdd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'icomoon11';
  src:  url('../fonts/icomoon11.eot?sik0z2');
  src:  url('../fonts/icomoon11.eot?sik0z2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon11.ttf?sik0z2') format('truetype'),
    url('../fonts/icomoon11.woff?sik0z2') format('woff'),
    url('../fonts/icomoon11.svg?sik0z2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'icomoon30';
  src:  url('../fonts/icomoon30.eot?cvmggm');
  src:  url('../fonts/icomoon30.eot?cvmggm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon30.ttf?cvmggm') format('truetype'),
    url('../fonts/icomoon30.woff?cvmggm') format('woff'),
    url('../fonts/icomoon30.svg?cvmggm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon30-"], [class*=" icon30-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon30' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



[class^="icon11-"], [class*=" icon11-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon11' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


[class^="icon17-"], [class*=" icon17-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon17' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



[class^="icon16-"], [class*=" icon16-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon16' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



[class^="icon15-"], [class*=" icon15-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon15' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


[class^="icon4-"], [class*=" icon4-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon4' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


[class^="icon2-"], [class*=" icon2-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




[class^="icon3-"], [class*=" icon3-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon3' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


[class^="icon10-"], [class*=" icon10-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon10' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



[class^="icon9-"], [class*=" icon9-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon9' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



[class^="icon8-"], [class*=" icon8-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon8' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



[class^="icon7-"], [class*=" icon7-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon7' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.icon-icono-form1:before {
  content: "\e900";
  color: #fff;
}
.icon-icono-form2:before {
  content: "\e901";
  color: #fff;
}
.icon-icono-form3:before {
  content: "\e902";
  color: #f7f7f7;
}
.icon-icono-form4:before {
  content: "\e903";
  color: #f7f7f7;
}
.icon-icono-form5:before {
  content: "\e904";
  color: #03b66f;
}
.icon-icono-form6:before {
  content: "\e905";
  color: #246eb9;
}
.icon-icono-form7:before {
  content: "\e906";
  color: #fff;
}
.icon-icono-form8:before {
  content: "\e907";
  color: #ffa31e;
}
.icon-icono-form9:before {
  content: "\e908";
  color: #fff;
}
.icon-icono-form10:before {
  content: "\e909";
  color: #fff;
}
.icon-icono-form11:before {
  content: "\e90a";
  color: #fff;
}
.icon-icono-form12:before {
  content: "\e90b";
  color: #fff;
}
.icon-icono-form13:before {
  content: "\e90c";
  color: #fff;
}
.icon-icono-form14:before {
  content: "\e90d";
  color: #fff;
}
.icon-icono-form15:before {
  content: "\e90e";
  color: #fff;
}
.icon-icono-form16:before {
  content: "\e90f";
  color: #fff;
}
.icon-icono-form17:before {
  content: "\e910";
  color: #004975;
}
.icon-icono-form18:before {
  content: "\e911";
  color: #bebebe;
}
.icon-icono-form19:before {
  content: "\e912";
  color: #bebebe;
}
.icon-icono-form20:before {
  content: "\e913";
}
.icon-icono-form21:before {
  content: "\e914";
  color: #fff;
}
.icon-icono-form22:before {
  content: "\e915";
  color: #93a9bf;
}
.icon-icono-form23:before {
  content: "\e916";
  color: #636363;
}
.icon-icono-form24 .path1:before {
  content: "\e917";
  color: rgb(0, 73, 117);
}
.icon-icono-form24 .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icono-form25:before {
  content: "\e919";
}
.icon-icono-project15:before {
  content: "\e91a";
  color: #f76859;
}
.icon-icono-profile1:before {
  content: "\e91b";
  color: #5d5f63;
}
.icon-icono-profile2:before {
  content: "\e91c";
  color: #fff;
}
.icon-icono-profile3:before {
  content: "\e91d";
  color: #f6645d;
      font-size: 16px;
}
.icon-icono-profile4:before {
  content: "\e91e";
  color: #fff;
  font-size: 16px;
   vertical-align: top;
}
.icon-icono-profile5:before {
  content: "\e91f";
  font-size: 16px;
  vertical-align: bottom;
}
.icon-icono-profile6:before {
  content: "\e920";
  color: #5d5f64;
}
.icon-icono-profile7:before {
  content: "\e921";
  color: #fff;
}
.icon-icono-profile8:before {
  content: "\e922";
  color: #fff;
}
.icon-icono-profile9:before {
  content: "\e923";
  color: #fff;
}
.icon-icono-profile10:before {
  content: "\e924";
  color: #fff;
}
.icon-icono-profile11:before {
  content: "\e925";
  color: #fff;
}
.icon-icono-profile12:before {
  content: "\e926";
  color: #fff;
}
.icon-icono-profile13:before {
  content: "\e927";
  color: #fff;
}
.icon-icono-profile14:before {
  content: "\e928";
  color: #fff;
}
.icon-icono-profile15:before {
  content: "\e929";
  font-weight: 700;
  color: #5d5f64;
  vertical-align: super;
}
.icon-icono-profile16:before {
  content: "\e92a";
  color: #5d5f64;
  font-weight: 700;
  vertical-align: super;
}
.icon-icono-profile17:before {
  content: "\e92b";
}
.icon-icono-profile18:before {
  content: "\e92c";
  color: #03b66f;
}
.icon-icono-profile20:before {
  content: "\e92d";
  color: #03b66f;
}
.icon-icono-profile21:before {
  content: "\e92e";
  color: #fff;
}
.icon-icono-profile22:before {
  content: "\e92f";
  color: #fff;
}
.icon-icono-profile23:before {
  content: "\e930";
  color: #fff;
}
.icon-icono-profile24:before {
  content: "\e931";
  color: #fff;
}
.icon-icono-profile25:before {
  content: "\e932";
  color: #fff;
      font-size: 2.2rem;
}
.icon-icono-profile26:before {
  content: "\e933";
  color: #fff;
}
.icon-icono-profile27:before {
  content: "\e934";
  color: #fff;
}
.icon-icono-profile28:before {
  content: "\e935";
  color: #93a9bf;
      font-size: 3rem;
}
.icon-icono-profile29:before {
  content: "\e936";
  color: #93a9bf;
  font-size: 25px;
}
.icon-icono-profile30:before {
  content: "\e937";
  color: #93a9bf;
}
.icon-icono-profile31:before {
  content: "\e938";
  color: #93a9bf;
  font-size: 25px;
}
.icon-icono-profile32:before {
  content: "\e939";
  color: #246eb9;
}
.icon-icono-profile33:before {
  content: "\e93a";
  color: #5d5f63;
}
.icon-icono-profile34:before {
  content: "\e93b";
  color: #5d5f63;
}
.icon-icono-profile35:before {
  content: "\e93c";
}
.icon-icono-profile36:before {
  content: "\e93d";
}
.icon-icono-profile37:before {
  content: "\e93e";
}
.icon-icono-project1:before {
  content: "\e93f";
  color: #fff;
}
.icon-icono-project2:before {
  content: "\e940";
  color: #f76859;
}
.icon-icono-project3:before {
  content: "\e941";
  color: #f76859;
}
.icon-icono-project4:before {
  content: "\e942";
   font-size: 20px !important;
    font-weight: 300;
    color: #03B66F;
    cursor: pointer;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color;
    transition-property: color;
}

.btnico .icon-icono-project4:before {
  content: "\e942";
   font-size: 20px;
    font-weight: 300;
    color: #03B66F;
    cursor: pointer;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color;
    transition-property: color;
}


.btnico-p .icon-icono-project4:before {
  content: "\e942";
   font-size: 26px;
    font-weight: 300;
    color: #03B66F;
    cursor: pointer;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color;
    transition-property: color;
        vertical-align: top;
}


.icon-icono-project5:before {
  content: "\e943";
     font-size: 20px;
    font-weight: 300;
    color: #03B66F;
    cursor: pointer;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color;
    transition-property: color;
}

.btnico .icon-icono-project5:before {
  content: "\e943";
     font-size: 20px;
    font-weight: 300;
    color: #03B66F;
    cursor: pointer;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color;
    transition-property: color;
}


.btnico-p .icon-icono-project5:before {
  content: "\e943";
     font-size: 26px;
    font-weight: 300;
    color: #03B66F;
    cursor: pointer;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color;
    transition-property: color;
    vertical-align: top;
}

.icon-icono-project6:before {
  content: "\e944";
  color: #03b66f;
}
.icon-icono-project7:before {
  content: "\e945";
  color: #fff;
}
.icon-icono-project8:before {
  content: "\e946";
  color: #f76859;
}
.icon-icono-project9:before {
  content: "\e947";
  color: #f76859;
}
.icon-icono-project10:before {
  content: "\e948";
  color: #f76859;
}
.icon-icono-project11:before {
  content: "\e949";
  color: #f76859;
}
.icon-icono-project12:before {
  content: "\e94a";
  color: #f76859;
}
.icon-icono-project13:before {
  content: "\e94b";
  color: #f76859;
}
.icon-icono-project14:before {
  content: "\e94c";
  color: #f76859;
}
.icon-icono-project16:before {
  content: "\e94d";
  color: #fff;
}
.icon-icono-project17:before {
  content: "\e94e";
}
.icon-icono-project18:before {
  content: "\e94f";
}
.icon-icono-project19:before {
  content: "\e950";
}
.icon-icono-project20:before {
  content: "\e951";
}
.icon-icono-project21:before {
  content: "\e952";
}
.icon-icono-project22:before {
  content: "\e953";
}
.icon-icono-project23:before {
  content: "\e954";
}
.icon-icono-project24:before {
  content: "\e955";
}
.icon-icono-project25:before {
  content: "\e956";
}
.icon-icono-project26:before {
  content: "\e957";
}
.icon-icono-project27:before {
  content: "\e958";
}
.icon-icono-project28:before {
  content: "\e959";
}
.icon-icono-project29:before {
  content: "\e95a";
  color: #246eb9;
}
.icon-icono-project30:before {
  content: "\e95b";
  color: #246eb9;
}
.icon-icono-project31:before {
  content: "\e95c";
  color: #246eb9;
}
.icon-action:before {
  content: "\e95d";
  color: #fff;
}
.icon-adventure:before {
  content: "\e95e";
  color: #fff;
}
.icon-agents:before {
  content: "\e95f";
}
.icon-animals:before {
  content: "\e960";
  color: #fff;
}
.icon-animation:before {
  content: "\e961";
  color: #fff;
}
.icon-anime:before {
  content: "\e962";
  color: #fff;
}
.icon-biography:before {
  content: "\e963";
  color: #fff;
}
.icon-children:before {
  content: "\e964";
  color: #fff;
}
.icon-close:before {
  content: "\e965";
}
.icon-comedy:before {
  content: "\e966";
  color: #fff;
}
.icon-coments:before {
  content: "\e967";
}
.icon-comic:before {
  content: "\e968";
  color: #fff;
}
.icon-crime:before {
  content: "\e969";
  color: #fff;
}
.icon-dark:before {
  content: "\e96a";
  color: #fff;
}
.icon-documentary:before {
  content: "\e96b";
  color: #fff;
}
.icon-drama:before {
  content: "\e96c";
  color: #fff;
}
.icon-erotic:before {
  content: "\e96d";
  color: #fff;
}
.icon-faith:before {
  content: "\e96e";
  color: #fff;
}
.icon-family:before {
  content: "\e96f";
  color: #fff;
}
.icon-fantasy:before {
  content: "\e970";
  color: #fff;
}
.icon-film:before {
  content: "\e971";
  color: #fff;
}
.icon-footer-facebook:before {
  content: "\e972";
  color: #878585;
}
.icon-footer-instagram:before {
  content: "\e973";
  color: #878585;
}
.icon-footer-twitter:before {
  content: "\e974";
  color: #878585;
}
.icon-free:before {
  content: "\e975";
}
.icon-graphics:before {
  content: "\e976";
  color: #fff;
}
.icon-heart:before {
  content: "\e977";
  color: #5d5f63;
}
.icon-history:before {
  content: "\e978";
  color: #fff;
}
.icon-horror:before {
  content: "\e979";
  color: #fff;
}
.icon-icon1:before {
  content: "\e97a";
}
.icon-icon2:before {
  content: "\e97b";
}
.icon-icon3:before {
  content: "\e97c";
}
.icon-icon4:before {
  content: "\e97d";
}
.icon-icon5:before {
  content: "\e97e";
}
.icon-icon6:before {
  content: "\e97f";
}
.icon-icon7:before {
  content: "\e980";
}
.icon-icon8:before {
  content: "\e981";
}
.icon-icon9:before {
  content: "\e982";
}
.icon-icon10:before {
  content: "\e983";
}
.icon-icon11:before {
  content: "\e984";
}
.icon-icon12:before {
  content: "\e985";
}
.icon-icon13:before {
  content: "\e986";
}
.icon-icon14:before {
  content: "\e987";
}
.icon-icon15:before {
  content: "\e988";
}
.icon-icon16:before {
  content: "\e989";
}
.icon-icon17:before {
  content: "\e98a";
}
.icon-icon18:before {
  content: "\e98b";
}
.icon-icon19:before {
  content: "\e98c";
}
.icon-icon20:before {
  content: "\e98d";
}
.icon-icon21:before {
  content: "\e98e";
}
.icon-lgbtq:before {
  content: "\e98f";
  color: #fff;
}
.icon-mafia:before {
  content: "\e990";
  color: #fff;
}
.icon-monster:before {
  content: "\e991";
  color: #fff;
}
.icon-musical:before {
  content: "\e992";
  color: #fff;
}
.icon-mystery:before {
  content: "\e993";
  color: #fff;
}
.icon-producers:before {
  content: "\e994";
}
.icon-reality:before {
  content: "\e995";
  color: #fff;
}
.icon-romance:before {
  content: "\e996";
  color: #fff;
}
.icon-sci:before {
  content: "\e997";
  color: #fff;
}
.icon-search-top:before {
  content: "\e998";
  color: #606060;
}
.icon-sport:before {
  content: "\e999";
  color: #fff;
}
.icon-spy:before {
  content: "\e99a";
  color: #fff;
}
.icon-super:before {
  content: "\e99b";
  color: #fff;
}
.icon-thriller:before {
  content: "\e99c";
  color: #fff;
}
.icon-view:before {
  content: "\e99d";
}
.icon-war:before {
  content: "\e99e";
  color: #fff;
}
.icon-western:before {
  content: "\e99f";
  color: #fff;
}
.icon-writers:before {
  content: "\e9a0";
}
.icon-young:before {
  content: "\e9a1";
  color: #fff;
}
.icon-activity:before {
  content: "\e9a2";
}
.icon-blog:before {
  content: "\e9a3";
}
.icon-contacts:before {
  content: "\e9a4";
}
.icon-create:before {
  content: "\e9a5";
  color: #ffa31e;
}
.icon-edit-profile:before {
  content: "\e9a6";
}
.icon-events:before {
  content: "\e9a7";
}
.icon-group:before {
  content: "\e9a8";
}
.icon-home:before {
  content: "\e9a9";
}
.icon-logout:before {
  content: "\e9aa";
}
.icon-mailbox:before {
  content: "\e9ab";
}
.icon-message2:before {
  content: "\e9ac";
  color: #fff;
}
.icon-notifications:before {
  content: "\e9ad";
  color: #fff;
}
.icon-pictures:before {
  content: "\e9ae";
}
.icon-plans:before {
  content: "\e9af";
  color: #ffa31e;
}
.icon-projects:before {
  content: "\e9b0";
}
.icon-search:before {
  content: "\e9b1";
}
.icon-search2:before {
  content: "\e9b2";
  color: #ffa31e;
}
.icon-settings:before {
  content: "\e9b3";
}
.icon-subcription:before {
  content: "\e9b4";
}
.icon-video:before {
  content: "\e9b5";
}


/*icon-new*/



.icon3-wold:before {
  content: "\e90c";
  color: #f76859;
  font-size: 30px;
    position: relative;
    bottom: 0px;
}
.icon3-movie2:before {
  content: "\e90d";
  color: #f76859;
   font-size: 22px;
    position: relative;
    bottom: 5px;
    left: 3px;

}
.icon3-Page-1:before {
  content: "\e90e";
  color: #f76859;
      font-size: 32px;
    position: relative;
    bottom: 0px;
}
.icon3-id:before {
  content: "\e90f";
  color: #f76859;
  font-size: 30px;
  position: relative;
  bottom: 0px;
}
.icon3-dollar:before {
  content: "\e910";
  color: #f76859;
      font-size: 26px;
    position: relative;
    bottom: 3px;
    left: 3px;
}
.icon3-huella:before {
  content: "\e911";
  color: #f76859;
  font-size: 32px;
  position: relative;
  bottom: 0px;
}
.icon3-heartp:before {
  content: "\e900";
  color: #f76859;
  font-size: 25px;
  position: relative;
  top: 7px;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color;
    transition-property: color;
}
.icon3-heartp:hover:before{

  color: #EF3E35;
}
.heart-1 .icon3-heartp:before {
  content: "\e900";
     color: #212121;
    font-size: 18px;
    position: relative;
    top: 3px;
}
.icon3-years:before {
  content: "\e901";
  color: #246eb9;
}
.icon3-woman-avatar:before {
  content: "\e902";
  color: #246eb9;
}
.icon3-star:before {
  content: "\e903";
}
.icon3-share:before {
  content: "\e904";
  font-size: 18px;
  padding-right: 10px;

}
.icon3-rocket:before {
  content: "\e905";
  color: #fff;
  font-size: 15px;
  position: relative;
  top: 1px;
}
.icon3-pdf:before {
  content: "\e906";
  font-size: 21px;
  position: relative;
    top: 2px;
}
.icon3-man:before {
  content: "\e907";
  color: #246eb9;
}
.icon3-hand:before {
  content: "\e908";
}
.icon3-eyes2:before {
  content: "\e909";
}
.icon3-coments:before {
  content: "\e90a";
      font-size: 18px;
    position: relative;
    top: 3px;
}
.icon3-heart2:before {
  content: "\e90b";
  color: #d0d0d0;
  font-size: 25px;
  position: relative;
  top: 7px;
  -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color;
    transition-property: color;

  cursor: pointer;
}
.icon3-heart2:hover:before{

  color: #EF3E35;
}



.icon7-info:before {
  content: "\e900";
  color: #246eb9;
}
.icon7-agent:before {
  content: "\e901";
  color: #f7f7f7;
  font-size: 20px;
}
.ic-no .icon7-agent:before {
  content: "\e901";
     color: #d3d3d3;
    font-size: 20px;
}
.ic-si .icon7-agent:before {
  content: "\e901";
     color: #2F313A;
    font-size: 20px;
}
.icon7-check:before {
  content: "\e902";
  color: #03B66F;
}
.icon7-continue:before {
  content: "\e903";
  color: #f9f9f9;
}
.ic-6 .icon7-continue:before {
  content: "\e903";
  color: #f9f9f9;
    position: relative;
    top: 2px;
    font-size: 12px;
    left: 5px;
}
.ic-7 .icon7-continue:before {
  content: "\e903";
  color: #f9f9f9;
  font-size: 12px;
}
.ic-9 .icon7-continue:before {
    content: "\e903";
    color: #246eb9 !important;
}
.icon7-descrip:before {
  content: "\e904";
  color: #fff;
   font-size: 16px;
    position: relative;
    top: 2px;
}
.icon7-project:before {
  content: "\e905";
  color: #fff;
   font-size: 22px;

}
.icon7-writer:before {
  content: "\e906";
  color: #f7f7f7;
  font-size: 20px;
}

.ic-no .icon7-writer:before {
  content: "\e906";
  color: #d3d3d3;
    font-size: 20px;
}
.ic-si .icon7-writer:before {
  content: "\e906";
  color: #2F313A;
    font-size: 20px;
}


/* icons-8*/

.icon8-more:before {
  content: "\e969";
  color: #ffa31e;
}
.icon8-american-express .path1:before {
  content: "\e900";
  color: rgb(39, 173, 228);
}
.icon8-american-express .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(45, 120, 188);
}
.icon8-american-express .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon8-american-express .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(45, 120, 188);
}
.icon8-american-express .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon8-banner:before {
  content: "\e905";
  color: #fff;
  font-size: 20px;
}
.icon8-cast:before {
  content: "\e906";
  color: #fff;
  font-size: 20px;
}
.ic-no .icon8-cast:before {
  content: "\e906";
  color: #d3d3d3;
  font-size: 20px;
}
.icon8-diners-club .path1:before {
  content: "\e907";
  color: rgb(243, 242, 242);
}
.icon8-diners-club .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon8-diners-club .path4:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(2, 53, 99);
}
.icon8-diners-club .path5:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(2, 53, 99);
}
.icon8-diners-club .path6:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon8-diners-club .path7:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon8-diners-club .path8:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon8-diners-club .path9:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon8-diners-club .path10:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon8-diners-club .path11:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon8-diners-club .path12:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon8-diners-club .path13:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon8-diners-club .path14:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon8-diners-club .path15:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon8-diners-club .path16:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path17:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path18:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path19:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path20:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path21:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path22:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path23:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path24:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path25:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path26:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path27:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path28:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path29:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path30:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path31:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path32:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path33:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path34:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path35:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path36:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path37:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path38:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path39:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path40:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path41:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path42:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-diners-club .path43:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon8-diners-club .path44:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon8-discover .path1:before {
  content: "\e933";
  color: rgb(243, 242, 242);
}
.icon8-discover .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(242, 110, 33);
}
.icon8-discover .path3:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(11, 22, 31);
}
.icon8-discover .path4:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(11, 22, 31);
}
.icon8-discover .path5:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(11, 22, 31);
}
.icon8-discover .path6:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(11, 22, 31);
}
.icon8-discover .path7:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(11, 22, 31);
}
.icon8-discover .path8:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(11, 22, 31);
}
.icon8-discover .path9:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(11, 22, 31);
}
.icon8-discover .path10:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon8-discover .path11:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon8-discover .path12:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon8-discover .path13:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon8-discover .path14:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon8-discover .path15:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon8-discover .path16:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon8-discover .path17:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(242, 110, 33);
}
.icon8-dollar:before {
  content: "\e944";
  color: #fff;
      font-size: 21px;
}
.ic-no .icon8-dollar:before {
  content: "\e944";
  color: #d3d3d3;
      font-size: 21px;
}
.ic-si .icon8-dollar:before {
  content: "\e944";
  color: #2F313A;
      font-size: 21px;
}
.icon8-jcb .path1:before {
  content: "\e945";
  color: rgb(243, 242, 242);
}
.icon8-jcb .path2:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(15, 84, 157);
}
.icon8-jcb .path3:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(180, 31, 54);
}
.icon8-jcb .path4:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(50, 153, 71);
}
.icon8-jcb .path5:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(243, 242, 242);
}
.icon8-jcb .path6:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(243, 242, 242);
}
.icon8-jcb .path7:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(243, 242, 242);
}
.icon8-location:before {
  content: "\e94c";
  color: #fff;
  font-size: 20px;
}
.icon8-mastercard .path1:before {
  content: "\e94d";
  color: rgb(60, 128, 173);
}
.icon8-mastercard .path2:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(147, 27, 29);
}
.icon8-mastercard .path3:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(241, 102, 34);
}
.icon8-mastercard .path4:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(247, 152, 29);
}
.icon8-mastercard .path5:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(203, 32, 38);
}
.icon8-mastercard .path6:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon8-mastercard .path7:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon8-mastercard .path8:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon8-mastercard .path9:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon8-mastercard .path10:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon8-mastercard .path11:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon8-mastercard .path12:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon8-mastercard .path13:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon8-mastercard .path14:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon8-mastercard .path15:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon8-nube:before {
  content: "\e95c";
  font-size: 30px;
}
.icon8-pdf:before {
  content: "\e95d";
  color: #fff;
      font-size: 22px;
}
.icon8-rating:before {
  content: "\e95e";
  color: #fff;
      font-size: 19px;
    font-weight: 600;
}
.icon8-tag:before {
  content: "\e95f";
  color: #fff;
  font-size: 20px;
}
.icon8-video:before {
  content: "\e960";
  color: #fff;
  font-size: 20px;
}
.ic-no .icon8-video:before {
  content: "\e960";
  color: #d3d3d3;
  font-size: 20px;
}
.ic-si .icon8-video:before {
  content: "\e960";
  color: #2F313A;
  font-size: 20px;
}
.icon8-visa .path1:before {
  content: "\e961";
  color: rgb(243, 242, 242);
}
.icon8-visa .path2:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(41, 54, 136);
}
.icon8-visa .path3:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(41, 54, 136);
}
.icon8-visa .path4:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(41, 54, 136);
}
.icon8-visa .path5:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(41, 54, 136);
}
.icon8-visa .path6:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(247, 152, 29);
}
.icon8-visa .path7:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(247, 152, 29);
}
.icon8-visa .path8:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(41, 54, 136);
}

/*fin*/

/* icons-9*/

.icon9-icono-form17:before {
  content: "\e900";
  font-size: 23px;
}
.icon9-icono-form18:before {
  content: "\e901";
  font-size: 24px;
}
.icon9-icono-form19:before {
  content: "\e902";
  color: #bebebe;
  font-size: 26px;
}
.icon9-icono-form20:before {
  content: "\e903";
  font-size: 25px;
}
.icon9-icono-form22:before {
  content: "\e904";
  color: #93a9bf;
  font-size: 40px;
}
.icon9-icono-form23:before {
  content: "\e905";
  color: #636363;
  font-size: 60px;
}
.icon9-icono-form24 .path1:before {
  content: "\e906";
  color: #246eb9;
  font-size: 20px;
}
.icon9-icono-form24 .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.icon9-icono-form25:before {
  content: "\e908";
}



/* fin*/


/* icon-4*/


.icon4-play:before {
  content: "\e90e";
      font-size: 16px;
    position: relative;
    top: 2px;
}
.add-video-no .icon4-play:before {
  content: "\e90e";
   font-size: 25px;
    color: #93a9bf;
    width: 2rem;
    line-height: 1.5rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
}
.add-video-no-1 .icon4-play:before {
  content: "\e90e";
      color: #93a9bf;
    font-size: 30px;
}
.overlay-video-pro .icon4-play:before {
    content: "\e90e";
    font-size: 16px;
    position: relative;
    top: 20px;
    left: 40px;
    }
.icon4-clock:before {
  content: "\e90b";
  color: #f76859;
}
.icon4-tum:before {
  content: "\e900";
  font-size: 20px;
    color: #2F313A;
    position: relative;
    top: 2px;
}
.icon4-tum:hover:before{
  color: #246EB9;;

}
.icon4-twitter:before {
  content: "\e901";
  font-size: 20px;
    color: #2F313A;
    position: relative;
    top: 2px;
}
.icon4-twitter:hover:before{
  color: #246EB9;;

}
.icon4-wolrd:before {
  content: "\e902";
  color: #f76859;
}
.icon4-reell:before {
  content: "\e903";
  color: #f76859;
}
.icon4-redd:before {
  content: "\e904";
  font-size: 20px;
  color: #2F313A;
    position: relative;
    top: 2px;
}
.icon4-redd:hover:before{
  color: #246EB9;;

}
.icon4-print:before {
  content: "\e905";
      font-size: 20px;

}
.icon4-movie:before {
  content: "\e906";
  color: #f76859;
}
.icon4-mail:before {
  content: "\e907";
  color: #2F313A;
}
.icon4-mail:hover:before{
  color: #246EB9;;

}
.icon4-location:before {
  content: "\e908";
  color: #f76859;
}
.icon4-google:before {
  content: "\e909";
  font-size: 20px;
    color: #2F313A;
    position: relative;
    top: 2px;
}
.icon4-google:hover:before{
  color: #246EB9;;

}
.icon4-face:before {
  content: "\e90a";
    font-size: 20px;
    color: #2F313A;
    position: relative;
    top: 2px;
     transition: all 0.3s ease;
}
.icon4-face:hover:before{
  color: #246EB9;;

}
.icon4-dollar:before {
  content: "\e90c";
  color: #f76859;
}
.icon4-chevron-up:before {
  content: "\e90d";
  font-size: 15px;
  position: relative;
  top: 3px;
}


.bicon-cast .icon4-chevron-up:before {
    content: "\e90d";
    position: relative;
    font-size: 1.5rem;
        color: #246EB9;
}




/* fin*/


/* iconos-2*/


.icon2-director-chair:before {
  content: "\e900";
  font-size: 25px;
  color: #ffffff
}
.icon2-book-open-page-variant:before {
  content: "\e901";
  font-size: 25px;
  color: #ffffff
}
.icon2-movie:before {
  content: "\e902";
  font-size: 25px;
  color: #ffffff
}
.icon2-trophy-award:before {
  content: "\e903";
}
.bicon-3 .icon2-trophy-award:before {
  content: "\e903";
  font-size: 2.2rem;
  color: #ffffff;
}
.add-credit .icon2-trophy-award:before {
  content: "\e903";
  font-size: 35px;
  color: #93a9bf;
  width: 2rem;
        line-height: 1.5rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
}
.icon2-play:before {
  content: "\e904";
  color: #fff;
  font-size: 20px;
   transition: all 0.3s ease;
}

.icon2-play:hover:before {
  content: "\e904";
  color: #fff;
  font-size: 20px;
}
.add-credit .icon2-play:before {
  content: "\e904";
    font-size: 25px;
  color: #93a9bf;
  width: 2rem;
        line-height: 1.5rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
}
.add-create .icon2-play:before {
  content: "\e904";
  color: #93a9bf;
    font-size: 30px;
}
.icon2-no-project:before {
  content: "\e905";
  color: #93a9bf;
  font-size: 3rem;
}

.add-create .icon2-no-project:before {
  content: "\e905";
      color: #93a9bf;
    font-size: 35px;
}
.icon2-chevron-down:before {
  content: "\e906";
  font-size: 15px;
  position: relative;
  top: 3px;
}
.acor-1 .icon2-chevron-down:before {
  content: "\e906";
  font-size: 1.5rem;
  line-height: 2;
}
.acor-2 .icon2-chevron-down:before {
  content: "\e906";
  font-size: 1.5rem;
  line-height: 2;
}
.bicon-3 .icon2-chevron-down:before {
  content: "\e906";
  font-size: 1.5rem;
  color:#246eb9;
}
.bicon-cast .icon2-chevron-down:before {
  content: "\e906";
  font-size: 1.5rem;
  color:#246eb9;
}
.bicon-cast2 .icon2-chevron-down:before {
  content: "\e906";
  font-size: 1.5rem;
  color:#246eb9;
}
.icon2-briefcase-check:before {
  content: "\e907";
}
.bicon-3 .icon2-briefcase-check:before {
  content: "\e907";
  color: #246eb9;
}


/* fin*/




/* iconos 10*/

.icon10-block:before {
  content: "\e900";
}
.icon10-coment1:before {
  content: "\e901";
  color: #004975;
}
.gi-12 .icon10-coment1:before {
  content: "\e901";
  color: #5D5F63;
  font-size: 15px;
      vertical-align: middle;
}
.icon10-heart-outline:before {
  content: "\e902";
}
.icon10-heart:before {
  content: "\e903";
}

.gi-12 .icon10-heart:before {
  content: "\e903";
      font-size: 18px;
    color: #5D5F63;
        vertical-align: middle;
}

/* fin 10*/


/* iconos15*/


.icon15-icon-chat1:before {
  content: "\e900";
}
.icon15-icon-chat2:before {
  content: "\e901";
}

.gi-12 .icon15-icon-chat1:before {
  content: "\e900";
  color: #5D5F63;
  font-size: 17px;
      vertical-align: middle;
}

/* fin*/




/* iconos 16*/


.icon16-attach:before {
  content: "\e900";
  color: #c3c3c3;
}
.icon16-composs:before {
  content: "\e901";
  color: #0091ec;
  font-size: 20px;
font-weight: 700;
}
.icon16-search:before {
  content: "\e902";
}
.icon16-Archive:before {
  content: "\e903";
  font-size: 18px;
}
.icon16-Delete:before {
  content: "\e904";
}
.icon16-Shared:before {
  content: "\e905";
}
.icon16-Spam1:before {
  content: "\e906";
  font-size: 16px;
}
.icon16-Archive2:before {
  content: "\e907";
  color: #fff;
}
.icon16-inbox-white:before {
  content: "\e908";
  color: #fff;
}
.icon16-inbox:before {
  content: "\e909";
}
.icon16-Shared2:before {
  content: "\e90a";
  color: #fff;
}
.icon16-Spam12:before {
  content: "\e90b";
  color: #fff;
}



/* fin*/



/* icons11*/

.icon11-add:before {
  content: "\e900";
  color: #aeb2b4;
}
.icon11-mention:before {
  content: "\e901";
  color: #aeb2b4;
}



/*fin*/



/* icons17*/
.icon17-gender-male:before {
  content: "\e900";
  color: #246eb9;
}
.icon17-gender-female:before {
  content: "\e901";
  color: #246eb9;
}
.icon17-neutral .path1:before {
  content: "\e902";
  color: rgb(36, 110, 185);
}
.icon17-neutral .path2:before {
  content: "\e903";
  margin-left: -0.8232421875em;
  color: rgb(255, 255, 255);
}
.icon17-neutral .path3:before {
  content: "\e904";
  margin-left: -0.8232421875em;
  color: rgb(36, 110, 185);
}


/*fin*/




/* icons 30*/

.icon30-blog:before {
  content: "\e900";
  color: #737373;
  vertical-align: middle;
font-size: 20px;
position: relative;
top: -1px;
}
.icon30-group:before {
  content: "\e901";
  color: #6c6c6c;
  font-size: 20px;
vertical-align: initial;
}
.icon30-icon-firts:before {
  content: "\e902";
  color: #737373;
  font-size: 20px;
  vertical-align: middle;
}
.icon30-members:before {
  content: "\e903";
  color: #737373;
  font-size: 24px;
vertical-align: middle;
}
.icon30-new-project:before {
  content: "\e904";
  color: #737373;
  font-size: 24px;
vertical-align: middle;
}
.icon30-projects:before {
  content: "\e905";
  color: #737373;
  font-size: 18px;
    vertical-align: middle;
}
.icon30-spotllight:before {
  content: "\e906";
  color: #737373;
  font-size: 28px;
vertical-align: middle;
}  
.icon30-trending:before {
  font-size: 25px;
content: "\e907";
color: #737373;
vertical-align: middle;
}


/* fin*/