.sr-landing-bowker .banner {
  float: left;
  display: inline-block;
  width: 100%;
}
.body-landing-bowker footer {
  float: left;
  width: 100%;
  display: inline-block;
}


.body-landing-bowker .center-footer-area {
  padding: 0 !important;
}
.sr-landing-bowker .banner img {
  width: 100%;
  float: left;
  display: inline-block;
}

.special-offer {
  float: left;
  display: inline-block;
  width: 100%;
}

.sr-landing-bowker .banner-content {

}
.special-offer-right-text-content {
  margin-bottom: 13px;
  line-height: 27px;
}

.sr-landing-bowker .what-are-you-doing-grid {
  width: 33.3%;
  float: left;
  display: inline-block;
  margin: 30px 0;
}
.sr-landing-bowker .what-are-you-doing-grid-content {
  width: 77%;
  margin: auto;
  text-align: center;
}
.what-are-you-doing-content {

  width: 90%;
  margin: auto;
}
.sr-landing-bowker .what-are-you-doing-block-icon {
  display: inline-block;
}
.sr-landing-bowker .what-are-you-doing-block-title {
  font-weight: bolder;
  font-size: 17px;
}

.sr-landing-bowker .what-are-you-doing-title-content {
  color: #FCB225;
  text-align: center;
  width: 100%;
  font-size: 25px;
  font-weight: bolder;
  margin: 38px 0 1px 0;
  display: inline-block;
  float: left;
}
.sr-landing-bowker .getting-your-story {
  background: #dfefef;
  float: left;
  display: inline-block;
  width: 100%;
}
.sr-landing-bowker .see-how-michael {
  float:left;
  display:inline-block;
  width:100%;
  color: #42496f;
  font-size:14px;
  text-align: center;
}
.see-how-michael-bottom span {
  color: red;
  text-decoration: line-through;

}
.see-how-michael-bottom {
  margin: auto;
  font-size: 19px;
  line-height: 26px;
  color: #283346;
  width: 70%;
}
.see-how-michael-youtube iframe {
  /*width: 70%;*/
  width: 675px;
  margin: auto;
  display: inline-block;
  min-height: 380px;
  margin-bottom: 20px;
}
.sr-landing-bowker .see-how-michael-content {
  width: 80%;
  margin: 44px auto;
}
.sr-landing-bowker .see-how-michael-title-content {
  font-size: 25px;
  width: 100%;
  float: left;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 25px;
}
.sr-landing-bowker .getting-your-story-description-content {
  font-size: 19px;
  line-height: 26px;
  margin-bottom: 34px;
}
a.ytp-title-link.yt-uix-sessionlink {
  display: none;
}
.sr-landing-bowker .getting-your-story-title-content {
  font-size: 25px;
  margin-bottom: 5px;
  font-weight: bolder;
  color: #303b59;
  margin-top: 43px;
}
.sr-landing-bowker .getting-your-story-content {
  width: 80%;
  margin: auto;
  color: #283346;
  font-size: 14px;
  text-align: center;
}
.sr-landing-bowker .what-are-you-doing-subtitle-content {
  color: black;
  font-size: 19px;
  text-align: center;
  width: 100%;
  margin-bottom: 21px;
}

.sr-landing-bowker .special-offer-content {
  background: #dfefef;
  color: #42496f;
  font-size: 20px;
  min-height: 297px;
  text-align: center;
}
.sr-landing-bowker .special-offer-left {
  width: 40%;
  float: left;
  display: inline-block;
}
.sr-landing-bowker .special-offer-left img {
  width: 67%;
  display: inline-block;
}
.sr-landing-bowker .special-offer-left-content {
  position: relative;
  text-align: center;
  top: 98px;
  float: right;
  display: inline-block;
  width: 421px;
  right: 10px;
}
.sr-landing-bowker .special-offer-right-content {
  left: 10px;
  position: relative;
  text-align: center;
  float: left;
  display: inline-block;
  width: 100%;
  text-align: left;
  position: relative;
  top: 70px;
}
.special-offer-right-content span {
  color: red;
  text-decoration: line-through;

}
.sr-landing-bowker .btn-primary-small {
  border: 1px solid #D5AB55;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFD96A), to(#FFBC00));
  background-image: linear-gradient(180deg, #FFD96A 0%, #FFBC00 100%);
  border-radius: 3px;
  height: auto;
  color: #2b2e6b;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding: 15PX 10px;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

.sr-landing-bowker .btn-primary-small-2 {
  border: 1px solid #D5AB55;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFD96A), to(#FFBC00));
  background-image: linear-gradient(180deg, #FFD96A 0%, #FFBC00 100%);
  border-radius: 3px;
  height: auto;
  color: black;
  font-family: Roboto;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  padding: 5px 7px;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  cursor: pointer;
  width: 100%;
}
.payment-cart-subtotal-button {
  margin-bottom: 25px;
}
.payment-cart-subtotal-details-content {
  padding: 23px 0;
}

.sr-landing-bowker .special-offer-right {
  width: 60%;
  float: left;
  display: inline-block;
}

.sr-landing-bowker .banner-img {
  position: relative;
}
.sr-landing-bowker .banner-text {
  position: absolute;
  top: 53px;
  right: 11%;
  color: white;
  font-size: 337%;
  max-width: 714px;
  width: 61%;
  text-align: right;
  font-weight: bolder;
  line-height: 121%;
}
.sr-landing-bowker .banner-text label {
  font-weight: bolder;
  display: inline-block;
  color: #FFBC00;
  font-size: 100% !important;
}

.sr-landing-bowker .parallax img {
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.s-complete-this-purchase .complete-this-purchase-form {
  float: left;
  display: inline-block;
  width: 100%;
}
.complete-this-purchase-text {
  float: left;
  display: inline-block;
  width: 100%;
}
.s-complete-this-purchase .complete-this-purchase-title {
  float: left;
  display: inline-block;
  width: 100%;
  margin-top: 74px;
  margin-bottom: 30px;
}
.sr-landing-bowker  .s-complete-this-purchase .input-profile1 {
  background-color: rgba(255, 255, 255, 0.9) !important;
  width: 400px !important;
  padding: 5px 16px !important;
  border: 1px solid #ccc;
  border-radius: 3px !important;
  height: 3rem !important;
  outline: none !important;
  font-family: Roboto, sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -o-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  color: #848484 !important;
  box-sizing: border-box !important;
}
.hero-second-firts p {
  padding: 30px 0px 0px 0px;
}
.sr-landing-bowker .color-f-4 {
  color: #2E8AE8;
}

.sr-landing-bowker  .btn-primary-medium {
  border: 1px solid #D5AB55;
  background-image: linear-gradient(180deg, #FFD96A 0%, #FFBC00 100%);
  border-radius: 3px;
  height: auto;
  color: #0D0E10;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4 rem;
  text-align: center;
  padding: 13px 30px;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  cursor: pointer;
}
.s-complete-this-purchase {
  background: #e6ecf0;
}
.landing-bowker-container-steps {
  background: white;
  display: inline-block;
  width: 88%;
  border-radius: 13px;
  max-width: 1101px;
}
.complete-this-purchase-title {
  color: #354052;
  font-size: 30px;
  margin: 0px;
  font-weight: 500;
  padding-top: 40px;
  float: left;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 34px;
}
.landing-bowker-container-steps-container {
  width: 100%;
  position: relative;
  padding: 51px 0;
  background: #e6ecf0;
  float: left;
  display: inline-block;
  text-align: center;
}
.landing-bowker-container-steps-content {
  width: 95%;
  display: inline-block;
  padding: 24px 0;
}

.landing-bowker-register-container-steps-container .landing-bowker-container-steps-content {
  width: 50%;
}
.complete-this-purchase-text-top {
  color: #0D0E10;
  font-size: 15px;
  margin-top: 47px;
}
.complete-this-purchase-text-bottom {
  color: #7F8FA4;
  font-size: 14px;
  margin-top: 43px;
  margin-bottom: 53px;
}
.complete-this-purchase-form-content .complete-this-purchase-form-input {
  width: 78%;
  float: left;
  display: inline-block;
}
.complete-this-purchase-form-content {
  float: left;
  display: inline-block;
  width: 100%;
}
.complete-this-purchase-form-content .complete-this-purchase-form-button {
  width: 20%;
  float: right;
  display: inline-block;
}
.payment-cart-title {
  float: left;
  display: inline-block;
  color: #2b2e6b;
  font-size: 37px;
  width: 100%;
  text-align: left;
  font-weight: bolder;
  padding: 0 0 21px 0;
}
.payment-cart-data {
  float: left;
  display: inline-block;
  width: 100%;
}
.payment-cart-footer {
  float: left;
  display: inline-block;
  width: 100%;
  border-top: 1px solid rgba(151, 151, 151, 0.2);
  padding: 11px 0 0 0;
  margin: 137px 0 0 0;
}
.payment-cart-data-left {
  float: left;
  display: inline-block;
  width: 65%;
}
.payment-cart-grid-rows {
  float: left;
  display: inline-block;
  width: 100%;
  font-size: 15px;
  color: black;
  margin: 5px 0;
}
.payment-cart-grid {
  float: left;
  width: 88%;
  display: inline-block;
}
.sr-landing-bowker .register-password-logo {
  text-align: center;
}
.sr-landing-bowker .register-password-logo-content {
  width: 400px;
  display: inline-block;
  margin: 55px 0 0 0;
}
.sr-landing-bowker .register-password-title-content, .sr-landing-bowker .register-password-subtitle-content,
.sr-landing-bowker .register-password-form-content{
  width: 451px;
  display: inline-block;
}
.sr-landing-bowker .register-password-subtitle-content {
  font-size: 17px;
  color: black;
  font-weight: normal;
  padding-bottom: 29px;
  font-family: 'Roboto', sans-serif;
}
.sr-landing-bowker .register-password-title-content {
  font-size: 25px;
  font-weight: bolder;
  padding-top: 52px;
  line-height: 27px;
  padding-bottom: 18px;
}
.sr-landing-bowker .register-password-form-title-content {
  color: #246ebd;
  text-align: left;
  font-size: 15px;
}
.sr-landing-bowker .register-submit-form-field-content {
  padding: 15px 0 32px 0;
}
.register-password-footer-content {
  font-weight: lighter;
  font-size: 15px;
  padding-bottom: 70px;
}

.sr-landing-bowker .register-password-form-field-content {
  padding-bottom: 25px;
}
/*
.sr-landing-bowker .register-submit-form-field input {
  color: white;
  font-size: 16px;
  border-radius: 29px;
  background: #246ebd;
  padding: 11px 39px;
  border: 0;
}
*/
.sr-landing-bowker .register-password-logo-content img {
  width: 100%;
}
.payment-cart-grid-rows-content {
  float: left;
  display: inline-block;
  width: 100%;
}
.payment-cart-data-right {
  float: left;
  display: inline-block;
  width: 35%;
  font-size: 17px;
}

.payment-cart-grid-title .payment-cart-grid-col {
  color: #7F8FA4;
  font-size: 14px;
  font-weight: bolder;
}
.payment-cart-grid-title {
  padding: 12px 0;
  border-bottom: 1px solid rgba(151, 151, 151, 0.3);
}

.order-details {
  /*float: left;
  display: inline-block;
  width: 100%;*/
}
.payment-cart-subtotal-content {
  width: 80%;
  margin: auto;
}
.payment-cart-footer-title {
  color: #2E8AE8;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
.payment-cart-footer-description {
  color: #0D0E10;
  text-align: left;
  font-size: 14px;
}
.payment-cart-grid-col1 {
  width: 55%;
}
.payment-cart-grid-col2 {
  width: 25%;
}
.order-details-title-content {
  text-align: left;
}
.payment-cart-grid-col3 {
  width: 20%;
}
/*
.payment-cart-grid-col4 {
  width: 25%;
}
*/
.text-left {
  text-align: left;
}

.sr-landing-bowker .payment-cart-form input {
  border: 1px solid rgba(151, 151, 151, 0.3);
  padding: 0 2%;
  border-radius: 4px;
  float: left;
  display: inline-block;
  font-size: 14px;
  color: #2b2e6b;
}

.sr-landing-bowker .payment-cart-form-50 input {
  width: 85%;
}
.sr-landing-bowker .payment-cart-form-30 input {
  width: 75%;
}
.sr-landing-bowker .payment-cart-form-70 input {
  width: 95%;
}
.sr-landing-bowker .payment-cart-form-100 input {
  width: 91%;
}
.sr-landing-bowker .see-how-michael-button {
  width: 300px;
  display: inline-block;
}
.sr-landing-bowker .payment-cart-form-field-title-content {
  padding-left: 3px;
}
.sr-landing-bowker .bowker-form-bottom {
  float: left;
  display: inline-block;
  width: 100%;
  background-color: #FFBB18;
}
.sr-landing-bowker .success-text {
  color: #354052;
}
.sr-landing-bowker .accordion-bottom {
  float: left;
  display: inline-block;
  width: 100%;
}
.sr-landing-bowker .landing-bowker-success-content {
  width: 58%;
  margin: auto;
}
.sr-landing-bowker .special-offer-right-button-content {
  width: 397px;
}
.sr-landing-bowker .payment-cart-form {
  margin-bottom: 27px;
}
.sr-landing-bowker .payment-cart-form-row {
  margin-bottom: 10px;
}
.sr-landing-bowker .payment-cart-form-field-title {
  font-size: 14px;
  padding-bottom: 4px;
  color: #2b2e6b;
}
.text-right {
  text-align: right;
}
.payment-cart-form-50 {
  float: left;
  display: inline-block;
  width: 50%;
}
.payment-cart-form-100 {
  float: left;
  display: inline-block;
  width: 100%;
}
.payment-cart-form-30 {
  float: left;
  display: inline-block;
  width: 30%;
}
.payment-cart-form-70 {
  float: left;
  display: inline-block;
  width: 70%;
}
.sr-landing-bowker .method-pay {
  display: inline-block;
  padding: 0;
}
.sr-landing-bowker .method-pay div {
  display: inline-block;
}
.order-details-col-content h6 {
  margin: 0;
}
.payment-cart-grid-col {
  float: left;
  display: inline-block;
}
.payment-cart-grid-col span {
  text-decoration: line-through;
  color:red;
}
.payment-cart-subtotal-line-content {
  padding: 17px 0;
}
.order-details-row-total {
  border-top: 1px solid #DFE3E8;
}
.payment-cart-subtotal {
  border: 1px solid #DFE3E8;
  color: #0D0E10;
  border-top: 4px solid #0457EA;
  border-radius: 4px;
}
.payment-cart-subtotal-button-content {
  width: 80%;
  margin: auto;
}
.order-details-row {
  float: left;
  padding: 19px 0;
  display: inline-block;
  width: 100%;
}
.order-details-col {
  float: left;
  display: inline-block;
  width: 50%;
}
.formatter {
  float: left;
  display: inline-block;
  width: 100%;
}
.landing-bowker-success-content.success-text {
  font-size: 19px !important;
  line-height: 26px;
}

.sr-landing-bowker  .register-password-form-field-content input {
  border: 1px solid #9e9e9e;
  border-radius: 3px;
  padding: 0 9px;

}
.register-password-form-field-content {
  position: relative;
}
.register-password-form-color-active {
  color: #039be5;
}
.register-password-form-field-content .register-password-form-field-eye-content {
  color: #818181;
  position: absolute;
  right: -10px;
  top: 11px;
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.overlay-checkout-bowker{
  position: absolute;
  width: 88%;
  max-width: 1101px;
  height: 90%;
  background: white;
  opacity: .8;
  border-radius: 13px;
  display: none;
  z-index: 1;
}

.preloader-icon{
  width: 64px;
  height: 64px;
  margin-top: 30%;
  margin-left: 44%;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-flicker {
  -webkit-animation: flickerAnimation 2s infinite;
  -moz-animation: flickerAnimation 2s infinite;
  -o-animation: flickerAnimation 2s infinite;
  animation: flickerAnimation 2s infinite;
}
nav a#logo-container.brand-logo {

  margin-left: 32px;
}
@media screen and (max-width: 870px) {

}
@media screen and (max-width: 570px) {
  .s-header nav.s-wrap-header {
    height: 49px !important;
  }
  .s-header-bg {
    height: 49px !important;
  }
  .sr-landing-bowker .banner-text {
    font-size: 16px;
    top: 7px;
    width: 100%;
    right: 17px;
  }
  .nav  i.material-icons {
    display: none;
  }
  a#logo-container img.logo-on-nav {
    max-width: 204px;
    margin-top: 0;
    width: 100%;
    top: -9px;
    padding: 0;
    position: relative;
  }

  .s-header nav.s-wrap-header {
    height:auto;
  }
  .sr-landing-bowker .special-offer-left {
    width: 100%;
    min-height: 105px;
  }
  .sr-landing-bowker .what-are-you-doing-grid {
    width: 100%;
  }
  .sr-landing-bowker .special-offer-right {
    width: 100%;
  }
  .see-how-michael-bottom {
    margin: 52px 0;
    width: 100%;
  }
  .see-how-michael-youtube iframe {
    width: 100%;
    margin: auto;
  }
  nav a#logo-container.brand-logo {
    min-width: auto;
    width: 162px;
  }
  .sr-landing-bowker .special-offer-left-content {
    position: relative;
    text-align: center;
    top: 54px;
    float: none;
    display: inline-block;
    width: 45%;
    right: auto;
  }

  .sr-landing-bowker .special-offer-content {
    font-size: 20px;
    min-height: 489px;
    text-align: center;
  }
  .special-offer-right-button {
    text-align: center;
    margin-top: 43px;
  }
  .sr-landing-bowker .special-offer-right-button-content {
    display: inline-block;
    width: 75%;
    max-width: 300px;
  }
  .special-offer-right-text-content {
    margin-bottom: 13px;
    line-height: 27px;
    margin: auto;
    width: 81%;
    text-align: center;
  }
  .body-landing-bowker footer {


  }
  .sr-landing-bowker .special-offer-right-content {
    top: 29px;
    left: auto;
  }
}