.clr2 {
  color: #233D4D !important;
  font-weight: 400;
}

.bck-gris {
  background-color: #F5F5F5;
}

.logo-login {
  max-width: 358px;
}

.txt-login {
  margin-top: -3px;
  margin-bottom: 42px;
  font-size: 2rem;
  font-weight: 600;
}

.area-white {
  background-color: white;
  padding: 36px 36px 40px 36px;
  max-width: 480px;
  margin: 0 auto;
  position: relative;
}

.enviar-form {
  text-decoration: none;
  color: #fff;
  background-color: #F6645D;
  text-align: center;
  letter-spacing: .5px;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 40px;
  line-height: 42px;
  padding: 0 2rem;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  border-radius: 50px;
  margin-top: 10px;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    background-color: #F6645D;
  }

}

.btn-facebook {
  background-color: #3B5998;
  width: 100%;
  height: 40px;
  border-radius: 50px;
  display: block;
}

.login-fb2 {
  width: 100%;
  margin: 0 auto;
  line-height: 4px;
  text-transform: uppercase;

  &.flex-container {
    align-items: center;
    justify-content: center;
  }

  p {
    padding: 4px 0 0 6px;
  }
}


.txt-fb {
  line-height: 1.3rem;
  padding-top: 8px;
  font-size: 13px;
  max-width: 320px;
  margin: 0 auto;
  color: #828282;
}

.stayed-sign {
  width: 100%;
  margin-left: 10px;
  color: #9e9e9e;
  font-size: 12px;
}

[type="checkbox"] + label {
  padding-left: 28px;
  font-size: 13px;
  line-height: 1.4rem;
}

.pull-right {
  float: right;
}

.password-forgot {
  font-size: 13px;
  margin-top: 1px;
  margin-right: 20px;
}

.clr1 {
  color: #233D4D;
}

/* label color */

.input-field label {
  color: #918D8D;
}

/* label focus color */

.input-field input[type=password]:focus + label {
  color: #FCA100 !important;
}

/* label underline focus color */

.input-field input[type=password]:focus {
  border-bottom: 1px solid #FCA100 !important;
  box-shadow: 0 1px 0 0 #FCA100 !important;
}

/* valid color */

.input-field input[type=password].valid {
  border-bottom: 1px solid #7E8083 !important;
  box-shadow: 0 1px 0 0 #7E8083 !important;
}

/* invalid color */

.input-field input[type=password].invalid {
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 red !important;
}

/* label focus color */

.input-field input[type=email]:focus + label {
  color: #FCA100 !important;
}

/* label underline focus color */

.input-field input[type=email]:focus {
  border-bottom: 1px solid #FCA100 !important;
  box-shadow: 0 1px 0 0 #FCA100 !important;
}

/* valid color */

.input-field input[type=email].valid {
  border-bottom: 1px solid #7E8083 !important;
  box-shadow: 0 1px 0 0 #7E8083 !important;
}

/* invalid color */

.input-field input[type=email].invalid {
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 red !important;
}

/* label focus color */

.input-field input[type=text]:focus + label {
  color: #FCA100 !important;
}

/* label underline focus color */

.input-field input[type=text]:focus {
  border-bottom: 1px solid #FCA100 !important;
  box-shadow: 0 1px 0 0 #FCA100 !important;
}

/* valid color */

.input-field input[type=text].valid {
  border-bottom: 1px solid #7E8083 !important;
  box-shadow: 0 1px 0 0 #7E8083 !important;
}

.cm-tag:after {
  content: ', ';
}

.cm-tag:last-child:after {
  display: none;
}

/* invalid color */

.input-field input[type=text].invalid {
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 red !important;
}

/* icon prefix focus color */

.input-field .prefix.active {
  color: #233D4D;
}

.stay-sigi-in {
  line-height: 20px !important;
  font-size: 12px !important;
}

.input-field input[type=email].invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

.has-error {
  position: relative;
  min-height: 18px;
  display: block;
  font-size: 12px;
  color: red;
}

.no-member-yet {
  font-size: 13px;
  margin-top: 40px;
  color: #828282;
}


.txt-reset-password {
  line-height: 1.3rem;
  padding-top: 8px;
  font-size: 13px;
  margin: 0 auto;
  color: #828282;
  padding: 8px 10px 0 10px;
  margin-bottom: 16px;
}

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  border: 2px solid #246EB9;
}