/* estilos mailbox*/
.mailbox-remove{
  cursor: pointer;
}
.mail-notifications{
  background: #e69215;
  width: 15px;
  height: 15px;
  display: block;
  border-radius: 100%;
  position: absolute;
  font-size: 9px;
  color: #fff;
  text-align: center;
  line-height: 1.8;
  z-index: 3333
}
.conte-shared li {
  display: block;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: .8888888rem 1rem;
  background-color: #e8f1f7;
}
.conte-shared li .row{
  margin-bottom: 0 !important;
}
.__share-content .__share-content-title {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
.__share-content p a, .__share-content .__share-content-title a {
  color: #026eb2;
}
.__share-content p {
  color: #949494;
  font-size: 13px;
  font-weight: 400;
}
.mail-nav-aside-menus{
  display: block !important;
  margin-left: 0 !important;
  overflow: visible !important;
  opacity: 1;
  position: relative !important;
  top: 0 !important;
  width: 349px;
  margin: 0 auto !important;
  margin-top: 78px !important;
  background-color: #2F313A !important;
  white-space: nowrap !important;
  z-index: 1 !important;
  will-change: width, height !important;
  border: none !important;
  border-radius: 4px !important;
}
.mail-nav-aside-menus li{
  min-height: 38px !important;
  border-bottom: 1px solid #3D3F4B !important;
}
.mail-nav-aside-menus li:hover, .mail-nav-aside-menus li.active{
  background-color: #3D3F4B !important;
}
.mail-nav-aside-menus li a{
  font-size: 16px !important;
  color: #ffffff !important;
  display: block !important;
  line-height: 20px!important;
  padding: 14px 16px !important;
}
.text-dow-cont.flex-btn{
  margin-left: .1rem;
}
.modal-message-project .modal-title-project{
  font-size: 18px;
  font-weight: 700;
  color: #011523;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.modal-message-project .conteten-ms,
.modal-message-users .conteten-ms {
  width: 100%;
  padding: 14px;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  border-radius: 3px 3px 0 0;
}
.modal-message-project .conteten-ms .font-pop,
.modal-message-users .conteten-ms .font-pop {
  font-size: 14px;
  font-weight: 500;
  color: #2F313A;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.modal-message-project .padding-pop,
.modal-message-users .padding-pop {
  padding: 1.0rem;
}
.modal-message-project .send-pop,
.modal-message-users .send-pop {
  width: 66px;
  height: 65px;
  overflow: hidden;
  text-align: left;
  border-radius: 3px;
}
.modal-message-project input[type="text"],
.modal-message-users input[type="text"]{
  background-color: transparent;
  border: none;
  border: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 2.5rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 8px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: border-box;
  transition: all 0.3s;
  padding: 5px 21px;
  margin-top: 0px;
  font-size: 15px;
  border-radius: 2px;
  font-weight: 400;
  margin: 0px;
}
.modal-message-users textarea{
  border: 1px solid rgb(158, 158, 158);
  border-radius: 3px;
  height: 100px;
  resize: none;
  outline: none;
  padding: 14px;
  font-size: 1rem;
  font-weight: 400;
}
.modal-message-users .btn-cancel {
  width: 7rem;
  height: 2.3rem;
  font-size: 14px;
  background: transparent;
  border-radius: 20px;
  color: #f76859;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  transition: all 0.3s ease;
  border: 1px solid #f76859;
}
.modal-message-users .btn-send {
  width: 7rem;
  height: 2.3rem;
  font-size: 14px;
  background: #F76859;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  transition: all 0.3s ease;
  margin-left: 10px;
  border:0;
}
.modal-message-users .act-2 {
  padding: 0 1.9rem 1.0rem 1.0rem;
  text-align: right;
}
.modal-message-users .pop-padding2{
  margin-bottom: 1rem;
}
#dropdown1 a{
  font-size: 16px !important;
  color: #ffffff !important;
  display: block !important;
  line-height: 20px!important;
  padding: 14px 16px !important;
}
.drop-msn-nav {
  background-color: #2F313A !important;
  margin: 0 !important;
  display: none;
  min-width: 221px !important;
  max-height: auto !important;
  margin-left: -182px!important;
  overflow: hidden !important;
  opacity: 0;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 1 !important;
  will-change: width, height !important;
  top: 135px !important;
  box-shadow: none !important;
  background-color: transparent;
  border: none !important;
  border-radius: 4px !important;
}
.dropdown-content li:hover, .dropdown-content li.active{
  background-color: #3D3F4B !important;
}
.loader-users{
  position: relative;
}
.scope-togle{
  position: absolute;
  z-index: 9;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.conte-shared ul li{
    display: block;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: .8888888rem .5rem;
    background-color: #e8f1f7;
}
.__empty-mail{
  height: 410px;
  text-align: center;
  box-shadow:none !important;
}
.__share-content .__share-content-title{
  font-size: 18px;
  font-weight:400;
}
.__share-content p a,
.__share-content .__share-content-title a{
  color:#026eb2;
}
.__share-content p{
  color:#949494;
  font-size: 13px;
  font-weight: 400;
}
.__share-date p{
  color: #949494;
  font-size: 14px;
  padding: 1rem 0;
  text-align: center;
}
.__share-date p i{
  font-size: 17px;
  vertical-align: sub;
}
.mailbox .dropdown-content{
  top:72.4479px !important;
}

.btn-replay{
  border-radius: 3px;
  border: 1px solid #0091ec;
  color: #0091ec;
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin: 0 14px;
  padding: 3px 0;
  text-align: center;
  width: 92px;
}
.btn-replay:hover{
  background: #0091ec;
  color:#fff;
}
.btn-cancel-message{
  display: inline-block;
  width: 127px;
  padding: 6px 0;
  border-radius: 3px;
}
.btn-cancel-message:hover{
  background: #a2a1a1;
    color: #fff;
}
.mail-active{
  border-left: 2px solid #246eb9;
}
.cent {
      width: 420px;
      position: relative;
      top: -5%;
      text-align: center;
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
    }

    .back-img {
      width: 100%;
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
    }

    /*.box {
      max-width: 360px;
      text-align: center;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }*/

    .box h1 {
      margin: 0;
      font-weight: 300;
      font-size: 42px;
    }

    .btn-mail {
      text-decoration: none;
      background-color: #ffb000;
      color: black;
      font-weight: 400;
      padding: 12px 12px;
      border-radius: 50px;
      display: block;
      max-width: 216px;
      text-align: center;
      margin: 0 auto;
      -webkit-transition: .3s ease-in-out;
      -moz-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }
    .btn-mail:hover{
      background-color: #0B1825;
      color: white;
    }
    .support{
      color: #0B1825;
      text-decoration: none;
    }

    .logo-error {
      width: 94%;
    }

    @media screen and (max-width: 1080px) {

      .box {

        background-color: rgba(255, 255, 255, 0.91);
        padding: 20px;
      }
    }

    @media screen and (max-width: 720px) {
      .back-img {
        opacity: 0;
      }
      .cent {
        width: 640px;
      }
      .box {

        padding: 0px 16px;
      }
    }

    @media screen and (max-width: 640px) {
      .cent {
        width: 320px;
      }
    }
/*******************************************************/
.have_app{
  color: #058c05;
  font-family: roboto,sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  width: 100%;
  margin-top: 1rem;
  display: block;
}
.have_app i{
  display: block;
}
.input-mail-search {
  width: 100% !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  padding: 12px 0px 12px 27px !important;
  border: none !important;
  border-radius: 3px !important;
  height: 3rem !important;
  outline: none !important;
  font-family: Roboto, sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -o-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  color: #848484 !important;
  box-sizing: border-box !important;
  height: auto !important;
  resize: none;
  margin: 20px 0px 20px 0px !important;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15) !important;
  transition: all 0.3s !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -o-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
}

.input-mail-search:focus {
  border: #246EB9 !important;
  outline: none !important;
  border-bottom: #246EB9 !important;
}

.ic-search i {
  position: absolute;
  font-size: 20px;
  color: #000000;
  margin-left: 5px;
  top: 40px;
}

.nav-mail {
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.ic-more {
  display: inline-block;
  float: right;
  cursor: pointer;
}

.ic-inbox i {
  margin-right: 6px;
}

.ic-more i {
  color: #282828;
  margin-right: 0px !important;
}

.font-title-mail {
  font-size: 14px;
  font-weight: 500;
  color: #282828;
  text-transform: capitalize;
}

.box-num-mail {
  font-size: 12px;
  font-weight: 500;
  padding: 2px 5px 2px 5px;
  background: #212121;
  color: white;
  margin-left: 10px;
  border-radius: 3px;
}

.card-mail {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  margin: 10px 0px 10px 0px;
  background: #fff;
  cursor: pointer;
}

.card-mail .card-mail-img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 3px;
}

.cont-bullet {
  margin: 0px 15px 0px 15px;
  width: 30%;
}

.cont-subject {
  width: 50%;
}

.ic-bullet {
  display: inline-block;
  /*vertical-align: text-top;*/
}

.ic-bullet i {
  font-size: 10px;
  color: #03B66F;
}

.font-date-mail {
  font-size: 12px;
  font-weight: 700;
  vertical-align: middle;
  color: rgba(167, 167, 167, 0.5);
  ;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -o-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
}

.font-name-mail {
  font-size: 14px;
  font-weight: 500;
  color: #212121;
}

.font-subject {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.38);
}

.new-mail-color {
  background-color: #F3F6F8 !important;
}
.load-mail-view{
  margin-bottom: 1.5rem;
}
.content-composs {
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
  background: white;
  width: 100%;
  z-index: 99;

}
.btn-cnl{
  display: inline-block;
  width: 127px;
  border-radius: 3px;
  border: 0;
  padding: 10px 0px;
  cursor: pointer;
}
.btn-rplt{
  margin-top: 20px;
  border: none;
  background: #246EB9;
  color: white;
  font-size: 14px;
  font-weight: 500;
  width: 127px;
  padding: 10px 0px;
  border-radius: 3px;
}
.btn_composse {
  border: none;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  color: #0091ec;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}


/*.btn_composse:hover{
      border: none;
      background: rgba(0, 0, 0, 0.1);
      font-size: 14px;
      font-weight: 500;
      color: #0091ec;
      padding: 10px 20px 10px 20px;
      border-radius: 26px;
}*/

.cont-cards-mail {
  height: 845px;
  position: relative;
  padding-left: 0px !important;
  background-color: #F9F9F8;
  padding-right: 0px !important;
      border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.cont-card-over {
  direction: ltr;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.cont-card-over1 {
  height: 100%;
  outline: none;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  padding: 10px;
}

.scrollable {
  overflow-y: auto;
}

.btn-mailbox {
  border-radius: 19px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 10px 5px 10px;
  background: rgba(6, 6, 6, 0);
  margin: 0px 5px 0px 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-mailbox:hover {

    background: rgba(0, 0, 0, 0.1);

}

.pad-mail1 {
  padding: 15px;
}

.font-subject2 {
  font-size: 16px;
  font-weight: 500;
  color: #212121;
}

.content-message-img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 3px;
  display: inline-block;
  margin-right: 10px;
}

.dis-messen {
  display: inline-block;
}

.content-message-prins {
  padding: 15px 15px 15px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
  margin: 20px 0px 20px 0px;
}

.ver-1 {
  vertical-align: top;
}

.font-profile-msn {
  font-size: 16px;
  font-weight: 500;
  color: #246EB9;
}

.font-city-msn {
  font-size: 13px;
  font-weight: 400;
  color: #777777;
}

.font-hore-msn {
  font-size: 13px;
  font-weight: 500;
  color: #777777;
  vertical-align: middle;
}

.marg-msn-send {
  margin: 20px 0px 20px 0px;
}

.font-msn-princi {
  font-size: 14px;
  font-weight: 400;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.messega-content {
  padding: 20px 15px 20px 15px;
      margin-top: 50px;
}


.cont-inbox-pris{

  height: 845px;
position: relative;
    padding-right: 0px !important;
    background: #ffffff;
}

.cont-inbox-3{
  direction: ltr;
  height: 100%;
  overflow: hidden;
  position: relative;

}

.cont-inbox-4{
  height: 100%;
  outline: none;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;

}


.content-reply{

  position:relative;
  width: 100%;
  background-color: #fff;
      padding: 15px;
}

.btn-atach{
  background: transparent !important;
color: #d8d8d8 !important;
text-transform: capitalize !important;
border-radius: 37px !important;
box-shadow: none !important;
}

.text-area-msn{
  height: 100px;
border-radius: 3px;
border: 1px solid rgba(0, 0, 0, 0.18);
resize: none;
padding: 15px;
outline: none;
font-size: 14px;
font-weight: 400;
}

.text-area-msn:focus{

border: 1px solid #246EB9;

}

.msn-aline{

  text-align: right;
}

a.btn-send-message,
a.btn-reply-msn{
margin-top: 20px;
border: none;
background: #246EB9;
color: white;
font-size: 14px;
font-weight: 500;
    width: 127px;
    padding: 10px 0px;
    border-radius: 25px;
}
.btn-reply-msn:hover{
      background: #0d4174;
  }
.stop-msn{
  text-align: center;
}

.font-stop-msn{

  font-size: 14px;
font-weight: 500;
color: #d1d1d2;
}

.card-dow{

  width: auto;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin: 10px 0px 10px 0px;
  display: inline-block;
}

.box-icon-msn{

  width: 77px;
height: 77px;
text-align: center;
background-color: #F3F6F8;
border-radius: 3px;
display: inline-block;
padding-top: 20px;
vertical-align: super;
}

.box-icon-msn i{

font-size: 30px;
color: #93A9BF;
}

.text-dow-cont{
  display: inline-block;
padding-left: 10px;
    vertical-align: super;
}
.flex-btn{
  display: flex;
  margin-left: -19px;
  padding: 0;
  margin-top: 1.5rem;
  float: left;
}

.font-text-dw{

  font-size: 15px;
color: #246eb9;
margin-left: -12px;
}
.info-dowloand{
  text-align: center
}
.btn-acept-msn{
  border: none;
  border-radius: 30px;
  padding: 5px 15px 5px 15px;
  font-size: 14px;
  font-weight: 400;
  background: #246ebd;
  color: white;
  display: block;
  width: 220px;
  text-align: center;
  margin-top: 1rem;
}

.btn-noacept-msn{
  border: none;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  font-size: 14px;
  font-weight: 400;
  background: #f8a425;
  color:#011523
}

.box-img-msn{

  width: 90px;
height: 120px;
overflow: hidden;
border-radius: 3px;
display: inline-block;
}


.text-dow-cont2 {
    display: inline-block;
    padding-left: 10px;
        vertical-align: top;

}

.font-subt-msn{

  font-size: 14px;
  font-weight: 400;
  color: #2F313A;
}

.messega-composse {
    padding: 20px 15px 20px 15px;
    margin-top: 60px;
}


.input-composse{
  background-color: #F9F9F8 !important;
width: 100% !important;
padding: 5px !important;
border: 1px solid #ccc !important;
border-radius: 3px !important;
height: 3rem !important;
outline: none !important;
font-family: Roboto, sans-serif !important;
font-size: 14px !important;
font-weight: 500 !important;
-webkit-font-smoothing: antialiased !important;
-moz-osx-font-smoothing: grayscale !important;
-o-font-smoothing: antialiased !important;
font-smoothing: antialiased !important;
color: #848484 !important;
box-sizing: border-box !important;
}


.input-composse:focus{

  border: 1px solid #246EB9 !important;
  outline: none !important;
  border-bottom: 1px solid rgb(36, 110, 185)!important;
  box-shadow: none !important;


}



.text-area-msn-new {
    height: 242px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    resize: none;
    padding: 15px;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    background: #F9F9F8;
}


.text-area-msn-new:focus {
    border: 1px solid #246EB9;
}


.btn-cancel-msn {
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    background: #D8D8D8;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.btn-cancel-msn:hover {

    background: #246EB9;

}

.icon-mail{

  text-align: center;
position: relative;
top: 30%;
}

.font-none-msn{
  font-size: 16px;
  font-weight: 500;
  color: #bbbbbb;
  line-height: normal;
  margin-top: 12px;
}

.spam-content {
  text-align: center;
  position: relative;
  top: 45%;
}

.active-dow{
    opacity: 1;
    display: block;
    top: 10rem !important;
    left: 11rem;
    background: #2F313A !important;
}
.active-dow li a{
    color: #fff !important
}
.resultado {
  -webkit-transition: opacity .218s;
  background: #fff;
  border: 1px solid rgb(158, 158, 158);
  box-shadow: none;
  cursor: default;
  display: none;
  font-size: 13px;
  margin: 0;
  max-height: 180px;
  min-width: 274px;
  outline: none;
  overflow: hidden;
  padding: 6px 0;
  position: absolute;
  transition: opacity .218s;
  width: auto;
  z-index: 9;
  width: 100%;
  bottom: auto;
  border-top: 0;
  list-style: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: auto;
  top: 44px;
}

.resultado > li{
  cursor: pointer;
  min-height: 60px;
  background-color: #FAFAFA;
  margin: 2px;
  padding: 2px 20px;
}
.resultado > li .users-images{
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50px;
  display: inline-block;
}
.resultado > li .users-images > figure{
  margin:0;
}
.resultado > li .users-images > figure > img{
  width: 100%;
}
.resultado > li .users-data{
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
  margin-left: 10px;
}
.resultado > li .users-data > p{
  font-size: 14px;
    font-weight: 500;
    line-height: 10px;
    margin-top: 8px;
    color: #001624;
}
a.a-button{
  width: 112px;
  display: inline-block;
  padding: 5px;
  text-align: center;
}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

#mailbox{
  margin-top: 3.4rem;
}
.ic-msn i{
  color: white;
}

.font-nav2{
  font-size: 14px;
      font-weight: 500;
      margin-left: 5px;

}


.box-num-mail-nav {
    font-size: 12px;
    font-weight: 500;
    padding: 2px 5px 2px 5px;
    background: #212121;
    color: white;
    margin-left: 10px;
    border-radius: 3px;
        float: right;
}


.mar-box1{
  margin-top: 15px;
}

.cursor-pointer{
  cursor: pointer;
}