.wapper-modal-main{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .62);
}
.wapper-modal-main-content {
    width: 550px;
    height: auto;
    position: absolute;
    background-color: white;
    border-radius: 3px;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    top: 35%;
    overflow: auto;
}
.wapper-modal-main-content-title{
    padding: 15px;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    border-radius: 3px 3px 0px 0px;
}
.wapper-modal-main-content-title i {
    font-size: 20px;
    vertical-align: sub;
    color: #2F313A;
}
.wapper-modal-main-content-title span{
    font-size: 14px;
    color: #2F313A;
    font-weight: 500;
}
.wapper-modal-main-content-title .icon-close-evnt {
    float: right;
    cursor: pointer;
}
.wapper-modal-main-content-body{
    padding: 15px;
    text-align: center;
}
.wapper-modal-main-content-body p{
    margin: 0;
}
.wapper-modal-main-content-body p:first-child{
    font-weight: 600;
}
.wapper-modal-main-content-footer{
    padding: 15px;
    text-align: center;
}
.wapper-modal-main-content-footer button{
    width: 7rem;
    height: 2.3rem;
    font-size: 14px;
    background: #F76859;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    transition: all 0.3s ease;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}