body nav {
  height: auto;
  line-height: initial;
}
.s-wrap-header{
  background-color: #001524;
  z-index: 99999;
  position: fixed;
  height: 64px;
  line-height: 64px;
}
nav a.button-collapse {
  display: none;
}
nav a#logo-container.brand-logo {
  padding-top: 0.4rem;
  width: 230px;
  /*position: initial;
  left: initial;
  transform: none;
  -webkit-transform: none;*/
}

a#logo-container img.logo-on-nav {
  max-width: 204px;
  margin-top: 1rem;
  width: 100%;
}

div.select-yourplan {
  float: initial !important;
  display: inline-block;
  vertical-align: top;
}

.s-header--home {
  min-height: 0;
}

.s-header .s-wrap-header {
  background-color: #011523;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}

.nav-wrapper {
  width: 100%;
}

.ico-proj:hover a {
  color: #ffa31e;
}

.ico-proj:hover span.icon-create:before {
  color: #ffa31e;
}

.ico-proj {
  background-color: #ffa31e;
  margin-right: 15px;
}

nav ul li.ico-proj a {
  color: #011523;
}

.ico-proj span.icon-create.icon-nav {
  font-size: 25px;
}

.ico-proj span.icon-create:before {
  color: #011523;
}

.ico-proj span.txt-nav {
  margin-left: -3px;
}

.padding-space {
  padding: 2rem 0;
}

.bg-n {
  background-position: 0 -57px;
}

.nav-login:hover {
  color: #FCB225;
}

.nav-register:hover {
  color: #ffffff;
}

.mdo-tit span {
  display: block;
}

.tooltip-aside {
  font-size: 12px;
  color: white;
  margin-left: 60px;
  margin-top: -64px;
  background-color: rgba(4, 6, 18, 0.8);
  padding: 6px 16px;
  display: initial;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  top: -34px;
  position: relative;
}

._ho-active:hover {
  color: #FFA31E;
}

.add-dow-span {
  height: 38px;
  display: block;
}

.add-dow-span a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.default {
  background-color: initial;
  border-bottom: initial;
}

#nav-hamburger-mobile {
  width: 30px;
  float: left;
  height: 45px;
  position: relative;
  margin: 22px 14px 2px 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
  top: -25px;
  color: #ffa31e;
}

#nav-hamburger-mobile span {
  display: block;
  position: absolute;
  height: 2px;
  width: 28px;
  background: #ffa31e;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-hamburger-mobile span:nth-child(1) {
  top: 0px;
}

#nav-hamburger-mobile span:nth-child(2), #nav-hamburger-mobile span:nth-child(3) {
  top: 6px;
}

#nav-hamburger-mobile span:nth-child(4) {
  top: 12px;
}

#nav-hamburger-mobile.open span:nth-child(1) {
  top: 0px;
  width: 0%;
  left: 50%;
}

#nav-hamburger-mobile.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-hamburger-mobile.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-hamburger-mobile.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* nav */

.logo-dash {
  max-width: 204px;
  margin-top: 1rem;
  width: 100%;
}

.icon-nav {
  font-size: 30px;
  vertical-align: middle;
}

.select-yourplan a:hover {
  background-color: #022742;
}

.select-yourplan .left-plans {
  margin-left: 20px;
  width: 220px;
  height: 30px;
  border-radius: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


.alerts-nav {
  font-size: 30px;
}

.font-14 {
  font-size: 14px;
}

.select-yourplan .txt-nav {
  font-size: 14px;
  font-weight: 400;
  position: relative;
  top: 1px;
}

#nav-web .txt-nav {
  font-size: 14px;
  font-weight: 400;
  position: relative;
  top: 1px;
}

#nav-web .hover-search-content:hover {
  color: #ffa31e;
}

.select-yourplan .select-yourplan-link:hover {
  color: #ffa31e;
}

.thumb-profile {
  width: 45px;
  height: 45px;
  border-radius: 2px;
  vertical-align: middle;
  margin-right: 6px;
}

.align-thumb-profile {
  margin-right: 30px;
}

ul#nav-web li.hover-search a {
  line-height: normal;
  border-radius: 25px;
  padding: 0 11px;
  position: relative;
  top: 17px;
}

ul#nav-web li.hover-search a:hover {
  background-color: #022742;
}

.dropdown-cnt {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 152px;
  /* Changed this to accomodate content width */
  max-height: auto;
  margin-left: -1px;
  /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden;
  /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
  top: 41px !important;
  box-shadow: none;
  background-color: transparent !important;
  border: none;
  border-radius: 4px;
}

.content-on-nav {
  top: 48px !important;
  padding-top: 16px !important;
}

.dropdown-cnt li {
  min-height: 38px !important;
  border-bottom: 1px solid #29495d;
}

.align-thumb-profile .dropdown-content li {
  min-height: 38px !important;
  border-bottom: 1px solid #29495d;
}

.align-thumb-profile .dropdown-content li > a {
  color: white;
  font-size: 14px;
}

.box-profile-item {
  background-color: #233D4D !important;
  border-radius: 0px;
  font-size: 12px;
  color: white !important;
  width: 100%;
  float: left;
  display: inline-block;
}

.align-thumb-profile .triangle-up {
  width: 20px;
  height: 19px;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 9px solid #233D4D;
  position: absolute;
  top: -7px;
  right: 26px;
}

/* burger */

.father-burger {
  padding: 18px 15px 0 !important;
  float: left !important;
  cursor: pointer;
}

.burger {
  width: 50px;
  min-height: 50px;
  background-color: #011523;
  position: relative;
  overflow: hidden;
  padding-top: 17px;
  margin-top: -11px;
  /* depende si queda el padre antiguo */
}
.f_left {
  text-align: left;
}
.select-yourplan a.select-yourplan-link {
  border-radius: 25px;
  padding: 0 7px;
  position: relative;
  top: 17px;
  line-height: normal;

}
.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.container {
  width: 90%;
}

.burgers {
  width: 50px;
  min-height: 50px;
  background-color: #011523;
  position: relative;
  overflow: hidden;
  padding-top: 17px;
  margin-top: -11px;
  /* depende si queda el padre antiguo */
}

.line-burger1 {
  width: 16px;
  height: 2px;
  background-color: #ffa31e !important;
  border-radius: 4px;
  position: absolute;
  right: 10px;
  top: 15px;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.line-burger2 {
  width: 30px;
  height: 2px;
  background-color: #ffa31e !important;
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  position: absolute;
  top: 22px;
  right: 10px;
}

.line-burger3 {
  width: 16px;
  height: 2px;
  background-color: #ffa31e !important;
  border-radius: 4px;
  position: absolute;
  top: 29px;
  right: 10px;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.upper {
  position: absolute;
  width: 18px;
  height: 2px;
  margin-top: 10px;
  background-color: #ffa31e;
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
  top: 8px;
  left: 14px;
  border-radius: 4px;
}

.move {
  transform: translate3d(-2px, -6px, 0) rotate(-45deg) scale(0.7, 1);
  transition: all 0.2s;
  opacity: 0;
}

.downer {
  position: absolute;
  width: 18px;
  height: 2px;
  margin-top: 10px;
  background-color: #ffa31e;
  transform: translate3d(-8px, 0, 0) rotate(-135deg) scale(0.7, 1);
  top: 16px;
  left: 14px;
  border-radius: 4px;
}

.move2 {
  transform: translate3d(-2px, 6px, 0) rotate(-135deg) scale(0.7, 1);
  transition: all 0.2s;
  opacity: 0;
}

.big-line {
  transform: translate3d(-7px, 0px, 0) rotate(0deg) scaleX(1.9);
}

.hamburger:hover {
  Opacity: 1 !important;
}

/* fin de burger */

/* sidebar */

.side-icons {
  background-color: #1d2d4c;
  position: absolute;
  width: 56px;
  margin-left: 2px;
  font-size: 26px;
  padding: 0 0 0 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  left: 0;
  height: 30px;
}

.side-icons:hover {
  background-color: #4E6292;
}

/*
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #F9F9F9;
}

::-webkit-scrollbar-thumb {
    background-color: #C2C2C2;
}
*/
.sidebar-nav li {
  list-style: none;
  width: 100%;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.s-header--home, .s-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.sidebar-nav li:hover {
  background-color: #4E6292;
}

/* Toggle Styles */

.cover-page {
  padding-left: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
 /* min-height: 1000px;*/
  position: relative;
}

.cover-page-1 {
  padding-left: 203px;
}

.cover-page.toggled {
  padding-left: 260px;
}

.sidebar-wrapper {
  z-index: 1000;
  left: 120px;
  width: 0;
  margin-left: -244px;
  overflow-y: auto;
  background: white;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  overflow-x: hidden;
  box-shadow: 4px 0 10px -4px rgba(0, 0, 0, 0.1);
}

.cover-page.toggled .sidebar-wrapper {
  width: 250px;
}

.page-content-wrapper {
  width: 100%;
  /*position: absolute;*/
  padding: 15px;
  padding: 0 !important;
}

.cover-page.toggled .page-content-wrapper {
  position: absolute;
  margin-right: -120px;
}

/* Sidebar Styles */

.few-top-nav {
  margin-top: 88px;
}

.see-profile-sidebar {
  padding-left: 47px !important;
  text-align: center;
  padding-top: 20px !important;
  padding-bottom: 16px !important;
}

.circle-seeprofiel-sidebar {
  width: 56px;
  margin: auto;
  border-radius: 50px;
  overflow: hidden;
  height: 56px;
  text-align: left;
  /*box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);*/
  border: 2px solid #ffffff;
  margin-bottom: 4px;
}

.see-profile-sidebar p {
  margin-left: -11px;
  display: none;
}

.circle-seeprofiel-sidebar img {
  margin-left: -12px;
}

.box-empty-2 {
  width: 56px;
  height: 126px;
  background-color: #1d2d4c;
  position: absolute;
  margin-left: 2px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.box-blank {
  width: 56px;
  background: #1d2d4c;
  height: 100%;
  position: absolute;
  margin-left: 2px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.sidebar-nav {
  height: 100%;
  position: fixed;
  top: 0;
  width: 210px;
  margin-left: 38px;
  padding: 0;
  list-style: none;
  background-color: #283856;
  box-shadow: inset -6px 0 8px -7px rgba(0, 0, 0, 0.1);
  z-index: 111;
  display: block;
}

.sidebar-nav li {
  text-indent: 12px;
  line-height: 30px;
  position: relative;
  font-size: 14px;
  font-weight: 400;
}
li.few-regular-nav {
  min-height: 29px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #cacaca;
  padding: 0 0 0 60px;
  font-size: 14px;
  padding-left: 66px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #FFA502 !important;
  /*background: #1D1C1C;*/
}

.sidebar-nav li a p {
  font-size: 12px;
  font-weight: 400;
}

.line-detail {
  width: 4px;
  height: 100%;
  background-color: #FFA31E;
  position: absolute;
  top: 0;
  display: none;
}

.active-dash {
  background: #D0D8EC;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width: 768px) {

  .cover-page.toggled {
    padding-left: 49px;
  }
  .sidebar-wrapper {
    width: 210px;
  }
  .cover-page.toggled .sidebar-wrapper {
    width: 120px;
  }
  .page-content-wrapper {
    position: relative;
  }
  .cover-page.toggled .page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

@media screen and (min-width: 767px) {
  .page-content-wrapper {
    width: 100%;
    position: relative !important;
  }

}

.collapsible-none {
  border: none;
  margin: 0;
  box-shadow: none;
}

.coll-header-add i {
  width: 11px;
  font-size: 1.6rem;
  line-height: 30px;
  display: block;
  float: left;
  /* text-align: center; */
  /* margin-right: 1rem; */
  left: 0;
  margin-left: -11px;
  max-resolution: 0;
  color: #6c92ad;
  height: 20px;
}

.coll-header-add {
  border: none;
  background-color: #1d2d4c;
  box-shadow: inset -6px 0 8px -7px rgba(0, 0, 0, 0.1);
  line-height: 30px;
  padding: 0 !important;
  padding-left: 66px !important;
  font-size: 14px;
  height: 30px;
  min-height: 0;
  color: #cacaca;
}

.s-header-bg {
  width: 100%;
  height: 64px;
  display: inline-block;
  float: left;
}

.sidebar-nav .collapsible-header {
  display: block;
}

.coll-header-add i {
  vertical-align: middle;
  float: right;
  margin-right: 30px;
}

.coll-header-add:hover {
  background-color: #4E6292;
  color: #FFA502;
}

.collapsible-body-none {
  background-color: #1d2d4c;
  border: none;
  padding: 0 0;
}

.box-empty {
  width: 56px;
  height: 49px;
  background-color: #1d2d4c;
  position: absolute;
  margin-left: 2px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.small-icons span {
  vertical-align: top;
  display: inline-block;
  padding-top: 2px;
  margin: 0 auto;
  margin-left: -9px;
}

.static-icon {
  margin-left: 156px;
}

#logo-container {
  max-width: 300px;
}

.logo-on-nav {
  /* max-width: 204px;
   margin-top: 1rem;*/
  width: 100%;
  max-width: 230px;
}

.nav-register {
  padding: 0 10px;
  color: #FCB225;
}

.nav-login {
  padding: 0 10px;
}

.clr4 {
  color: #c1c1c1;
}

.circle-menu-mob {
  width: 70px;
  margin-top: 53px;
  margin-left: 25px;
}

#nav-mobile .align-thumb-profile {
  margin-right: 0px;
  float: right;
}

.logo-sidebar {
  height: 125px;
}

.separator-nav {
  cursor: text;
}

.modal-create-project .title-modal {
  padding-top: 0.6rem;
  font-size: 2.7rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: black;
}

.modal-create-project .text-modal-sub span {
  display: block;
}

.modal-create-project .text-modal-sub {
  display: block;
  margin: 0 auto;
  font-size: 37px;
  line-height: 1;
  color: black;
  padding: 0 !important;
}

.modal-create-project .btn-modal {
  color: #ffa509;
  background-color: black;
  max-width: 250px;
  display: block;
  margin: 0 auto;
  padding: 7px;
  font-size: 1.5rem;
  font-weight: 300;
  border-radius: 50px;
  margin-top: 22px;
  margin-bottom: 22px;
  cursor: pointer;
}

.align-thumb-profile ul#dropdown-trigger-profileicon-content {
  top: 52px !important;
  width: auto !important;
  height: auto !important;
  padding-top: 12px;
  background: transparent;
}

.modal-create-project {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: transparent;
  padding: 0;
  max-height: 90%;
  width: 46.6%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}

.modal-create-project.modal .modal-content {
  background-image: url(../images/back-modal2.jpg);
  background-size: cover;
  min-height: 460px !important;
  position: relative;
  padding: 30px 64px 10px 64px;
  line-height: inherit !important;
  border-radius: 8px;
}

.modal-create-project .txt-modal {
  font-size: 37px;
}

@media (max-width: 768px) {
  .cover-page.toggled {
    padding-left: 0px;
  }
  .sidebar-nav {
    margin-left: 30px;
  }
}

@media screen and (max-width: 646px) {
  #nav-mobile {
    margin-top: -24px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 670px) {

  .info-blog .all-txt-home-blog {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    font-size: 15px;
  }

  .side-nav {
    width: 60% !important;
    z-index: 9999999;
  }

  .side-nav li {
    width: 100%;
    text-align: left;
  }

  .side-nav li .user-view a {
    text-align: left;
  }

  .drag-target {
    z-index: 9999 !important;
  }
  .big-title {
    font-size: 2.5rem;
  }
  .title-banner {
    margin-top: 8.2rem;
    font-weight: 300;
  }
  .bann-icons {
    margin-top: 3.5rem;
  }
  .btn-more-blog {
    margin-top: 16rem;
  }
  .btn-see-all-genres {
    padding-left: 0.4rem;
    padding-right: 1rem;
    font-size: 13px;
  }

  #mailbox section {
    padding: 0rem 0;
  }

}

@media screen and (max-width: 680px) {

  #nav-mobile {
    margin-top: -24px;
    padding-bottom: 10px;
    text-align: center;
  }
  nav ul li {
    width: 20%;
  }
  .align-thumb-profile{
    margin-right: 0;
  }
  #notf {
    position: relative;
    top: 18px;
    left: 48px !important;
  }
  .s-header--home #nav-web .alerts-nav{
    top: 0;
  }
  .s-header--home ul#nav-web{
    top: -15px
  }
  .cover-accordion-container.slider-home.cover-home{
    height: 600px !important;
  }
  .thumb-profile{
    width: 32px;
    height: 32px;
  }
}

.dropdown-trigger-profileicon {
  &:focus {
    outline: none;
  }
}
