.page-content-wrapper-plans #respon-ap{
  display: none;
}
.page-content-wrapper-plans #table-price {
  display: block;
}
.page-content-wrapper-plans {
  background-color: #e6ecf0;
}

.page-content-wrapper-plans {

}

.page-content-wrapper-plans .cont-general {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.page-content-wrapper-plans .padding-p-3 {
  padding-bottom: 40px;
}

.page-content-wrapper-plans .text-pc {
  text-align: center !important;
}

.page-content-wrapper-plans .font-price {
  font-size: 46px;
  font-weight: 500;
  color: #354052;
}

.page-content-wrapper-plans .font-body {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.page-content-wrapper-plans #table-price {
  background: white;
}

.page-content-wrapper-plans .col-p {
  width: 216px;
  overflow: hidden;
  background-color: #fff;
  box-sizing: content-box;
}

.page-content-wrapper-plans .font-p-title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #354052;
}

.page-content-wrapper-plans .btn-primary-small {
  border: 1px solid #D5AB55;
  background-image: linear-gradient(180deg, #FFD96A 0%, #FFBC00 100%);
  border-radius: 3px;
  height: auto;
  color: #0D0E10;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding: 0.3rem 10px;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  cursor: pointer;
}

.page-content-wrapper-plans .btn-default-small:hover {
  background-color: #F6F6F6;
}

.page-content-wrapper-plans .btn-default-small {
  border: 1px solid #8492A6;
  background-color: #FBFBFB;
  border-radius: 3px;
  height: auto;
  color: #0D0E10;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  padding: 7px 10px;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.page-content-wrapper-plans .border-p-t {
  border-top: 1px solid #ebebeb;
}

.page-content-wrapper-plans .border-p-b {
  border-bottom: 1px solid #ebebeb;
}

.page-content-wrapper-plans .col-p-adi-cont {
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid #ebebeb;
  padding-top: 8px;
  padding-bottom: 7px;
  text-align: left;
}

.page-content-wrapper-plans .bar-th {
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.page-content-wrapper-plans .icon-price-check {
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
}

.page-content-wrapper-plans .icon-price-check i {
  color: #ffc114;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
}

.page-content-wrapper-plans .col-p-adi-cont-ten {
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid #ebebeb;
  padding-top: 8px;
  padding-bottom: 7px;
  text-align: center;
}

.page-content-wrapper-plans .col-p-adi-cont-ten {
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid #ebebeb;
  padding-top: 8px;
  padding-bottom: 7px;
  text-align: center;
}

.page-content-wrapper-plans .font-p-sub {
  font-size: 44px;
  font-weight: 500;
  color: #354052;
}

.page-content-wrapper-plans p.font-p-p.padding-p-2.square-plan-blocktext-responsive {
  height: 157px;
  float: left;
  display: inline-block;
}

.page-content-wrapper-plans .font-prix-2 {
  font-size: 46px;
}

.page-content-wrapper-plans h3 {
  margin: 1.46rem 0 1.168rem 0;
}

.page-content-wrapper-plans .font-prix-2 {
  font-size: 46px;
}

.page-content-wrapper-plans .font-doll {
  vertical-align: super;
  font-weight: 300;
  font-size: 28px;
  font-family: sans-serif;
}

.page-content-wrapper-plans .cont-p-prix1 {
  text-align: left;
  display: inline-block;
  line-height: .9rem;
  margin: 0;
}

.page-content-wrapper-plans #table-price .btn-size {
  width: 148px;
  display: inline-block;
}

.page-content-wrapper-plans .font-prix-1 {
  font-size: 24px;
  font-weight: 400;
}

.page-content-wrapper-plans .font-prix-1-2 {
  font-size: 12px;
  font-weight: 400;
}

.page-content-wrapper-plans .font-p-price {
  color: #545e6b;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  width: 100%;
  display: inline-block;
}

.page-content-wrapper-plans .font-p-p {
  font-size: 14px;
  font-weight: 300;
  color: #545e6b;
  line-height: 1.4rem;
}

.page-content-wrapper-plans .bar-3 {
  width: 47px;
  height: 3px;
  background-color: #0457EA;
  margin: 0 auto;
  border-radius: 105px;
}

.page-content-wrapper-plans .bar-4 {
  width: 47px;
  height: 3px;
  background-color: #991AFD;
  margin: 0 auto;
  border-radius: 105px;
}

.page-content-wrapper-plans .bar-2 {
  width: 47px;
  height: 3px;
  background-color: #35B7EF;
  margin: 0 auto;
  border-radius: 105px;
}

.page-content-wrapper-plans .bar-1 {
  width: 47px;
  height: 3px;
  background-color: #ffa31e;
  margin: 0 auto;
  border-radius: 105px;
}

.page-content-wrapper-plans .col-p-adi {
  padding-left: 14px;
  padding-right: 14px;
  border-left: 1px solid #ebebeb;
  padding-top: 8px;
  box-sizing: content-box;
  vertical-align: text-top;
  text-align: center;
}

.page-content-wrapper-plans .full-img-p {
  width: 132%;
  max-width: max-content;
  vertical-align: inherit;
}

.page-content-wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.page-content-wrapper-plans .card-talk {
  text-align: center;
  padding: 40px;
  background-color: white;
  border-radius: 3px;
  margin-top: 40px;
}

.page-content-wrapper-plans .font-body-2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8rem;
  margin: 0;
}

.page-content-wrapper-plans .margin-p-1 {
  margin-top: 40px;
}

.page-content-wrapper-plans .card-bonus {
  padding: 2rem 2rem;
  text-align: center;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 40px;
  box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15);
  min-height: 274px;
}

.page-content-wrapper-plans .btn-ghost-primary-medium {
  border: 1px solid #8492A6;
  background-image: linear-gradient(180deg, #FBFBFB 0%, #FBFBFB 100%);
  border-radius: 3px;
  height: auto;
  color: #0D0E10;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4rem;
  text-align: center;
  padding: 0.8rem 10px;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.page-content-wrapper-plans .marg-footer {
  margin-top: 14px;
}

.page-content-wrapper-plans .btn-size {
  width: 180px;
}

.area-payment-st {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 5rem;
}

.area-payment-camps {
  background-color: white;
  padding: 34px 40px 49px 40px !important;
}

.area-order-summary {
  background-color: #F5F5F5;
  padding: 40px !important;
  min-height: 457px !important;
}

.title-payment {
  color: #004975;
  font-size: 18px;
  margin-left: 11px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  float: left;
  margin: 0;
  padding: 5px 12px 12px 12px;
}

.method-pay {
  padding-left: 10px;
  display: inline-flex;
}

.listcard {
  position: relative;
  float: left;
}

.input-plans1 {
  background-color: rgba(255, 255, 255, 0.9) !important;
  width: 95% !important;
  padding: 5px 8px !important;
  border: 1px solid #ccc !important;
  border-radius: 3px !important;
  height: 3rem !important;
  outline: none !important;
  font-family: Roboto, sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -o-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  color: #848484 !important;
  box-sizing: border-box !important;
  z-index: 0;
}

.show-tool-help:hover + .tooltip-help {
  display: block;
}

.tooltip-security {
  display: none;
  width: 137px;
  background-color: #004975;
  position: absolute;
  margin-top: -68px;
  margin-left: 44px;
  border-radius: 4px;
  color: white;
  font-size: 10px;
  line-height: 12px;
  padding: 6px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  cursor: pointer;
  z-index: 7;
}

.show-tool-security:hover + .tooltip-security {
  display: block;
}

.tooltip-help {
  display: none;
  width: 137px;
  background-color: #004975;
  position: absolute;
  margin-top: -33px;
  margin-left: 44px;
  border-radius: 4px;
  color: white;
  font-size: 10px;
  line-height: 12px;
  padding: 6px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  cursor: pointer;
  z-index: 7;
}

.btn-send-payment {
  display: inline-block;
  border: 1px solid #D5AB55;
  background-image: linear-gradient(180deg, #FFD96A 0%, #FFBC00 100%);
  border-radius: 3px;
  height: auto;
  color: #0D0E10;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding: 8px 0;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  width: 92%;
  margin-left: 11px;
  top: 25px;
}

.auto-renewal {
  padding: 27px 14px;
  margin-top: 10px;
  margin-bottom: 50px;
  border-bottom: 1px solid #d8d8d8;
}

.clr-2plans {
  color: #246EB9 !important;
}

.crl-3plans {
  color: #233D4D;
}

.font-1plans {
  font-size: 12px;
}

.popupcoupon-content .modal-trigger {
  border: 1px solid #567ccc;
  background-image: linear-gradient(180deg, #5c84f2 0%, #2767f5 100%);
  border-radius: 3px;
  height: auto;
  color: white;
  padding: 7px 33px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding: 0.3rem 10px;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.order-summary {
  color: #004975;
  font-size: 18px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  float: left;
  margin: 2.8rem 0 0 0;
}

dd.tp-plan {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.font-3plans {
  font-size: 18px !important;
}

.plans-choosed {
  position: relative;
  border-bottom: 1px solid #cecece;
  padding: 0 !important;
  margin: 10px;
  padding-bottom: 10px !important;
  h4 {
    margin: 0;
  }
  span {
    position: absolute;
    right: 0;
    top: 20px;
    color: #004975;
  }
}

.save-percent {
  font-size: 14px;
  color: #004975;
  border-bottom: 1px solid #cecece;
  padding: 0 !important;
  margin: 10px;
  padding-bottom: 18px !important;
}

.total-payment {
  float: right;
  margin-top: 20px;
  span {
    color: #246EB9;
    font-size: 20px;
    margin-right: -18px;
  }

  p {
    color: #004975;
    font-weight: 500;
    margin-right: 17px;
    padding-top: 6px;
  }
}

.price-pln_new {
  padding-left: 2rem;
}

.price-pln {
  &:before{
    content: '$ ';
  }
}

.popupcouponform-content {
  position: relative;
  min-height: 247px;
}

.modal{
  .modal-close-icon {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 12px;
    color: #949494;;
    i{
      font-size: 18px;
    }
  }
}

.code-promotion-form{
  width: 350px;
  margin: 0 auto;
  .input-promo-code {
    text-align: center;
    font-size: 14px !important;
    border: 1px solid #cacaca !important;
    height: auto !important;
    padding: 11px 0 !important;
    margin: 16px 0 !important;
    &:focus{
      border: 1px solid #cacaca !important;
      box-shadow:0 0 0 0 !important;
    }
  }
}

.btn-code-promotion {
  display: inline-block;
  border: 1px solid #D5AB55;
  background: linear-gradient(180deg, #FFD96A 0%, #FFBC00 100%);
  border-radius: 3px;
  height: auto;
  color: #0D0E10;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding: 8px 0;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  width: 100%;
}

.title-subcription {
  color: #004975;
  font-size: 18px;
  margin-left: 11px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 12px;
}

.subscription-items {
  padding: 12px 0;
  border-bottom: 1px solid #dcdcdc;
  font-size: 14px;
}

.txt-uppers {
  text-transform: uppercase;
}

.img-subscription-back {
  position: relative;
  height: 400px !important;
  overflow: hidden;
}

.btn-button-sub {
  text-align: center;
  position: relative;
  margin-right: 1.5rem;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
  bottom: 0;
}

.red-view {
  display: inline-block;
  vertical-align: middle;
}

.area-subcription {
  background-color: white;
  padding: 18px 14px 18px 14px!important;
}