.s-privacy-policy .space-bottom-64 {
  margin-bottom: 64px;
}

.s-privacy-policy .space-top {
  margin-top: 64px;
}
.s-privacy-policy .area-explains {
  max-width: 880px;
  margin: 0 auto;
}


.s-privacy-policy .banner-top-privacy-policy {
  background: url(../images/banner-privacy-policy.png) no-repeat center;
  background-size: cover;
  width: 100%;
  min-width: 80%;
  height: 26.5rem;
  position: relative;
  padding-top: 9px;
}

.s-privacy-policy .dis-flex-p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.s-privacy-policy .font-term-blod {
  font-weight: 700;
}

.s-privacy-policy .titles-banners {
  color: white;
  font-weight: 400;
  font-size: 3.4rem;
  line-height: 4rem;
  max-width: 900px;
  margin: 0 auto;
}