.cover-page-profile-photo{
    .title-images {
        color: #004975;
        font-size: 16px;
        margin-left: 0;
        font-weight: 500;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -o-font-smoothing: antialiased;
        font-smoothing: antialiased;
        margin: 0 0 20px 0;
    }
    .left-align {
        text-align: left;
    }
    .form-images {
        margin-left: 10px;
        margin-top: 0px;
    }
    .input-field {
        margin-bottom: 23px;
        margin-top: 39px;
    }
    .btn-upload-img {
        background-color: #246eb9;
        padding: 0 32px;
        height: 2rem !important;
        line-height: 2rem !important;
        box-shadow: none;
        margin-top: 2px;
        float: left;
        color: white;
        transition: .2s ease-out;
        cursor: pointer !important;
        border-radius: 4px;
        font-size: 13px;
        -webkit-font-smoothing: antialiased;
        letter-spacing: 0px;
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    .file-field .file-path-wrapper {
        overflow: hidden;
        padding-left: 10px;
    }
    .message-photos {
        color: #C1BEBE;
        font-weight: 300;
        font-size: 13px;
        margin-top: -8px;
        margin-bottom: 18px;
    }
}
