.font-for-tittle {
  font-size: 18px;
  font-weight: 500;
  color: #246eb9;
  margin-bottom: 20px;
}

.button-back {
  background: #3f3f40;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  padding: 5px 20px 5px 20px;
  border-radius: 19px;
  width: 10.5rem !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 7px;
  transition: all 0.3s ease;
  text-align: center;
  cursor: pointer;

}
.button-back :hover{
  background: #f76859;
}
button{
  &.button-back {
    line-height: 21px !important;
  }

}
#form-reset .input-field.col label,
#frm-signin .input-field.col label{
  color: #918D8D !important;
    font-size: 1rem !important;
}
.page-content-wrapper-plans h2.font-price{
  margin: 0;
    padding: 1.46rem 0 0 0;
}
.read-no{
  display: inline-block;
  width: 399px;
  vertical-align: top;
  margin-left: .5rem;
}
#list-videos-profile li p{
  vertical-align: super;
}
#list-videos-profile .icon8-video:before{
  color:#3f3f40;
}
.position-tem {
  position: relative;
  top: 5px;
}

.font-red {
  vertical-align: text-bottom;
  font-size: 14px;
  font-weight: 500;
  color: #636363;
  margin-left: 10px;
}

.pro-img {
  height: 166px !important;
  overflow: hidden;
  border-radius: 3px;
  display: inline-block;
  width: 170px;
}
.pro-img figure {
  margin: 0px !important;
}

.new-user-img-f {
  width: 100%;
}

.pro_bloque {
  display: inline-block;
}

.over-upload-photo-f {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
  bottom: 176px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: rgba(236, 239, 243, 0.6);
}
span.thumb.active{
  display: none;
}
.icon-upload-photo {
  position: relative;
  top: 60px;
  text-align: center;

}
.icon-upload-photo i {
  font-size: 35px;
  vertical-align: middle;
}

.icon-upload-photo :hover{
  color: #246EBD;
}
.font-upload-photo {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;

}

.font-label{
  font-size: 14px;
  font-weight: 500;
  color: #2f313a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: 2;
}

.text-red{
  color: red;
}
/**/
#profile-collapsible input[type="text"]{
  font-size: 14px;
}
#profile-collapsible li .collapsible-header{
  color: #246eb9;
  font-weight: 500;
}#profile-collapsible li .collapsible-body label
{
  font-weight: 500;
    color: #2f313a;
    font-size: 14px;
}
#profile-collapsible .collection li a{
  margin-right: .3rem;
  top: -4px;
  position: relative;
}
#profile-collapsible .collection li a i{
  font-size: 19px;
  color: #B3B3B3;
  cursor: pointer
}
#profile-collapsible .collection li a i:hover{
  color:#f46759
}
#profile-collapsible .collection li i{
  margin-right: .5rem;
}
#profile-collapsible .collection li p{
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
#profile-collapsible .collection .u-icon::before{
  color: #2f313a;
}
input,select{
  outline: none !important;
  outline: 0 !important;
}
textarea:focus,
input[type=text]:focus {
  border-bottom: 1px solid #1d71c5 !important;
  box-shadow: 0 1px 0 0 #1d71c5 !important;
}
#profile-collapsible select{
  border: 1px solid #ccc;
  color: #848484;
}
/**/
.tab-list-profile ul{
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 0px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.21);
  max-width: 80%;
  display: inline-block;
  li button{
    display: block;
    background-color: inherit;
    color: #246eb9;
    padding: 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    border-bottom: 0.001rem solid #F3F3F3;
    /* border-radius: 3px 3px 3px 3px; */
    border-left: none;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    position: relative;
  }
  li button:hover{
    background-color: rgb(233, 236, 243);
  }
}
.tabcontent-info-profile {

}
.tabcontent-info-profile .font-title {
  font-size: 18px;
  font-weight: 500;
  color: #246eb9;
  margin-bottom: 20px;
}
.tabcontent-info-profile label {
  font-size: 14px;
  font-weight: 500;
  color: #2f313a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: 2;
}
.tabcontent-info-profile input[type="text"] {
  background-color: rgba(255, 255, 255, 0.9) !important;
  width: 100% !important;
  padding: 5px !important;
  border: 1px solid #ccc;
  border-radius: 3px !important;
  height: 3rem !important;
  outline: none !important;
  font-family: Roboto, sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -o-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  color: #848484 !important;
  box-sizing: border-box !important;
}

.tabcontent-info-profile select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #fff url(../images/selec-drop.png) no-repeat 98% center;
  border: 1px solid #ccc;
  color: #848484;
}
div#form-locations .cbo-profesion{
  background-position: 95% !important;
}
#form-bio textarea.text-bio{
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 5px;
  border: 1px solid #a9a9a9;
  border-radius: 3px !important;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #848484 !important;
  height: 300px;
  resize: none;
}
.text-required-space{
  margin: 10px !important;
}
.space-bottom{
  margin-bottom: 1rem;
}
.text-required{
  font-size: 13px;
  font-weight: 400;
  color: #2F313A;
  margin-top: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.text-sub-title{
  font-size: 18px;
  font-weight: 500;
  color: #246eb9;
  margin: 20px 11px;
}
.space-top{
  margin-top: 2rem;
}
.list-items li a{
  margin-right: .3rem;
  top: 5px;
  position: relative;
}
.list-items li a i{
  font-size: 19px;
  color: #B3B3B3;
  cursor: pointer
}
.list-items li a i:hover{
  color:#f46759
}
.list-items li i{
  margin-right: .5rem;
}
.list-items li p{
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
.text-awards{
  height: 100px !important;
  resize: none;
}
.box-fq {
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  float: left;
  display: inline-block;
  max-width: none;
  text-align: center;
}
.notings-images {
  background: #e9ecf3 url(../images/icon-picture.svg);
  display: block;
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  background-position: 54px 47px;
  font-size: 13px;
  text-align: center;
  line-height: 17px;
}
/*.message-photos {
  color: #C1BEBE;
  font-weight: 300;
  font-size: 13px;
  margin-top: -8px;
  margin-bottom: 18px;
}*/
.tab-list-profile ul li button.tab-active{
  border-left: 3px solid #ffa31e;
}
.tab-list-profile ul li button.tab-active::after{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12.5px 10px 9.5px 0;
  border-color: transparent #e6ecf0 transparent transparent;
  line-height: 0px;
  _border-color: #000000 #ffa11e #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  position: absolute;
  right: -4px;
  top: 13px;
}
body.profile-view{
  background-color: #e6ecf0;
}
select#gender{
  background-position: 185px !important;
}
select.sl-default{
  background-position: 67px;
}


/** Show Profile **/

.main-area {
  max-width: 1190px;
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 50px;
}

.pro_pad1 {
  padding-left: 0px !important;
}

.pro-1 {
  height: auto;
  padding: 25px;
  padding-top: 25px;
  border-radius: 3px;
  border: 1px solid #d3d3d3;
  background: white;
}

.pro-img {
  height: 231px;
  overflow: hidden;
  border-radius: 3px;
  display: inline-block;
  figure {
    margin: 0px !important;
  }
}

.pro_bloque {
  display: inline-block;
}
/****/
.main-tabs {
  max-width: 800px;
  margin: 0 auto;
}
#profile-1 .border-pro3 {
  border-bottom: 0.01rem solid #D3D3D3;
  background-color: transparent;
}
#tabs-swipe-demo .marg-tabs {
  margin-right: 2rem;
}
#tabs-swipe-demo .col.s2 {
  /* width: 10.666667%; */
  width: 12.666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.tabs .tab{
  text-transform: capitalize;
}
.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent !important;
  color: #2F313A !important;
}
.tabs .tab a {
  color: #696969;
  display: block;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .28s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #6F7176;
  will-change: left, right;
}
.collapsible-header-u {
  cursor: pointer;
  min-height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.credit-padding-no {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.car-credit-no i {
  font-size: 30px !important;
  color: #93a9bf;
  width: 2rem;
  line-height: 1.5rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}
.font-add-credit {
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 0;
}
.btn-go-credit {
  border-radius: 19px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  background-color: rgba(147, 169, 191, 0);
  color: #2f313a;
  padding: 6px 10px 6px 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  transition: all 0.3s ease;
  line-height: normal;
  border: 1px solid #2f313a;
}
.pro_marg1 {
  margin-bottom: 1.0rem;
}
.box-no-profile {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: 0.5rem 0 1rem 0;
  box-shadow: 0 0px 0px 0 transparent, 0 0px 0px 0 transparent, 0 0px 0px 0px transparent;
}
.content-bio {
  width: 100%;
  height: auto;
  padding: 1.0rem;
}
.pro-img figure {
  margin: 0px !important;
}
.over-upload-photo {
  position: relative;
  width: 100%;
  height: 102%;
  opacity: 0;
  bottom: 239px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.icon-upload-photo {
  position: relative;
  /*top: 95px;*/
}
.icon-upload-photo i {
  font-size: 35px;
}
.font-upload-photo {
  font-size: 14px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.pro-font1 {
  font-size: 2rem;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: initial;
  color: #2F313A;
}
.pro-marg6 {
  margin-top: 10px;
}
.map-icon-ll {
  position: relative;
  top: 3px;
}
.pro-boton {
  margin-bottom: 1.0rem;
}
.pro-marg5 {
  margin-top: 1.0rem;
}
.bottom-primary-edit {
  display: inline-block;
  cursor: pointer;
  appearance: none;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  text-decoration: none;
  vertical-align: middle;
  height: 2.3rem;
  line-height: 2.625rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  border-radius: 19px;
  transition: all 0.3s ease;
}
.bottom-primary {
  display: inline-block;
  cursor: pointer;
  appearance: none;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  text-decoration: none;
  vertical-align: middle;
  height: 2.3rem;
  padding: 0.5rem 0.5rem;
  line-height: 0.625rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  border-radius: 19px;
  transition: all 0.3s ease;
}
.bottom-g2-edit {
  width: 100%;
  color: #ffffff;
  background-color: transparent;
  transition: all 0.3s ease;
  border: 1px solid #246EBD;
  position: relative;
  top: -3px;
  background: #246EBD;
}
.bottom-g2-edit i {
  font-size: 18px;
}
.botom-net-f-p {
  font-size: 13px;
  font-weight: 500;
  color: #F6645D;
  background-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  /* padding: 4px 18px; */
  border: 1px solid #F6645D;
  border-radius: 19px;
  transition: all 0.3s ease;
  padding: 0.4rem 0.4rem;
  width: 7rem;
  height: 2.5rem;
  position: relative;
  /* top: -2px; */
  vertical-align: middle;
}
.font-15 {
  font-size: 15px;
}

.tooltip3 .tooltiptext3 {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0px;
  font-family: 'Roboto', sans-serif !important;
  position: absolute;
  z-index: 11;
  bottom: 100%;
  left: 59%;
  margin-left: -60px;
  font-size: 11px !important;
  font-weight: 400 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin-bottom: 10px;
  white-space: normal;
}

.font-msn {
  font-family: "Roboto","Helvetica","Arial",sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: initial;
  position: relative;
  bottom: 1px;
}
.bottom-g2 {
  width: 7rem;
  height: 2.5rem !important;
  color: #fff;
  background-color: #F76859;
  border: 0.01rem solid transparent;
  position: relative;
  top: 0px;
  border: 1px solid #F6645D;
  padding: 0.4rem 0.4rem !important;
}
.font-edit-p {
  font-family: "Roboto","Helvetica","Arial",sans-serif !important;
  font-size: 14px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: initial;
  position: relative;
  bottom: 3px;
  text-transform: uppercase;
}

/*.coll-2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  min-height: 3rem;
  line-height: 3rem;
  padding: 0 0rem;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid #ddd;
  text-align: left !important;
  padding-top: 3px;
  color: #5D5F63 !important;
  transition: all 0.3s ease;
}*/
.coll-1 i {
  width: 2rem;
  font-size: 1.6rem;
  line-height: 3rem;
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: 0rem;
}
.pdg-15 {
  padding-right: 11px;
}
.corr-span1 {
  position: relative;
  top: 5px;
  width: 100%;
}
.vert-row {
  display: table-row;
}
.font-colla {
  font-family: "Roboto","Helvetica","Arial",sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.mrg-lef {
  margin-left: 5px;
}
/*.acor-1 {
  display: inline-block;
  top: 3px;
  line-height: inherit;
  left: 64px;
  margin-left: 30px;
}*/
.coll-3 {
  display: block;
  cursor: pointer;
  min-height: 3rem;
  line-height: 3rem;
  padding: 0 0rem;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding-top: 3px;
  color: #5d5f64;
  position: relative;
  color: #5D5F63 !important;
  transition: all 0.3s ease;
}
.dis-flex-p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dis-flex-i {
  display: flex !important;
}
.pro-color4 {
  color: #5D5F63;
}

.pro-font4 {
  font-family: "Roboto","Helvetica","Arial",sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: initial;
}
.acor-2 {
  display: inline-block;
  float: right;
  left: 97%;
  position: absolute;
}
.pro-marg4 {
  margin-top: 2rem;
}
#list-read-collection{
  .pro-marg5 {
    margin-top: 1.0rem;
  }
  .card-read-new {
    /* padding: 1.0rem; */
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    text-align: left;
    min-height: 83px;
    overflow: hidden;
  }
  .show-img-on-newreadlist {
    width: 60px;
    height: 86px;
    overflow: hidden;
    float: left;
    border-radius: 3px 0 0 3px;
  }
  .img-on-newreadlist {
    width: 104%;
    vertical-align: middle;
  }
  .info-box-newreadlist {
    padding: 16px 15px 0 0;
    margin-left: 73px;
  }
  .read-font4 {
    font-family: "Roboto","Helvetica","Arial",sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    line-height: initial;
  }
  ._xltext.truncate {
    margin-left: 0px;
  }
  ._xltext {
    width: 78%;
    display: inline-block;
    vertical-align: bottom;
  }
  .pro-font8 {
    font-size: 12px;
    font-family: "Roboto","Helvetica","Arial",sans-serif !important;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    line-height: initial;
  }
  .pro-color7 {
      color: #7E8083;
  }
  .tooltip {
    position: relative;
    display: inline-block;
  }
  .marg-read {
      margin-top: -23px;
  }
  .u-boder {
    padding-bottom: 0.4rem;
    border-bottom: 2px solid #A3A3A3;
  }
  .font-card2 {
    font-size: 16px;
    font-family: "Roboto","Helvetica","Arial",sans-serif !important;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    line-height: initial;
    color: #233D4D;
    transition: all 0.3s ease;
  }
  .read-bloque {
    display: inline-flex;
  }
  .pro-color5 {
    color: #246EB9;
  }
  .right {
    float: right !important;
}
}
.pro-color1 {
  color: #2F313A;
}
.pro-font9 {
  font-size: 16px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: initial;
}
#profile-last{
  display: none;
}
.card-group-no {
  padding: 1.0rem;
  border-radius: 3px;
  /* background-color: #ffffff; */
  /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); */
  text-align: left;
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #ddd;
}
.card-group-no i {
  font-size: 34px !important;
  color: #93a9bf;
  line-height: 1.5rem;
  float: left;
  text-align: center;
  margin-right: 0.5rem;
}
.group-no {
  display: table;
}
.font-group-no {
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
/*.btn-go-credit {
  border-radius: 19px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  background-color: rgba(147, 169, 191, 0);
  color: #2f313a;
  padding: 6px 10px 6px 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  transition: all 0.3s ease;
  line-height: normal;
  border: 1px solid #2f313a;
}*/
.card-friend-no {
  padding: 1.0rem;
  border-radius: 3px;
  /* background-color: #ffffff; */
  /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); */
  text-align: left;
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #ddd;
}
.card-friend-no i {
  font-size: 34px !important;
  color: #93a9bf;
  line-height: 1.5rem;
  float: left;
  text-align: center;
  margin-right: 0.5rem;
}
.friend-no {
  display: table;
}
.card-event-no {
  padding: 1.0rem;
  border-radius: 3px;
  /* background-color: #ffffff; */
  /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); */
  text-align: left;
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #ddd;
}
.card-event-no i {
  font-size: 34px !important;
  color: #93a9bf;
  line-height: 1.5rem;
  float: left;
  text-align: center;
  margin-right: 0.5rem;
}
.event-no {
  display: table;
}
#tabs-swipe-demo li a {
  padding: 0;
}
.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent !important;
  color: #2F313A !important;
}
.u-boder {
  padding-bottom: 0.4rem;
  border-bottom: 2px solid #A3A3A3;
}
#read-list-aside .border-pro3{
  padding-bottom: 0.4rem;
}
.pro-color2 {
  color: #F75D56;
}
.pro-font3 {
  font-size: 13px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.page-content-wrapper.page-content-wrapper-profile {
  margin-top: 79px;
}
.s-profile-photo .title-images {
  color: #004975;
  font-size: 16px;
  margin-left: 0;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 0 0 20px 0;
}

.p_pdf-none-ex {
  color: #011523;
  margin-right: 20px;
  transition: all 0.3s ease;
  cursor: auto !important;
  padding: 11px;
  border-radius: 29px;
  border: 1px solid #dfdfdf;
  background: #dfdfdf;
  vertical-align: middle;
  line-height: 4;
}
#form-profiles select.sl-default {
  background-position: 61px;
}

.tab-list-profile .box-fq {
  width: 270px;
  margin: 0 auto;
  display: block;
  float: inherit;
}
.fomateo-foll {
  margin-bottom: 15px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  border-top: 1px solid #dddddd;
  .foll-border {
    border-right: 1px solid #dddddd;
  }
  .font-foll2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #f76859;
  }
  .font-foll1 {
    font-size: 0.8rem;
    font-weight: 700;
    color: #5d5f64;
  }
  
}
.cont-link-url span{
  display: inline-block;
  vertical-align: top;
}
.collapsible-w {
  width: 100% !important;
  padding: 1.0rem 0 1.0rem 0;
  text-align: left;
}
#profile-informations{
  position: relative;
  li{
    :hover{
      color:red;
    }
  }
  .collapsible-header{
    border-bottom: 0;
    padding: 0;
    color: #5D5F63;
   
  }
  .agent-infor{
    span,
    .acor-1.mrg-lef{
      line-height: 3;
    }
    
  }
  .acor-1{
    position: absolute;
    right: 0;
  }
}


.page-content-wrapper-profile-photo{
  .btn-upload-img{
    background-color: #246eb9;
    padding: 0 32px;
    height: 2rem !important;
    line-height: 2rem !important;
    box-shadow: none;
    margin-top: 2px;
    float: left;
    color: white;
    transition: .2s ease-out;
    cursor: pointer !important;
    border-radius: 4px;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0px;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  .file-field .file-path-wrapper {
    overflow: hidden;
    padding-left: 10px;
  }
  
}

.page-content-wrapper-profile-photo input[type="text"].height-camp-file{
  height: 2rem;
    border: 1px solid #9e9e9e;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    transition: all 0.3s;
    padding: 5px 21px;
}

.page-content-wrapper-profile-photo  .message-photos {
  color: #C1BEBE;
  font-weight: 300;
  font-size: 13px;
  margin-top: -8px;
  margin-bottom: 18px;
}

.page-content-wrapper-profile-photo .area-all-images{
  margin-top: 2rem;
  padding: 10px;
}

.page-content-wrapper-profile-photo .show-me-photos {
  width: 100%;
  /* background-color: red; */
  height: 180px;
  overflow: hidden;
  position: relative;
}

.page-content-wrapper-profile-photo .overlay-photo {
  width: 100%;
  height: 100%;
  z-index: 4;
  position: absolute;
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.50) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
  transition: all 0.3s ease;
}

.page-content-wrapper-profile-photo  .items-images {
  position: absolute;
  right: 6px;
  top: 6px;
  z-index: 6;
}

.page-content-wrapper-profile-photo .items-images i {
  font-size: 20px;
  border-radius: 20px;
  color: #246eb9;
  background: rgba(255, 255, 255, 0.88);
  transition: all 0.3s ease;
  border: none;
  padding: 5px 15px 5px 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.28);
}

.page-content-wrapper-profile-photo .images-me {
  /*width: 110%;*/
  margin-left: -10px;
  margin-top: -4PX;
}
.s-profile-photo{
  background: #e6ecf0
}
/*
*
*/
.card-video {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 3px;
}
.card-video.mediun {
  height: 185px;
}
.card-video .video-image {
  max-height: 130px;
  overflow: hidden;
}
.card-video .video-image img {
  display: block;
  border-radius: 2px 2px 2px 2px;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.btn-v span {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 49, 58, 0);
  text-align: center;
  padding: 4rem 0 4rem 0;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-v span:hover{
	background-color: rgba(47, 49, 58, 0.74);
}
.card-video .conten-video {
  padding:.4rem;
  position: relative;
  z-index: 1;
  background: #fafafa;
}
.font-video {
  font-size: 14px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #233D4D;
  transition: all 0.3s ease;
}
.font-video2 {
  font-size: 12px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #5D5F63;
}
.link-vidio-drop{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.overlay-body{
  max-width: 900px;
  /* height: 600px; */
  width: 100%;
  border-radius: 3px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}
.overlay-body-cont {
  height: auto;
  image-rendering: optimizeQuality;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  width: auto;
}
.body-main {
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 100%;
  min-height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
}
.close-pl {
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}
ul.list-photo {
  text-align: center;
  width: 100%;
}
ul.list-photo li:first-child {
  display: block;
}
ul.list-photo li {
  display: none;
}
ul.list-photo li img {
  border: 0;
  vertical-align: top;
  max-width: 970px;
  max-height: 500px;
  width: initial !important;
}
.arrow {
  position: absolute;
  width: 100%;
  top: 50%;
  z-index: 5;

}
.arrow-left {
  float: left;
  /* background: #fff; */
  cursor: pointer;
  margin-left: 0%;
}
.arrow-right {
  float: right;
  /* background: #fff; */
  cursor: pointer;
  margin-right: 0%;
}
.arrow-images {
  cursor: pointer;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  color: white;
}
.arrow-right:hover, .arrow-left:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
#register-modal-8,
#register-modal-7,
#register-modal-6,
#register-modal-5,
#register-modal-4,
#register-modal-3,
#register-modal-2,
#register-modal-1{
  max-width: 900px;
  height: 580px;
  background: #ffffff;
  border-radius: 5px;
  margin: auto;
  position: absolute;
  top: 0 !important;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-box-shadow: -2px 2px 16px -2px rgba(0,0,0,0.28);
  -moz-box-shadow: -2px 2px 16px -2px rgba(0,0,0,0.28);
  box-shadow: -2px 2px 16px -2px rgba(0,0,0,0.28);
  overflow: hidden;
  z-index: 999999;
  max-height: initial;
  width:initial;
}
.register-locacion,
.register-modal-3{
  display: table;
  height: 550px;
}
.register-modal-3 .area-enter{
  display: table-cell;
    vertical-align: middle;
}
/***/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #C2C2C2;
}
.loader-modal{
  position: absolute;
  top: 44%;
  z-index: -1;
}
.font-btn-writ{
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  padding-top: 8px;
  font-weight: 500;
}
.select-ml-profesion{
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  margin-top: 1rem;
}
.select-profesion-ima{
  background-position: 394px 29px;
}
.icon-icono-profile29.verti1{
  margin-right: 1rem;
}
.friend-no .font-friend-no,
.event-no .font-event-no,
.group-no .font-group-no{
  margin-top: 0;
}
.ic-nolik.pro-padi{
  vertical-align: middle;
}
.inline-idioma{
  vertical-align: super;
}
.font-agent{
  font-size: 13px;
  color: #5d5f64;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.color-agent3 {
  color: #233d4d;
}
.car-aw-no{
  flex-wrap: wrap;
}
.car-aw-no p{
  width: 90%;
  display: inline-block;
}
.car-aw-no a{
  display: block;
  clear: both;
  flex-wrap: wrap;
}
.font-event-no ,
.font-friend-no {
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.btn-reactj{
  margin-top: .5rem;
  position: relative;
  display: block;
  width: 130px;
  text-align: center;
}

.s-profile #login {
  float: none;
  margin: 0em 0em;
}
.s-profile .bottom-g2 {
  width: 7rem;
  height: 2.5rem !important;
  color: #fff;
  background-color: #F76859;
  border: 0.01rem solid transparent;
  position: relative;
  top: 0px;
  border: 1px solid #F6645D;
  padding: 0.4rem 0.4rem !important;
}
.s-profile .bottom-g2 .font-msn {
  font-family: "Roboto","Helvetica","Arial",sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: initial;
  position: relative;
  bottom: 1px;
}
.s-profile .bottom-g2:hover {
  background-color: #EF3E35;
}
.s-profile .botom-net-f-p {
  font-size: 13px;
  font-weight: 500;
  color: #F6645D;
  background-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  /* padding: 4px 18px; */
  border: 1px solid #F6645D;
  border-radius: 19px;
  transition: all 0.3s ease;
  padding: 0.4rem 0.4rem;
  width: 7rem;
  height: 2.5rem;
  position: relative;
  /* top: -2px; */
  vertical-align: middle;
  cursor: pointer;
}
.s-profile .botom-net-fw-p {
  font-size: 13px;
  font-weight: 500;
  color: #ffffff !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  border: 0.01rem solid transparent;
  background-color: #F76859;
  border-radius: 19px;
  transition: all 0.3s ease;
  padding: 0.4rem 0.4rem;
  width: 7rem;
  height: 2.5rem;
  position: relative;
  /* top: -2px; */
  vertical-align: middle;
  cursor: pointer;
}