#modalCreateProjectAssistent{
  overflow: hidden;
}
.s-projects .title-all-projects {
  font-size: 28px;
  margin: 0;
  font-weight: 400;
  color: #27344a;
  text-align: center;
  background-color: white;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.s-projects .tabs .tab {
  display: inline-block;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  text-transform: none;
}

.s-projects .tabs .tab a {
  color: #696969;
  display: block;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .28s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.s-projects .align-all-projects {
  margin-top: 0 !important;
  margin-bottom: 30px !important;
}
.s-projects .tab-reset {
  text-align: center;
  font-weight: 500;
  margin-top: 25px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.32);
}
.s-projects .tabs .tab a.active {
  background-color: transparent;
  color: #2F313A;
  font-weight: 700;
}
.s-projects .project-space-tabs2 li {
  padding: 0 20px !important;
}
.s-projects .tabs .tab a:hover, .s-projects .tabs .tab a.active {
  background-color: transparent !important;
  color: #2F313A !important;
}
.s-projects .add-create {
  padding: 15px;
  line-height: 1;
  border-radius: 3px;
  border: 1px solid #ddd;
}
.s-projects .tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #6F7176;
  will-change: left, right;
}

#modalCreateProjectAssistent .icon-wap-i i {
  color: #246ebd;
  cursor: pointer;
  font-size: 18px;
  vertical-align: baseline;
  border-radius: 5px;
}


.s-projects .elemts-create .margin-crea {
  width: 299px;
  display: inline-block;
  margin-left: 2rem;
}
.s-projects .cover-page-content {
  background-color: #e6ecf0;
}
.s-projects .font-create {
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
}
.s-projects .elemts-create {
  width: 448px;
  margin: 5rem auto;
}
.s-projects .btn-go-create {
  cursor: pointer;
  border-radius: 19px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  background-color: rgba(147, 169, 191, 0);
  color: #2f313a;
  padding: 6px 10px 6px 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  transition: all 0.3s ease;
  line-height: normal;
  border: 1px solid #2f313a;
}

.s-projects .btn-go-create {
  border-radius: 19px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  background-color: rgba(147, 169, 191, 0);
  color: #2f313a;
  padding: 6px 10px 6px 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  transition: all 0.3s ease;
  line-height: normal;
  border: 1px solid #2f313a;
}
#modalCreateProjectAssistent {
  width: 100%;
  top: 10% !important;
  /*max-height: 95%;
  height: 91%;*/
  background: white;
  /*max-width: 929px;*/
  max-width: 80%;
  /*display: table !important;*/
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  max-height: initial;

}
.modal-create-project-assistent-first-content {
  text-align: center;
  position: relative;

}
.modal-create-project-assistent-flow .modal-create-project-assistent-header-error {
  background: #FF5149;
  min-height: 80px;
  text-align: center;
  color: #fff;
}
.modal-create-project-assistent-header-error .scope-togle-error {
  position: relative;
  top: 20px;
}
.modal-create-project-assistent-header-error .scope-togle-error i.material-icons {
  position: relative;
  top: 7px;
}
.modal-create-project-assistent-flow .modal-create-project-assistent-header {
  width: 100%;
  min-height: 80px;
  background-color: #E6F5FC;
}
.modal-create-project-assistent-flow .modal-create-project-assistent-header h2 {
  font-size: 20px;
  font-weight: 500;
  color: #256dbe;
  margin: 0;
  padding-top: 24px;
  margin-left: 26px;
  -webkit-font-smoothing: antialiased;
}

.modal-create-project-assistent-flow .modal-create-project-assistent-header h2 span {
  padding-right: 6px;
}
.modal-create-project-assistent-flow h4 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  line-height: normal;
  color: #3c4858;
  margin: 0px;
}
.modal-create-project-assistent-flow .tooltip-wap-2 .tooltiptext-wap-2 {
  visibility: hidden;
  width: 300px;
  background-color: #003c53;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  top: -43px;
  left: 150%;
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: normal;
}




.modal-create-project-assistent-flow .tooltip-wap-2 .tooltiptext-wap-2::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #003c53 transparent transparent;
}

.modal-create-project-assistent-flow .tooltip-wap-2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}


.assistent-flow-form .assistent-flow-left {
  /*width: 50%;
  float: left;*/
  /*padding-top: 37px;*/
  position: relative;
}
.assistent-flow-form .assistent-flow-left-content {
  width: 90%;
  margin: auto;
}
.assistent-flow-form .assistent-flow-right {
  width: 50%;
  background-color: #F6F6F6;
  padding-top: 7px;
  display: inline-block;
  vertical-align: top;
  /*float: left;*/
}
.assistent-flow-form .assistent-flow-right-content {
 /*width: 90%;
  margin: auto;*/
  width: 100%;
  margin: auto;
  position: absolute;
  min-height: 100%;
  background: #fff;
  width: 50%;
  min-height: 100%;
  background-color: #F6F6F6;
  padding: 40px 50px 60px 50px;
  z-index: 99;
}
#modalCreateProjectAssistent .color-active-days-r {
  width: 80px;
  height: 80px;
  border-radius: 3px;
  background: #03b66f;
  outline: none;
  border: 1px solid #03b66f;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}
#modalCreateProjectAssistent .btm-rea-r label {
  position: relative;
  top: 21px;
}
#modalCreateProjectAssistent .form-project {
  margin-top: 2rem;
  position: relative;
}
.font-reating-r {
  font-size: 12px;
}
#modalCreateProjectAssistent .reiting-r {
  display: inline-block;
  width: 100%;
  float: left;
  text-align: center;
}
#modalCreateProjectAssistent ul.reiting-r li {
  display: inline-block;
}
#modalCreateProjectAssistent .btm-rea-r {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 3px;
  background: transparent;
  outline: none;
  border: 2px solid #979797;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  color: #636363;
  margin: 0px 5px 0px 5px;
  /* padding: 25px; */
  display: inline-block;
  float: left;
  /* top: 5px; */
  text-align: center;
  /* position: relative; */
}
#modalCreateProjectAssistent .btn-active-reating {
  color: #636363 !important;
  border: 0 !important;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%) !important;
}

#modalCreateProjectAssistent .modal-create-project-assistent-header {
  display: inline-block;
  float: left;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
#modalCreateProjectAssistent .modal-create-project-assistent-header-error {
  display: inline-block;
  float: left;
  width: 100%;
}
#modalCreateProjectAssistent .modal-create-project-assistent-body {
  display: inline-block;
  float: left;
  width: 100%;
  position: relative;
}
.assistent-flow-form .tit-project-scope {
  margin-left: 10px;
  color: #3c4858;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 14px;
}
/*
.assistent-second-form .edit-float {
  top: -3px;
  position: absolute;
  right: 0;
}
*/

/**
Modal assitent
**/

#modalCreateProjectAssistent .assistent-second-form .wap-font-7 {
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  color: #5f5f5f;
  /* margin-top: 4px; */
  margin-top: 0;
}
#modalCreateProjectAssistent .assistent-second-form .wap-font-6 {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}


#modalCreateProjectAssistent .items-m-cp-selected-row-header-1 {

}
#modalCreateProjectAssistent .items-m-cp-selected-row-header-1-content {

}
#modalCreateProjectAssistent .items-m-cp-selected-row-header-content-name {
  float: left;
  width: 80%;
  text-align: left;
  font-weight: bolder;
}
#modalCreateProjectAssistent .items-m-cp-selected-row-header-content-link {
  float: left;
  width: 20%;
  text-align: right;
}
#modalCreateProjectAssistent .items-m-cp-selected-row-data-1 {
  float: left;
  display: inline-block;
  width: 100%;
  color: #5f5f5f;
}
#modalCreateProjectAssistent textarea {
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  resize: none;
  height: 80px;
}
#modalCreateProjectAssistent .items-m-cp-selected-row-header-content-link a {
  cursor: pointer;
}
#modalCreateProjectAssistent .chip {
  color: #3a3a3a;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #9698CA 100%);
}
#modalCreateProjectAssistent #intendedMediumProjectBubbleError {
  width: 100%;
  height: 18px;
  float: left;
}
#modalCreateProjectAssistent .intended-medium-project-bubble-error-content {
  font-size: 12px;
  color: red;
  text-align: right;
}
#modalCreateProjectAssistent #intendedMediumProjectBubble {
  margin-top: 0;
  float: left;
  width: 100%;
  display: inline-block;
  min-height: 38px;
}
#modalCreateProjectAssistent #mediumproject {
  margin-top: 0;
}
#modalCreateProjectAssistent ul#intendedMediumProjectBubble li {
  display: inline-block;
}
#modalCreateProjectAssistent .tag-active {
  color: #246eb9 !important;
  font-weight: 500 !important;
}
#modalCreateProjectAssistent .items-m-cp-selected-row-data-content {
  font-size: 13px;
  line-height: 13px;
  font-weight: 300;
  display: inline-block;
  float: left;

}
#modalCreateProjectAssistent .tooltip-wap-11 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
#modalCreateProjectAssistent .card-wap-video {
  margin: 0px 0px;
  background: #80808021;
  border-radius: 5px;
  padding: 5px 20px;
}
#modalCreateProjectAssistent .tooltip-wap-8 .tooltiptext-wap-8 {
  visibility: hidden;
  width: 300px;
  background-color: #003c53;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  top: -43px;
  left: 150%;
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: normal;
}
/*.rati-container {
  width: 100%;
  display: inline-block;
  float: left;
  min-height: 250px;
}*/
#modalCreateProjectAssistent .assistent-character-three {
  position: relative;
}
#modalCreateProjectAssistent .assistent-entity-four {
  position: relative;
  width: 100%;
  float: left;
  display: inline-block;
}
/*#modalCreateProjectAssistent .assistent-character-three-content {
  position: absolute;
}*/
#modalCreateProjectAssistent .assistent-entity-four-content {
  /*position: absolute;*/
  width: 100%;
}
#modalCreateProjectAssistent .assistent-charanter-three-content-form {
  position: absolute;
  overflow: hidden;
  width: 0;
  right: 0;
  background: white;
  top:0;
}
#modalCreateProjectAssistent .assistent-entity-four-content-form {
  position: absolute;
  overflow: hidden;
  width: 0;
  right: 0;
  background: white;
  top: 0;
}
.assistent-flow-left-character{
  position: relative;
}
.assistent-content-hide{
  position: absolute;
  overflow: hidden;
  width: 0;
  right: 0;
  background: white;
  top:0;
}
#modalCreateProjectAssistent .tooltip-wap-10 .tooltiptext-wap-10 {
  visibility: hidden;
  width: 300px;
  background-color: #003c53;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  top: -22px;
  left: 150%;
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: normal;
}

#modalCreateProjectAssistent .col.s12.m12.l12.xl12.steps-form.mar-cap {
  margin: 17px 0;
}

#modalCreateProjectAssistent .tooltip-wap .tooltiptext-wap {
  visibility: hidden;
  width: 300px;
  background-color: #003c53;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  top: -29px;
  left: 150%;
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto","Helvetica","Arial",sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: normal;
  z-index: 11;
}
#modalCreateProjectAssistent .tooltip-wap-9 .tooltiptext-wap-9 {
  visibility: hidden;
  width: 300px;
  background-color: #003c53;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  top: -14px;
  left: 150%;
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: normal;
}
#modalCreateProjectAssistent .assistent-vide-three {
  position: relative;
  min-height: 300px;
}
#modalCreateProjectAssistent .a-lbl .lbl-m-cp {
  font-size: 16px !important;
  font-weight: 400;
  color: #246ebd;
  font-family: "Roboto", sans-serif;
}
#modalCreateProjectAssistent .assistent-vide-three-content {
  position: absolute;
  z-index: 1;
}
#modalCreateProjectAssistent input {
  margin: 10px 0px;
  text-align: center;
  background-color: transparent;
  border: none;
  border: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 8px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 5px 21px;
  margin-top: 0px;
  font-size: 15px;
  border-radius: 2px;
  font-weight: 400;
  margin: 0px;
}
#modalCreateProjectAssistent .wap-back {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: #e5e9f2;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 70px;
}
#modalCreateProjectAssistent .wap-back2 {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: #e5e9f2;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 25px;
}
.wap-back2.items-returns .material-icons {
  top: 7px;
  position: relative;
}
#modalCreateProjectAssistent .assistent-vide-three-content-form {

  position: absolute;
  right: 0;
  height: 350px;
  width: 0;
  z-index: 2;
  background: white;
}
#modalCreateProjectAssistent .assistent-vide-three-content-form-content {
  overflow: hidden;

}
#modalCreateProjectAssistent .card-wap-video {
  margin: 0px 0px;
  background: #80808021;
  border-radius: 5px;
  padding: 5px 20px;
}
#modalCreateProjectAssistent .wap-icon-dele i {
  font-size: 19px;
  color: #3b3b3b;
  cursor: pointer;
  vertical-align: middle;
}
#modalCreateProjectAssistent .wap-font-v {
  font-size: 16px;
  font-weight: 500;
  color: #3a3a3a;
  vertical-align: bottom;
}
#modalCreateProjectAssistent .wap-video-p {
  display: inline-block;
  float: right;
}
#modalCreateProjectAssistent .wap-font-link {
  font-size: 14px;
  font-weight: 400;
  color: #246ebd;
  vertical-align: middle;
}
#modalCreateProjectAssistent ._preview-video {
  float: right;
  margin: .5rem;
  text-decoration: underline;
  text-transform: capitalize;
}
#modalCreateProjectAssistent .font-url {
  font-size: 14px;
  font-weight: 400;
  color: #929292;
  margin: 10px 0px;
}
#modalCreateProjectAssistent .wap-back i {
  position: relative;
  top: 7px;
  color: #8492a6;
}
#modalCreateProjectAssistent .wap-btn3 {
  cursor: pointer;
  padding: 6px 30px;
  border-radius: 50px;
  border: 2px solid #3a3a3a;
  color: #ffffff;
  font-size: 14px;
  width: 166px;
  font-weight: 400;
  background: #3a3a3a;
  margin-left: 10px;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  float: right;
  margin-top: -6px;
}
#modalCreateProjectAssistent .tooltip-wap-11 .tooltiptext-wap-11 {
  visibility: hidden;
  width: 300px;
  background-color: #003c53;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  top: -42px;
  left: 150%;
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: normal;
  z-index: 111;
}

#modalCreateProjectAssistent .wap-font-6 label {
  float: left;
}
#modalCreateProjectAssistent .items-m-cp {
  display: inline-block;
  float: left;
  width: 100%;
  font-size: 13px;
}
.assistent-second-form .wap-font-8 {
  font-size: 14px;
  font-weight: 400;
  color: #246ebd;
  float: right;
  line-height: 24px;
  margin-bottom: 5px;
  display: inline-block;
}
.modal-create-project-assistent-flow label.error {
  display: none !important;
}
.modal-create-project-assistent-flow label.error {
  display: none !important;
}
#modalCreateProjectAssistent input.error {
  border-color: red;
}
.modal-create-project-assistent-flow .select-m-cp select {
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  display: inline-block;
}
.modal-create-project-assistent-flow .assistent-flow-form {
  width: 100%;
  display: inline-block;
  float: left;
  background: white;
}
.modal-create-project-assistent-flow .font-m-cp {
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  margin-top:0;
}
.modal-create-project-assistent-flow .btn-back-dash {
  border-radius: 24px;
  border: 1px solid #246EBD;
  padding: 10px 20px;
  font-size: 16px;
  position: absolute;
  right: 1.2rem;
  top: 1.1rem;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #246EBD;
  background-color: transparent;
}

#modalCreateProjectAssistent .wapper-cont-new {
  margin: auto;
  width: 100%;
  max-width: 750px;
}
#modalCreateProjectAssistent.wapper-new-one {

}
#modalCreateProjectAssistent .wapper-cont-new {

}
.select-m-cp {
  width: 100%;
  overflow: hidden;
  background: #fff url(../images/selec-drop.png) no-repeat 98% 60%;
  border-radius: 3px;
  display: inline-block;
}
#modalCreateProjectAssistent .wap-icon-c {
  position: absolute;
  right: 20px;
  top: -12px;
}
#modalCreateProjectAssistent .cont-new-p {
  width: 100%;
  padding: 15px 70px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*display: table-cell;*/
  vertical-align: middle;
}
#modalCreateProjectAssistent .wap-icon {
  width: 40px;
  background: #e5e9f2;
  text-align: center;
  border-radius: 50px;
  height: 40px;
  cursor: pointer;
  float: right;
}
#modalCreateProjectAssistent .wap-icon i {
  color: #8492a6;
  vertical-align: middle;
  position: relative;
  top: 7px;
}

#modalCreateProjectAssistent .cont-new-p-2 {

}
#modalCreateProjectAssistent .padding-warp1 {
  padding: 0px 0px 0px;
}
#modalCreateProjectAssistent .margin-wap1 {
  margin: 10px 0px;
}
#modalCreateProjectAssistent .f-name-projct {
  margin-top: 3rem;
}
#modalCreateProjectAssistent #wap .padding-warp1 figure {
  margin: 1em 143px;
}
#modalCreateProjectAssistent img.responsive-img, .s-projects video.responsive-video {
  width: 100%;
  height: auto;
}
#modalCreateProjectAssistent .font-wap1 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  line-height: normal;
  color: #3c4858;
}
#modalCreateProjectAssistent .font-wap2 {
  font-size: 16px;
  font-weight: 400;
  color: #246ebd;
  font-family: "Roboto", sans-serif;
}
#modalCreateProjectAssistent input {
  margin: 10px 0px;
  text-align: center;
  background-color: transparent;
  border: none;
  border: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 8px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: border-box;
  transition: all 0.3s;
  padding: 5px 21px;
  margin-top: 0px;
  font-size: 15px;
  border-radius: 2px;
  font-weight: 400;
  margin: 0px;
}
#modalCreateProjectAssistent .margin-wap2 {
  margin-top: 25px;
}
#modalCreateProjectAssistent .btn-wap1 {
  padding: 10px 25px;
  border-radius: 50px;
  border: 2px solid #246EBD;
  color: #246EBD;
  font-size: 16px;
  font-weight: 400;
  margin-right: 10px;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  background: transparent;
}
#modalCreateProjectAssistent .btn-wap2:hover {
  background: #1357a0;
}
#modalCreateProjectAssistent .btn-wap2 {
  cursor: pointer;
  padding: 10px 71px;
  border-radius: 50px;
  border: 2px solid #246EBD;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  background: #246EBD;
  margin-left: 10px;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}
#modalCreateProjectAssistent .tooltip-wap-3 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
#modalCreateProjectAssistent .tooltip-wap-3 .tooltiptext-wap-3 {
  visibility: hidden;
  width: 300px;
  background-color: #003c53;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  top: -22px;
  left: 150%;
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: normal;
}
.tooltip-wap-3 .tooltiptext-wap-3::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #003c53 transparent transparent;
}
#modalCreateProjectAssistent .steps-form {
  position: relative;
}
#modalCreateProjectAssistent select.error {
  border-color: red;
}
#modalCreateProjectAssistent .bk {
  width: 137px;
  text-align: center;
  background: transparent !important;
  color: #246ebd !important;
}
#modalCreateProjectAssistent .bk:hover {
  background: #246EBD;
  color: white;
}
#modalCreateProjectAssistent form {
  /*margin-bottom: 70px;*/
}
#modalCreateProjectAssistent .btn-nex-m-cp {
  padding: 10px 35px;
  border-radius: 50px;
  border: 2px solid #246EBD;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  background: #246EBD;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  display: inline-block;
  margin-top: 1.5rem;
  float: right;
  margin-right: 10px;
}
#modalCreateProjectAssistent .tooltip-wap .tooltiptext-wap {
  visibility: hidden;
  width: 300px;
  background-color: #003c53;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  bottom: -35%;
  left: 100%;
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto","Helvetica","Arial",sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: normal;
  z-index: 11;
}
#modalCreateProjectAssistent .tooltip-wap-4 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
#modalCreateProjectAssistent .tooltip-wap-4 .tooltiptext-wap-4 {
  visibility: hidden;
  width: 300px;
  background-color: #003c53;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  top: -22px;
  left: 150%;
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: normal;
}
#modalCreateProjectAssistent .tooltip-wap {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#modalCreateProjectAssistent .icon-wap-i {
  vertical-align: sub;
  margin-left: 5px;
}
.tooltip-wap .tooltiptext-wap::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #003c53 transparent transparent;
}
.tooltip-wap:hover .tooltiptext-wap {
  visibility: visible !important;
}
.tooltip-wap-2:hover .tooltiptext-wap-2 {
  visibility: visible !important;
}
.tooltip-wap-3:hover .tooltiptext-wap-3 {
  visibility: visible !important;
}

.tooltip-wap-4:hover .tooltiptext-wap-4 {
  visibility: visible !important;
}
.tooltip-wap-5:hover .tooltiptext-wap-5 {
  visibility: visible !important;
}

.tooltip-wap-6:hover .tooltiptext-wap-6 {
  visibility: visible !important;
}

.tooltip-wap-7:hover .tooltiptext-wap-7 {
  visibility: visible !important;
}

.tooltip-wap-8:hover .tooltiptext-wap-8 {
  visibility: visible !important;
}

.tooltip-wap-9:hover .tooltiptext-wap-9 {
  visibility: visible !important;
}

.tooltip-wap-10:hover .tooltiptext-wap-10 {
  visibility: visible !important;
}
.tooltip-wap-11:hover .tooltiptext-wap-11 {
  visibility: visible !important;
}

.project-uno {
  padding: 0 !important;
}

.had-container{
  padding: 0 !important;
}

.j-image {
  position: fixed;
  bottom: -45%;
  display: block;
  overflow: hidden;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  z-index: 0;
}

.j-filter {
  filter: blur(4px);
}

.shadow-hero {
  position: fixed;
  left: 0px;
  top: 0q;
  width: 100%;
  height: 100%;
  border-bottom: 1px none #00ff6e;
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(6, 6, 6), rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(0deg, rgb(6, 6, 6), rgba(0, 0, 0, 0.5));
}

.hero-0 {
  position: relative;
  height: auto;
  top: 0px;
  left: 0px;
}

.mar-project4 {
  margin-top: 35px;
}

.font-banner {
  font-size: 3.4rem;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: normal;
  width: 53.1rem;
  display: block;
}

.mar-project3 {
  margin-top: 20px;
}

.u-cursor {
  cursor: pointer !important;
}

.info-poster {
  width: 195px;
  height: 260px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.padd-pjec {
  padding: 1.5rem;
  padding-right: 80px;
}

.font-pre1 {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.padd-pjec2 {
  margin-top: 1.0rem;
}

.boton-gener {
  font-size: 14px;
  font-weight: 700;
  color: #03B66F;
  padding: 5px 11px 5px 11px;
  border: 2px solid #03B66F;
  border-radius: 92px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
}

.mar-heart2 {
  margin-top: 20px;
}

.bottom-primary {
  display: inline-block;
  cursor: pointer;
  appearance: none;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  text-decoration: none;
  vertical-align: middle;
  height: 2.3rem;
  padding: 0.5rem 0.5rem;
  line-height: 0.625rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  border-radius: 19px;
  transition: all 0.3s ease;
}

.bottom-reque {
  width: 11rem;
  height: 2.8rem !important;
  color: #fff;
  background-color: #f76859;
  border: 0.01rem solid transparent;
  transition: all 0.3s ease;
}

.btn-view-pdf-sample {
  width: 13rem;
}

.font-pdf {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin-left: -1px;
  position: relative;
  top: 0px;
}

.dp48 {
  margin-top: 2px;
}

.tooltip {
  position: relative;
  display: inline-block;
  .tooltip-text {
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 98%;
    margin-left: -59px;
    font-size: 11px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    margin-bottom: 7px;
    line-height: 1;
  }
}

.font-18 {
  font-size: 18px;
  &:before{
    font-size: 35px;
  }
}

.view-rating {
  margin-top: 1.5rem;
  color: #fff;
  line-height: 1;
}

.font-banner2 {
  font-size: 18px;
  font-weight: 500;
  background-color: #ffc009;
  padding: 1px 5px 1px 5px;
  border-radius: 3px;
  color: #011523;
  margin-left: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  vertical-align: text-bottom;
}

.info-project {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.border-espan {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  border-top: 1px solid hsla(0, 0%, 100%, .2);
  font-size: 12px;
  font-weight: 500;
  color: hsla(0, 0%, 93%, .67);
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-bottom: none;
  &:active{
    background: none;
  }
  &:focus{
    background: none;
  }
  &:hover{
    color: #fff;
  }
}

.hero-1 {
  position: relative;
  z-index: 0;
  height: auto;
  top: 0px;
  left: 0px;
}

.enterprise {
  background-color: transparent;
}

.mar-ocu1 {
  margin-top: 25px;
}

.bloque-project {
  display: inline-block;
  margin-left: 10px;
}

.mar-ocu2 {
  margin-top: 20px;
}

.font-ocu1 {
  font-size: 16px;
  font-weight: 500;
  color: #f76859;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.font-ocu2 {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin:0;
}

.tooltip5 {
  position: relative;
  display: inline-block;
  &:hover{
    .tooltiptext5{
      visibility: visible;
    }
  }
}

.bloque-project4 {
  display: inline-block;
  margin-left: 7px;
  cursor: pointer;
}

.font-ocu2-1 {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  transition: all 0.3s ease;
  text-decoration: underline;
  margin:0;
  &:hover {
    color: #f76859;
    text-decoration: none;
    
  }
}

.tooltiptext5 {
  visibility: hidden;
  width: 300px;
  background-color: #ffffff;
  color: #011523;
  text-align: left;
  border-radius: 6px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  bottom: 41%;
  left: 36%;
  margin-left: -66px;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin-bottom: 7px;
  border: 2px solid #5a5a5a;
  line-height: normal;
  &:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 6%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ababab transparent transparent transparent;
  }
}

/**/
.assistent-flow-form-left-content{
  width: 49.5%;
  display: inline-block;
  padding: 54px 0 60px 0px;
  background-color: white;
}
.assistent-genre-content p.all-btns-genres button{
  font-size: 14px;
  background-color: white;
  border: none;
  padding: 6px 20px;
  border-radius: 51px;
  margin-top: 10px;
  color: #485673;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  border: 1px solid #cccaca;
  margin-right: 6px;
  text-transform: capitalize;
}
.assistent-genre-content button.color-active-days {
  color: #525252 !important;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #9698CA 100%) !important;
}
.modal-create-project-assistent-header-togle-error{
  top: 0;
  height: 79px;
  color: #fff;
  background: #FF5149;
  line-height: 5;
  position:absolute;
  width: 100%;
  text-align: center;
}
.modal-create-project-assistent-header-togle-error i{
  vertical-align: middle;
}
.assistent-flow-left-character .area-add-character .items-added-chcter{
  border-radius: 4px;
  padding: 10px;
  margin: 8px 0px;
  width: 210px;
  display: inline-block;
  background-color: #e6f5fc;
}
.assistent-flow-left-character .area-add-character .items-added-chcter .char-getty-small{
  background-image: linear-gradient(120deg, #e0c3fc 0%, #9698CA 100%) !important;
  border-radius: 4px;
  padding-top: 1px;
  display: inline-block;
  width: 44px;
  height: 44px;
  margin-right: 12px;
  text-align: center;
  overflow: hidden;
}
.assistent-flow-left-character .area-add-character .items-added-chcter .wap-font-name{
  margin: 0px !important;
  text-align: left;
  font-weight: 500 !important;
}
.assistent-flow-left-character .area-add-character .items-added-chcter ._edit-item-chcter a{
  display: inline-block;
  font-size: 12px;
  padding-right: 10px;
  color:#949494
}
.assistent-flow-left-character .area-add-character .items-added-chcter ._edit-item-chcter a i{
  font-size: 14px;
  vertical-align: sub;
}
.assistent-flow-left-character .font-info-content{
  margin: 10px;
  font-size: 12px;
  color: #afafaf;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}
.assistent-flow-left-character .assistent-content-hide .items-returns{
  margin-bottom: 0 !important;
}
.assistent-flow-left-character .assistent-content-hide form{
  margin-top: 0 !important;
}
.assistent-flow-left-character .assistent-content-hide form .upload-characters{
  border-radius: 4px;
  min-height: 120px;
  /* padding-top: 0.9rem; */
  display: inline-block;
  overflow: hidden;
  width: 120px;
  height: 100px;
  position: relative;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #9698CA 100%) !important;
  color: dimgrey !important;
}
.assistent-flow-left-character .assistent-content-hide form .upload-characters img{
  width: 54% !important;
  margin-top: .8rem !important;
  top: 0;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
}
.assistent-flow-left-character .assistent-content-hide form .upload-characters span{
  display: block;
  color: #fff;
  text-transform: capitalize;
}
.assistent-flow-left-character .assistent-content-hide form .char-txt-getty{
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  color: #256dbe;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  margin-top: 4px;
}
.assistent-flow-left-character .assistent-content-hide form button{
  background-color: #2a72bf;
  color: white;
  padding: 10px 20px;
  border-radius: 24px;
  margin-bottom: 4px;
  display: inline-block;
  float: right;
  margin-right: 10px;
  margin-top: 6px;
  width: auto;
  border: 0;
}
/***/
#modalCreateProjectAssistentFormPdf .text-lineal{
  text-decoration: underline;
}
#modalCreateProjectAssistentFormPdf .space-lineal-or{
  color: #c9c6c6;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  /* width: 100%; */
  display: block;
  margin: 1rem 0 .5rem;
}
#modalCreateProjectAssistentFormPdf .space-lineal-or::before{
  content: '';
  width: 150px;
  height: 1px;
  display: inline-block;
  background: #c9c6c6;
  vertical-align: middle;
  margin-right: 2rem;
}
#modalCreateProjectAssistentFormPdf .space-lineal-or::after{
  content: '';
  width: 150px;
  height: 1px;
  display: inline-block;
  background: #c9c6c6;
  vertical-align: middle;
  margin-left: 2rem;
}
#modalCreateProjectAssistentFormPdf .select-m-cp-pdf{
  width: 100%;
  overflow: hidden;
  display: inline-block;
}
#modalCreateProjectAssistentFormPdf .select-m-cp-pdf .drag-pdf{
  width: 100%;
  height: 173px;
  border: 1px dashed #3f3f40;
  border-radius: 8px;
  margin: 1.5rem 0 1.5rem 0;
  text-align: center;
  line-height: 3;
}
#modalCreateProjectAssistentFormPdf .select-m-cp-pdf .drag-pdf .link-uplad-pdf{
  font-size: 14px;
  color: #2f313a;
  position: relative;
  top: 40px;
  line-height: 1.4rem !important;
  cursor: default !important;
  display: block;
  top: 19px;

}
#modalCreateProjectAssistentFormPdf .select-m-cp-pdf .drag-pdf .wap-icon-font{
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: normal;
  font-weight: 400;
  color: #2f313a;
  position: relative;
  top: 40px;
  line-height: 1.4rem !important;
  cursor: default !important;
  display: block;
  top: 19px;
}
#modalCreateProjectAssistentFormPdf  .content-pdf-n {
  margin: 1.5rem 0 1.5rem 0;
  height: auto;
  background: #F1F1F1;
  box-shadow: 2px 2px 4px -2px rgba(12, 12, 12, 0.52);
  padding: 0px 0px 20px 0px;
}
#modalCreateProjectAssistentFormPdf  .content-pdf-n .progress-form-n {
  margin: 0rem 0 1rem 0;
  background-color: #a7c5e3;
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #a7c5e3;
  border-radius: 2px;
  overflow: hidden;
}
.wap-icono-form24 i{
  vertical-align: middle;
  color: #246ebd;
}
.span-name-pdf-n{
  color: #636363;
    font-size: 14px;
    margin-left: 5px;
}
.close-pdf-n {
  color: #246eb9;
}
.carga-pdf {
  text-align: right;
  font-size: 30px;
  font-weight: 400;
  color: #cccccc;
  margin-top: 15px;
}
.carga-pdf-last-n {
  padding-top: 11px;
  border-top: 1px solid #cccccc;
  margin-top: 15px;
}
.label-pdf-n {
  font-size: 14px;
  font-weight: 400;
  color: #246eb9;
}
.page-pdf-n {
  width: 50px !important;
  height: 35px !important;
  display: inline-block !important;
  border: 2px solid #246eb9 !important;
  text-align: center !important;
  border-radius: 3px !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
}
.link-pre-n {
  font-size: 14px;
  text-decoration: underline;
  color: #021522;
  font-weight: 400;
}

.content-text-pdf-n{
  padding-right: 15px;
  padding-left: 15px;
}
.wap-icono-form24 {
  vertical-align: text-bottom;
}
.wap-icono-form24 i {
  vertical-align: middle;
  color: #246ebd;
}

#upload-header-layout{
  cursor: -webkit-grab;
  cursor: drag;
  left: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.poster-up {
  width: 158px;
  height: 218px;
  border: 1px dashed #9f9f9f;
  background-color: #E6E6E6;
  display: inline-block;
  z-index: 333;
  margin-left: 15px;
  overflow: hidden;
  float: left;
  position: absolute;
  top: 40px;
  left: 15px;
  cursor: pointer;
}
.show-poster-box-m-cp {
  width: 164px;
  height: 230px;
  position: absolute;
  top: 2rem;
  left: 2rem;
  border-radius: 4px;
  background-color: #286EBF;
  -webkit-box-shadow: 2px 2px 14px -4px rgba(0,0,0,0.19);
  -moz-box-shadow: 2px 2px 14px -4px rgba(0,0,0,0.19);
  box-shadow: 2px 2px 14px -4px rgba(0,0,0,0.19);
  z-index: 9999;
}
.overlay-poster-up {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(47, 49, 58, 0.8);
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.poster-cancel {
  position: relative;
  top: 80px;
  background: transparent;
  border-radius: 50%;
  /* padding: 20px; */
  font-size: -1px;
  width: 60px;
  height: 60px;
  border: 1.7px dashed #ffffff;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-uploadposter {
  background-color: #286EBF !important;
  position: absolute;
  width: 100%;
  left: 0;
  min-height: 100px;
  padding-top: 2.5rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  border-radius: 4px 4px 0 0 !important;
  padding-bottom: 2.2rem;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  height: 100%;
}
.btn-uploadposter .btn-ups {
  color: #ffffff !important;
  background-color: transparent !important;
  border-radius: 36px !important;
}
.btn-uploadposter i {
  background-color: transparent;
  font-size: 36px;
}
.btn-uploadposter p {
  font-size: 16px;
  line-height: 18px;
  margin-top: 8px;
}
.small-line-uploadposter {
  width: 26px;
  height: 1px;
  background-color: #86b9f5;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 10rem;
}
.pre-made-poster {
  color: white;
  position: absolute;
  width: 100%;
  left: 0;
  top: 12rem;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  text-decoration: underline;
  font-weight: 400;
}
.min-size-ps {
  font-size: 12px;
  text-align: center;
  position: absolute;
  bottom: -42px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: gray;
  -webkit-font-smoothing: antialiased;
}
.drag-txt {
  color: gray;
  font-size: 12px;
  margin-top: 8px;
  -webkit-font-smoothing: antialiased;
}
.assistent-poster{
  position: relative;
}
.drag-b{
  right: 0;
  z-index: 99999;
  top: 13rem;
  background: transparent;
  color: gray;
  position: absolute;
  font-size: 13px;
  font-weight: 500;
}
.drag-b i{
  vertical-align: middle;
}

.assistent-flow-left-congratulation{
  width: 100%;
  position: absolute !important;
  z-index: 100;
  background: #fff;
  top: 0;
}
.select-m-cp-n {
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
  display: inline-block;
}
.text-left{
  text-align: left !important;
}
.pad-i{
  padding-left: 0 !important;
}
.mar-wap-1{
  padding-right: 0 !important;
}
.alter-position-row{
  background-position: 92%;
}
.assistent-video-content-form .items-returns,
.assistent-charanter-content-form .items-returns{
  margin : 0 2rem
}
.assistent-video-content-form form,
.assistent-charanter-content-form form{
  padding: 0 2rem;
}
.assistent-charanter-content-form .steps-form-alone{
  min-height: 50px;
  border-bottom: 1px solid #eaeaea;
  position: relative;
  padding-top: 10px;
  margin-bottom: 2rem;
}
.assistent-charanter-content-form .select-m-cp {
  background-position: 90%
}
#modalCreateProjectAssistentFormVideo .space-video{
  margin-bottom: 6rem;
}
.items-m-cp-intended-genres span{
  margin-right: .3rem;
}
.items-m-cp-intended-genres span:last-child::after{
  display: none;
}
.items-m-cp-intended-genres span::after{
  content: ',';
  
}
.mar-ocu1 i{
  vertical-align: super;
}
.mar-ocu1  .bloque-project p{
  margin: 0;
}
.list-favorite .btn-view-pdf-sample .font-pdf{
  display: inline-block;
  /*vertical-align: super;*/
}
.list-favorite .mar-heart{
  vertical-align: sub;
  margin: 0 .5rem;
}
.list-favorite .read-list{
  vertical-align: middle;
}

/******/
.j-section{
  position: relative;
  z-index: 1;
  display: block;
  height: auto;
  background-color: #EFEFEF;
  .proj-1 {
    background-color: #E9ECF2;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
  }
  .btn-send-message-project{
    background-color: #ffc009 !important;
    margin-right: 14px;
    color: #032f5f !important;
    .font-req{
      vertical-align: bottom;
    }
  }
  .btn-rqust {
    padding: 5px;
    margin-right: 1rem;
    background-color: #246eb9 ;
    width: 15rem;
    color: white ;
    height: 2.8rem ;
    color: #fff;
    transition: all 0.3s ease;
    .font-req {
      font-family: "Roboto","Helvetica","Arial",sans-serif !important;
      font-size: 14px;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -o-font-smoothing: antialiased;
      font-smoothing: antialiased;
      line-height: initial;
      position: relative;
      bottom: 0px;
      font-size: 14px;
      font-weight: 700;
    }
  }
  .p-share {
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    vertical-align: sub;
    padding-top: 10px;
}
}
#project-tres{
  .hero-3{
    position: relative;
    background: #ffffff;
    z-index: 1;
  }
  .marg-autor {
    margin-top: 25px;
    .font-descrip1 {
      font-size: 16px;
      font-weight: 500;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -o-font-smoothing: antialiased;
      font-smoothing: antialiased;
      color: #666666;
      display: inline-block;
      width: 110px;
    }
    .font-descrip2 {
      font-size: 16px;
      font-weight: 500;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -o-font-smoothing: antialiased;
      font-smoothing: antialiased;
      color: #011523;
      .color-a {
        color: #246EB9;
        text-decoration: none;
      }
    }
    .mar-sepa {
      line-height: 2;
    }
    
  }
  .mard-view {
    padding: 10px 0px 0px 70px !important;
  }
  .border-descrip {
    border-left: 1px solid #D3D3D3;
  }
  .coupontooltip {
    display: none;
    .card-tool {
        padding: 1.0em;
        width: 392px;
        transition: opacity .5s;
        position: absolute;
        background-color: #ffffff;
        z-index: 333;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        padding-bottom: 5px;
        line-height: 1.5;
      .card-tool {
        padding: 1.0em;
        width: 392px;
        transition: opacity .5s;
        position: absolute;
        background-color: #ffffff;
        z-index: 333;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        padding-bottom: 5px;
        line-height: 1.5;
        .arrow-tol {
          width: 0;
          height: 0;
          border-right: 10px solid transparent;
          border-top: 10px solid transparent;
          border-left: 10px solid transparent;
          border-bottom: 10px solid #ffffff;
          position: absolute;
          top: -17px;
          left: 0px;
        }
        .tol-horizontal {
          display: flex;
          display: -webkit-flex;
          display: -ms-flexbox;
          padding-bottom: 10px;
          border-bottom: 0.01rem solid #d0d0d0;
          .tol-images {
            width: 60px;
            height: 60px;
            overflow: hidden;
            border-radius: 2px;
            figure {
              display: inline-block;
              .tol-images figure img {
                max-width: 100%;
                width: auto;
              }
            }
          }
          .tol-content {
            padding-left: 1.0rem;
            padding-right: 1.0rem;
            text-align: left;
            width: 75%;
            overflow: hidden;
            text-overflow: ellipsis;
            .font-tol {
              font-size: 16px !important;
              font-weight: 700 !important;
              color: #233D4D !important;
              -webkit-font-smoothing: antialiased !important;
              -moz-osx-font-smoothing: grayscale !important;
              -o-font-smoothing: antialiased !important;
              font-smoothing: antialiased !important;
              line-height: initial !important;
            }
            
          }
        }
        .tol-content2 {
          padding-top: 0.5rem;
          padding-bottom: 0.7rem;
          text-align: left;
          border-bottom: 0.01rem solid #d0d0d0;
          line-height: normal;
        }
      }
    }
  }

  .tol-float {
    float: inherit;
    margin-right: 5px;
  }
  .font-tol2 {
    font-size: 14px;
    font-weight: 400;
    color: #34373D;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    line-height: initial;
  }
  .font-tol3 {
    font-size: 12px;
    font-weight: 500;
    color: #7E8083;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    line-height: initial;
  }
  .font-tol4 {
    font-size: 12px;
    font-weight: 500;
    color: #414345;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    white-space: normal !important;
  }
  .tol-margin {
    margin-top: 10px;
  }
  .colun-1 {
    padding-bottom: 50px !important;
    padding-top: 50px !important;
    background: #ffffff;
  }
  .padd-article {
    padding-right: 70px !important;
  }
  .mar-descrip5 {
    margin-top: 2.0rem;
  }
  .border-pro3 {
    border-bottom: 0.01rem solid #D3D3D3;
  }
  .u-justifyContentSpaceBetween {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
  }
  .u-boder {
    padding-bottom: 0.4rem;
    border-bottom: 2px solid #A3A3A3;
  }
  .pro-color1 {
    color: #2F313A;
  }
  .pro-font9 {
    font-size: 16px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    line-height: initial;
  }
  .u-flexTop {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-align: start!important;
    align-items: flex-start!important;
  }
  .font-parra {
    font-size: 16px;
    font-weight: 400;
    color: 333333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }
  p {
    font-family: 'Roboto', sans-serif;
  }
  .marg-tags {
    margin-top: 25px;
  }
  .boton-tags {
    font-size: 16px;
    font-weight: 500;
    color: #246EB9;
    padding: 5px 11px 5px 11px;
    border: 2px solid #246EB9;
    border-radius: 92px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    width: 6rem;
    background: transparent;
    transition: all 0.3s ease;
    text-align: left;
    width: auto;
    margin: 5px 0px;
    .boton-tags:hover {
      color: #ffffff;
      border: 2px solid #246EB9;
      background: #246EB9;
    }
  }
  .mod-coment-n {
    padding: 15px;
    background: #fff;
    .mod-coment-n ul {
      margin: 0px !important;
    }
  }
  .coment-group {
    margin-top: 30px;
    .text-coment {
      border: 1px solid #D3D3D3;
      resize: none;
      border-radius: 3px;
      padding: 10px 10px 10px 10px;
      height: 83px;
      font-size: 14px;
      font-weight: 400;
      color: #2F313A;
      outline: none;
      transition: all 0.3s ease;
    }
    .btn-coment {
      font-size: 14px;
      font-weight: 400;
      padding: 12px 20px 12px 20px;
      border-radius: 19px;
      background-color: #F76859;
      margin-top: 15px;
      transition: all 0.3s ease;
      color: #ffffff;
      z-index: 0;
      display: inline-block;
      border: 0;
    }
  }
  
  .colun-2{
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 30px !important;
    padding-top: 50px !important;
    background: #ffffff;
  }
  
  .x_seall {
    height: auto;
    overflow: hidden;
  }
  .cast-padding {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .cast-img {
    background: #E9ECF3;
  }
  .cast-img {
    width: 85px;
    height: 80px;
    overflow: hidden;
    border-radius: 3px;
  }
  .cast-img img {
    max-width: 100%;
    width: 100%;
  }
  .cast-content {
    padding-left: 14px;
    width: 69%;
    padding-top: 15px;
    .line-cast {
      line-height: normal;
      margin-top: 5px;
      .font-cast1 {
        font-size: 16px;
        font-weight: 400;
        color: #2F313A;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -o-font-smoothing: antialiased;
        font-smoothing: antialiased;
      }
    }
  }
  .border-cast {
    padding-left: 10px;
    border-left: 1px solid #D3D3D3;
  }
  .bicon-cast {
    height: 30px;
    position: absolute;
    top: 30px;
    right: 8px;
  }
  .body-cast {
    padding: 1rem !important;
    background-color: #f3f6f8!important;
    line-height: normal;
  }
  .font-body {
    font-size: 14px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color: #333333;
  }
  #listall-whist li{
    position: relative;
  }
  
  .coment-res {
      display: none;
  }
  .hero-more {
    background-color: #E9ECF2;
    padding: 1.5rem !important;
    margin-bottom: 6rem;
  }
  .more-img {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: inline-block;
    margin-top: 15px;
  }
  .more-img img {
    width: 100%;
    border-radius: 3px;
  }
  .btn-more {
    width: 100%;
    padding: 12px 0px 12px 0px;
    border-radius: 19px;
    margin-top: 20px;
    background-color: #d8dae0;
    font-size: 14px;
    font-weight: 500;
    color: #2f313a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    border: 0;
  }
  .font-view {
    font-size: 16px;
    font-weight: 500;
    color: #666666;
    margin-left: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }
  .mar-view2 {
    margin-top: 7px;
  }
  .font-cast3 {
    font-size: 11px;
    font-weight: 300;
    color: #717171;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
}
.s-project-page .vidio-projects {
  position: relative;
  margin: 0 0 0.0rem 0;
  transition: box-shadow .25s;
  border-radius: 0px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
  width: 335px;
  display: inline-block;
}
.s-project-page .video-img-p {
  width: 305px;
  height: 170px;
  overflow: hidden;
}
.s-project-page .overlay-video-p {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  top: -177px;
  text-align: center;
  transition: all 0.3s ease;
  padding-top: 50px;
}
.s-project-page .cont-ic-new {
  padding: 13px 15px 16px;
  text-align: left;
}
.s-project-page .font-new-v {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.s-project-page i.material-icons {
  vertical-align: middle;
}
.s-project-page .ic-play-p i {
  font-size: 46px;
  color: #03b66f;
  position: relative;
  top: 40%;
}

.s-project-page  .font-18:before {
  font-size: 35px !important;
}
.s-project-page .tooltip:hover > .tooltiptext {
  visibility: visible;
}
.s-project-page  .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.s-project-page  .tooltip-n .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 124%;
  margin-left: -7px;
  font-size: 11px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin-bottom: 40px;
  line-height: 1;
}
.s-project-page  .tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 98%;
  margin-left: -59px;
  font-size: 11px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin-bottom: 7px;
  line-height: 1;
}
.s-project-page .cll-top{
  top: .9rem;
}