.vd-cont-t3 {
    margin-top: 20px;
    font-size: 14px;
    color: #353535c4;
    text-align: center;
}

.vd-recoment {
    font-size: 10px;
    font-weight: 500;
    color: #a2a2a2;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    margin-top: 30px;
    text-align: center;
    padding-bottom: 15px;
}

.vd-cont-t {
    font-size: 20px;
    font-weight: 400;
    color: #3c4858;
    line-height: normal;
    text-align: center;
    margin-top: 15px;
}

.vd-cont-t2 {
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    padding: 5px;
}

.icon-vr1 {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #000000b3;
    text-align: center;
    right: 0;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
    z-index: 1111;

    i {
        color: white;
        position: relative;
        top: 8px;
    }
}

.banner-vd {
    width: 100%;
    height: 265px;
    overflow: hidden;
}

.register-modal-content {
    padding: 0 !important;
}

.vd-center {
    text-align: center;
}

.btn-on-enter {
    padding: 12px 32px;
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    background: #246EBD;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
}

.area-img-log {
    height: 272px;
}

.title-enter {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    line-height: normal;
    color: #3c4858;
    margin: 0px;
}

.lbl-m-cp {
    font-size: 16px;
    font-weight: 400;
    color: #246ebd;
    font-family: "Roboto", sans-serif;
}

.input-profile1 {
    background-color: rgba(255, 255, 255, 0.9) !important;
    width: 100% !important;
    padding: 5px !important;
    border: 1px solid #ccc !important;
    border-radius: 3px !important;
    height: 3rem !important;
    outline: none !important;
    font-family: Roboto, sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    -o-font-smoothing: antialiased !important;
    font-smoothing: antialiased !important;
    color: #848484 !important;
    box-sizing: border-box !important;
    margin-bottom: 2px !important;
    padding-left: 12px !important;
    &:focus {
        border: 1px solid #246EB9 !important;
        outline: none !important;
        border-bottom: 1px solid rgb(36, 110, 185) !important;
        box-shadow: none !important;
    }
}

.inpt-alone-mb {
    margin-bottom: 10px !important;
}

.area-enter {
    padding: 4rem 3rem 0rem 3rem;
    .vd-cont-t2 {
        text-align: left;
    }
}

.vd-alert-tx {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: red;
    display: none;
    .error-pass-icon {
        font-size: 13px;
        border-radius: 50%;
        background: red;
        color: white;
    }
}

.invalid {
    .vd-alert-tx {
        display: block;
    }
}

.input-error-popup {
    border: 1px solid red !important;
}

.email-ok {
    color: #44DB5E;
    font-size: 12px;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: none;
}
.email-ok i{
    color:red
}
.email-ok a{
    color: #246ebd
}
.clr-wrong {
    color: #FF3824 !important;
}

.u-relative {
    position: relative;
    padding: 0px;
}

.tooltip-wap-visi {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.icon-visi-vd {
    position: absolute !important;
    padding: 10px;
    bottom: 0;
    right: 0;
    z-index: 1111;
    cursor: pointer !important;
    margin-bottom: 10px;
    i {
        font-size: 24px;
        color: grey;
    }
}

.cont-icon-vd {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.icon-vd-w {
    display: inline-block;
    width: 130px;
    height: 130px;
    cursor: pointer;
    margin-right: 20px;
    transition: all 0.2s ease;
    padding-top: 0px;
    background: transparent;
    border: none !important;

    &button {
        border: none;
    }

    &:focus {
        background: none;
    }
    &:active {
        background: none;
    }
    &:hover {
        background: none;
    }
    p {
        color: #043c53;
        text-align: center;
    }
}

.font-icon-w {
    font-weight: normal;
    font-size: 14px;
    padding-top: 8px;
    font-weight: 500;
}

.vd-l {
    padding-left: 0px !important;
}

.vd-r {
    padding-right: 0 !important;
}

.upload {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.unplad-foto {
    width: 175px;
    height: 175px;
    display: inline-block;
    overflow: hidden;
    border-radius: 4px;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #9698CA 100%) !important;
    color: dimgrey !important;
    cursor: pointer;
}

.hrf-upload {
    color: #246ebd !important;
    text-decoration: underline;
    background-image: none !important;
    height: initial;
    width: initial;
    vertical-align: bottom;
    margin-right: .2rem;
}

.u-center-c {
    text-align: center !important;
}

.lineal-or {
    color: #bfbdbd;
    position: relative;
    &:before {
        content: '';
        width: 70px;
        position: absolute;
        height: 1px;
        top: 10px;
        background: #bfbdbd;
        left: 80px;
    }
    &:after {
        content: '';
        width: 70px;
        position: absolute;
        height: 1px;
        top: 10px;
        background: #bfbdbd;
        right: 80px;
    }
}

.requiered-f-1 {
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    color: #a2a2a2;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.u-fonts {
    font-size: 13px !important;
}

.overlay-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;
    width: 100%;
    height: 100vh;
    display: none;
}

.over-light {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.86);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    width: 100%;
    height: 100vh;
    display: none;
}

.overlay-body {
    max-width: 900px;
    width: 100%;
    border-radius: 3px;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}

.overlay-body-cont {
    height: auto;
    image-rendering: optimizeQuality;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    width: auto;
}

.body-main {
    display: block;
    font-size: 0;
    height: 100%;
    min-height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
}

.w-cont-img-drag {
    width: 400px;
    height: auto;
    background-color: white;
    border-radius: 3px;
    margin: 0 auto;
}

.part1-img-drag {
    padding: 15px;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    border-radius: 3px 3px 0px 0px;
    position: relative;
}

.left-aling {
    width: 170px;
    display: flex;
}

.part1-img-2 {
    float: right;
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 15px;
}

.img-drag {
    background-color: #f8f8f8;
    background-size: cover;
    border-radius: 3px;
    margin-top: 7px;
    width: 250px;
    margin: 2rem auto;
}

.cropit-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border-radius: 3px;
    margin-top: 7px;
    width: 250px;
    height: 250px;
    margin: 2rem auto;
}

.pad-img-drag {
    padding: 20px;
}

.btn-drag-2 {
    width: 8rem;
    height: 2.3rem;
    font-size: 14px;
    background: transparent;
    border-radius: 20px;
    color: #f76859;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    transition: all 0.3s ease;
    border: 0.01rem solid #f76859;
    cursor: pointer;
}

#_cl-avatar-profile {
    color: #246EBD !important;
    border: 1px solid #246EBD !important;
}

.btn-drag-1 {
    width: 8rem;
    height: 2.3rem;
    font-size: 14px;
    background: #F76859;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    transition: all 0.3s ease;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}

#bnt-avatar-profile {
    background: #246EBD !important;
}

.cropit-preview-image-container {
    cursor: move;
}

.cropit-preview-background {
    opacity: .2;
    cursor: auto;
}

.unplad-foto-hover{
    &:hover{
        opacity: .5;
    }
}

.src-avatar-s {
    top: 0;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-top: 0rem;
}

.area-enter-2 {
    padding: 5rem 1rem;
}

.vd-lgo-login {
    width: 106px;
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
}