$medium: "(max-width: 992px)";
$scren: "(max-width: 1100px)";
$destok:"(max-width: 1170px)";
$table: "(max-width: 800px)";
$mobil: "(max-width: 480px)";

@media (max-width: 1300px){
    .box-genres img {
        width: 144%;
    }
}

@media #{$destok}{
    .area-content-launch {
        max-width: 660px;
        padding-left: 20px;
    }
}
@media #{$scren} {
    section {
        padding: 0rem 0;
    }
}

@media #{$medium} {
    .cover-page-1{
        padding-left: 0;
    }
    nav a.button-collapse {
        display: block;
      }
    .s-header .s-header nav.s-wrap-header{
        height: 64px !important;
    }
    .father-burger{
        display: none;
    }
    .wrapper-in{
        padding-left: 0;
    }
    #nav-hamburger-mobile{
        display: block;
    }
    .select-yourplan-link .txt-nav{
        display: none;
    }
    .select-yourplan a.select-yourplan-link{
        width: auto;
    }
    .main-form-bannerhome{
        position: relative;
        width: 100%
    }
    .mobile-header-menu{
        display: block !important;
    }
    .mobile-header-menu .txt-nav{
        display: none;
    }
    #frm-singup input[type="text"], #frm-singup input[type="email"]{
        width: 100% !important;
    }
    .slogan-on-bannerhome{
        font-size: 37px;
    }
    .call-to-action-new-home {
        display: block !important;
    }
    .call-to-action-new-home a{
        display: block;
        text-align: center;
    }
    .container {
        width: 100%;
    }
    .area-launch {
        width: 100%;
        position: relative;
        padding-top: 20px;
    }
    .area-content-launch {
        max-width: 100%;
    }
    .area-coments {
        background: gray;
        width: 100%;
        position: static;
        padding-top: 20px;
    }
    .content-coments {
        padding: 33px 48px 10px 46px;
        max-width: 100%;
        min-height: auto;
    }
    #nav-web .txt-nav{display: none;}
    /*planes*/
    .page-content-wrapper-plans #respon-ap{
        display: block;
    }
    .page-content-wrapper-plans #table-price {
        display: none;
      }
      .page-content-wrapper-plans #respon-ap .col-p {
        width: 100%;
        overflow: hidden;
        background-color: #fff;
        box-sizing: border-box;
        padding-bottom: 20px;
        margin-bottom: 14px;
    }
    .page-content-wrapper-plans p.font-p-p.padding-p-2.square-plan-blocktext-responsive{
        display: block;
        width: 100%;
        height: initial;
        float: initial;
    }
    a.order-link{
        display: block;
        margin: 0 auto;
    }
    .cover-accordion-container{
        overflow: initial;
    }
    .cover-page-plans{
        padding-top: 64px;
    }
}

@media #{$table}{
    /**
    *asistido proyecto
    */
    #modalCreateProjectAssistent .cont-new-p{
        padding: 0;
    }
    #modalCreateProjectAssistent #wap .padding-warp1 figure{
        margin: 0;
    }
    #modalCreateProjectAssistent .wapper-cont-new{
        width: 65%;
    }
    /**/
    ul.mobile-header-menu{
        display: block !important;
        width: 100%;
        padding-bottom: 1rem;
        /*width: 100%;
        margin-top: -1px;
        background: #011522;
        height: 55px;*/
    }
    ul.mobile-header-menu .txt-nav{
        display: none;
    }
    ul.mobile-header-menu li{
        float: initial;
        display: inline-block;
        vertical-align: middle;
        margin-right: 0;
    }
    ul.mobile-header-menu li a{
        top:0 !important
    }
    /**/
   /* .loguet-logo{
        float: left;
    }*/
    .select-yourplan .txt-nav{
        display: none;
    }
    .select-yourplan .left-plans{
        width: initial;
    }
    .new-banner-sr {
        width: 100%;
        min-height: 600px;
        overflow: hidden;
        margin-top: 64px;
    }
    .area-rigth-banner {
        margin-top: 3rem;
        padding: 5px 20px;
    }
    .btn-sing-here {
        display: block !important;
    }
    
    .big-title {
        text-align: center;
        font-size: 2.5rem;
    }
    .ask-genre p {
        max-width: 100%;
        text-align: center;
        font-size: 16px;
    }
    .btn-see-all-genres {
        padding-left: 0.4rem;
        padding-right: 1rem;
        font-size: 13px;
    }
    .custom-col2 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .ask-genre {
        margin-bottom: 0;
        height: initial;
    }
    .custom-col1 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .sprite-newbanner {
        width: 100%;
        height: 600px;
    }
    /*logo*/
    nav .brand-logo {
        left: 58%;
        font-size: 1.8rem;
    }
    /**/
    nav .button-collapse {
        float: left;
        position: relative;
        z-index: 1;
        height: 56px;
        margin: 0 18px;
    }
}

@media #{$mobil}{
    .main-form-bannerhome {
        display: none;
    }
    .new-banner-sr {
        margin-top: 37px;
    }
    .slogan-on-bannerhome {
        font-size: 44px;
        font-weight: 500;
    }
    .ask-genre {
        padding: 12px 28px 48px 28px !important;
    }
    .btn-see-all-genres {
        padding-left: 0.4rem;
        padding-right: 1rem;
        font-size: 13px;
        right: 9rem;
        bottom: 0rem;
    }
    .area-rigth-banner{
        margin-top: 0;
    }
    .box-genres{
        height: 196px;
    }
    .title_project_launch {
        font-size: 1.4rem;
        padding-top: 8rem;
    }
    
}