.gradient1 {
  background-image: linear-gradient(to top, #cfd9df87 0%, #e2ebf0b5 99%);
  width: 100%;
  height: 170px;
  z-index: 9;
  position: absolute;
  margin-left: 4px;
}

.banner-advertising-search {
  background: url(../images/banner.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  min-width: 80%;
  height: 170px;
  position: relative;
  padding-top: 9px;
  opacity: 1;
}

.area-search-advance-horizontal {
  background-color: #f7f7f7;
  z-index: 11;
  position: relative;
  margin-left: 4px;
  border-bottom: 1px solid rgba(134, 134, 134, 0.3);
}

.area-main-search {
  text-align: center;
  max-width: 1200px;
  margin: auto;
  padding: 24px 0 0 0;
}

.title-y-search {
  max-width: 761px;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.title-newsearchad {
  font-size: 28px;
  margin: 0 auto;
  padding: 4px 30px 0 0;
  font-weight: 400;
  color: #27344a;
}

.main-search-style {
  display: inline-block;
  padding: 0;
  max-width: 1200px;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 21px;
  li {
    display: inline-block;
    list-style: none;
    a {
      display: block;
      color: #333;
      background-color: #f7f7f7;
      padding: 10px 14px;
      text-decoration: none;
      font-size: 14px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      border-radius: 4px 4px 0 0;
      span {
        display: inline-block;
        margin-left: 5px;
        font-size: 10px;
        color: #999;
        font-size: 6px;
        margin-top: 6px;
        margin-left: 10px;
      }
      &:hover {
        background-color: white;
        color: #067cf3;
      }
    }
    .active {
      background-color: white;
      color: #067cf3;
    }
    .dropdown-menu {
      display: none;
      position: absolute;
      left: 0;
      padding: 0;
      margin: 0;
      text-align: left;
      border-radius: 0px 0px 4px 4px;
      z-index: 5;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
      background-color: white !important;
      padding: 8px !important;
    }
  }
  .button-dropdown {
    position: relative;
  }
}

.container-items {
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer !important;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  width: 184px;
  padding: 6px 2px 6px 30px;
  cursor: pointer;
  -moz-transition: all 100ms ease;
  -webkit-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  transition: all 100ms ease;
  color: #6b6969;
  text-transform: capitalize;
  input {
    position: absolute !important;
    opacity: 0 !important;
  }
  &:hover {
    background-color: #0a72dc;
    color: white;
  }
}

.checkmark {
  position: absolute !important;
  top: 7px;
  left: 8px;
  height: 15px !important;
  width: 15px;
  background-color: #dad9d9;
  border-radius: 2px;
  padding-left: 0 !important;
  &:before {
    display: none;
    border: none !important;
  }
  &:after {
    background-color: transparent;
    content: "";
    position: absolute;
    display: none;
  }
  &:hover {
    background-color: #0a72dc;
    color: white;
  }
  i {
    font-size: 13px;
    color: white;
    font-weight: 600;
    margin-top: 1px;
    margin-right: 2px;
    display: none;
  }
}

.big-menu-genres {
  width: 570px !important;
  background-color: white;
  padding: 16px !important;
}

.container-items input:checked ~ .checkmark {
  background-color: #2196F3;
}

.search-camp-new {
  max-width: 360px;
  margin: auto;
  background: white;
  border-bottom: 1px solid gainsboro;
  box-shadow: none;
  height: 44px;
  border-radius: 4px;
}

.search-area-text2 {
  .input-field {
    .active{
      background: transparent;
    }
    input[type=search] {
      display: block;
      line-height: inherit;
      padding-left: 4rem;
      width: 243px;
      background: white;
      &:focus{
        border-bottom: 1px solid #057CF4;
        -webkit-box-shadow: 0 1px 0 0 #057CF4;
        box-shadow: 0 1px 0 0 #057CF4;
      }
    }
    label {
      color: #9e9e9e;
      position: absolute;
      top: 0.8rem;
      left: 0;
      font-size: 1rem;
      cursor: text;
      transition: .2s ease-out;
      text-align: initial;
      margin-top: -10px;
    }
    .label-icon {
      i {
        color: #989898;
        margin-top: -10px;
        font-size: 27px;
        margin-left: -11px;
      }
    }
  }
}

.newer-card-project {
  width: 260px;
  height: 387px;
  background-color: black;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  -webkit-font-smoothing: antialiased;
  /*margin: 0 20px 20px 0;*/

  .show-poster-card {
    height: 350px;
  }
  .overlay-card-project {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.77) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.77) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.77) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.77) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.77) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
  }
  .head-of-project {
    width: 100%;
    height: 40px;
    background: #000000ad;
    padding: 13px;
    position: absolute;
    .circle-on-card {
      width: 52px;
      height: 52px;
      display: inline-block;
      position: absolute;
      background: white;
      border-radius: 30px;
      right: 15px;
      top: 13px;
      overflow: hidden;
      border: 2px solid #fff;
      z-index: 9;
    }
  }
  .truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .font-autor-card {
    font-size: 14px;
    font-weight: 500;
    color: white;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    width: 76%;
    a {
      font-weight: 700;
      color: #00B4FF;
    }
  }
  .down-part-cardproject {
    height: 32px;
    width: 100%;
  }
  .show-poster-card {
    height: 350px;
    overflow: hidden;
    position: relative;
    border-radius: 6px 6px 0 0;
    &:hover{
      .new-info-card-project {
        bottom: 0rem;
        background-color: #00000091;
        padding: 16px 20px;
        border-radius: 0;
      }
    }
  }
  .gender-on-card {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-top: -5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .logline-card {
    color: white;
    line-height: 14px;
    font-size: 13px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
  .font-p-title-card {
    font-size: 20px;
    font-weight: 700;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    color: #00B4FF;
    margin: 0;
    line-height: 32px;
  }
  .new-info-card-project {
    position: absolute;
    bottom: -9rem;
    color: white;
    width: 100%;
    padding: 0 20px;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
    cursor: pointer;
    height: 184px;
  }
}

.icon-on-card {
  margin: 8px 12px;
  color: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  i {
    color: white;
    font-size: 20px;
    vertical-align: middle;
    margin-right: 4px;
  }
  span {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    margin-left: 4px;
  }
}

.result-new-search {
  min-height: 289px;
  width: 100%;
  position: relative;
  padding: 34px 10px;
  background-color: #e6ecf0;
}

.limit-area-result {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.buttons-search-section-content {
  display: none;
}
a.buttons-search-item-link {
  border-radius: 34px;
  padding: 8px 19px;
  font-size: 13px;
  color: white;
  font-weight: normal;
}
.message-empty-square {
  width: 100%;
  float: left;
  display: inline-block;
  text-align: center;
  margin-top: 40px;
}
.message-empty-square-content {
  background: white;
  width: 59%;
  max-width: 730px;
  padding: 16px 0;
  border: 2px solid #ededed;
  display: inline-block;
}
.message-empty-top {
  font-weight: bolder;
  font-size: 17px;
  margin: 7px 0;
}
.message-empty-bottom {
  margin: 7px 0;
  font-size: 14px;
}
a.buttons-search-item-link.buttons-search-item-link-y {
  color: #27344a;
  border: 2px solid #27344a;
  background: white;
}
.buttons-search-item {
  display: inline-block;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a.buttons-search-item-link.buttons-search-item-link-x {
  color: #27344a;
  border: 2px solid #27344a;
  background: white;
}
a.buttons-search-item-link-active {
  background: #27344a !important;
  border: 2px solid #27344a;
  color: white !important;
}
@media screen and (max-width: 500px) {

  .message-empty-square {

  }
  .message-empty-square-content {
    width: 93%;
    padding: 17px 17px;
  }
  .message-empty-top {

  }
  .message-empty-bottom {

  }


  .area-main-search {
    padding: 2px 0 0 0;
  }
  .buttons-search-section-content {
    /* display: block; */
    height: 51px;
  }
  .s-wrap-header .modal-trigger .txt-nav {
    display: none;
  }
  .s-wrap-header .hover-search-content .txt-nav {
    display: none;
  }
  .title-newsearchad {
    line-height: 34px;
    padding: 13px 30px 20px 0;
  }

  .s-search.page-content-wrapper {
    position: relative;
  }
  .center-footer-area .footer-socialmedia {
    display: none;
  }

  .s-header nav.s-wrap-header {
    height: 95px;
  }
  .nav-wrapper .select-yourplan {
    float: right !important;
    width: 92px;
    position: relative;
    top: 11px;
  }
  .select-yourplan a.select-yourplan-link {
    top: 0;
  }
  .s-search .newer-card-project {
    margin: 0 auto 17px auto;
  }
  .s-search .main-search-style {
    display: none;
  }
  ul#nav-web {
    float: left;
    width: 100%;
    display: inline-block;
    line-height: 0;
    position: relative;
    top: -8px;
  }
  ul#nav-web li.hover-search a {
    top: 0;
  }
  ul#nav-web li.nav-web-icon a {
    top: 0;
  }
}

.btn-clear-search{
  border: 1px solid #ccd0d5 !important;
  border-radius: 2px !important;
  height: 30px;
  line-height: 10px;
  background-color: #f5f6f7 !important;
  color: #4b4f56 !important;
  display: none !important;
  &:hover{
    background-color: #ebedf0 !important;
  }
}

.show-el{
  display: block !important;
}


.loader-porjects-tags .newer-card-project{
  margin: 0 20px 20px 0;
}