.no-shadowbox{
    box-shadow: none;
    border: 0;
}
.perfil-lit {
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: inline-block;
    border-radius: 2px;
}

.paddig-pro2 {
    padding: 2.0rem 14px 14px 14px
}

.cont-pro3 {
    display: inline-block;
    vertical-align: super;
    margin-left: 10px;
}

.font-pro-tx1 {
    font-size: 14px;
    font-weight: 500;
    color: #011523;
}

.font-pro-tx1-1 {
    font-size: 12px;
    font-weight: 400;
    color: grey;
}

.font-pro-tx2 {
    font-size: 13px;
    font-weight: 400;
    color: grey;
}

.button-back {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    background: #3f3f40;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    padding: 5px 20px 5px 20px;
    border-radius: 19px;
    width: 9rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    margin-left: 7px;
    transition: all 0.3s ease;
}

.button-back:hover {
    background: #f76859;
}
.settings-hr {
    background: #dddddd;
    width: 100%;
    float: left;
    display: inline-block;
    height: 1px;
}
.pro-mar1 {
    margin-top: 10px;
}

.s-settings .pro-mar2 {
    padding-top: 50px;
    margin-bottom: 0;
}
.s-settings .ios-ui-select {
    margin-right: 5px;
}
div.tab2 {
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 0px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.21);
}

div.tab2 button {
    display: block;
    background-color: inherit;
    color: #246eb9;
    padding: 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    border-bottom: 0.001rem solid #F3F3F3;
    /* border-radius: 3px 3px 3px 3px; */
    border-left: none;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

div.tab2 button.active2 {
    background-color: rgb(233, 236, 243);
    border-left: 3px solid #ffa31e;
}

div.tab2 button:hover {
    background-color: rgb(233, 236, 243);
}

.font-formu1 {
    font-size: 18px;
    font-weight: 500;
    color: #246eb9;
    margin-bottom: 20px;
}

.input-profile1 {
    background-color: rgba(255, 255, 255, 0.9) !important;
    width: 100% !important;
    padding: 5px !important;
    border: 1px solid #ccc;
    border-radius: 3px !important;
    height: 3rem !important;
    outline: none !important;
    font-family: Roboto, sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    -o-font-smoothing: antialiased !important;
    font-smoothing: antialiased !important;
    color: #848484 !important;
    box-sizing: border-box !important;
}

.input-profile1:focus {
    border: 1px solid #246EB9 !important;
    outline: none !important;
    border-bottom: 1px solid rgb(36, 110, 185)!important;
    box-shadow: none !important;
}

.select2 {
    width: 100%;
    overflow: hidden;
    background: #fff url(../images/selec.png) no-repeat 98% center;
    border-radius: 3px;
    display: inline-block;
}

.select2 select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #ccc;
}

.select2 select:focus {
    border: 1px solid #246EB9;
    outline: none;
}

.list-mar {
    margin-top: 15px;
}

.list-mar2 {
    margin-top: 20px;
}

.form-wapper2 {
    padding-left: 2rem !important;
    padding-bottom: 2rem !important;
}

.text-profile1 {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 5px;
    border: 1px solid #a9a9a9;
    border-radius: 3px !important;
    height: 3rem;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color: #848484 !important;
    height: 100px;
    resize: none;
}

.text-profile1:focus {
    border: 1px solid #246EB9;
    outline: none;
}

.bottom-add-p {
    width: 7rem;
    height: 2.5rem;
    color: #fff;
    background-color: #246eb9;
    border: 0.01rem solid transparent;
    margin-top: 15px;
}

.bottom-add-p:hover {
    background-color: #2061a2;
}

.btn-add-p {
    font-size: 14px;
    font-weight: 500;
    color: #246eb9;
    background-color: #e9ecf3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    padding: 4px 18px;
    border-radius: 19px;
    transition: all 0.3s ease;
    border: none;
}

.btn-add-p:hover {
    color: #fff;
    background-color: #246eb9;
}

.btn-add-p i {
    font-size: 18px;
    vertical-align: sub;
}

.add-credit-p {
    width: 100px;
    height: 100px;
    border-radius: 3px;
    background: #246eb9;
    color: #ffffff;
    font-size: 13px;
    padding-top: 25px;
}

.block-credit {
    display: inline-block;
}

.agent-wapper-per {
    padding-top: 15px;
    border-top: 1px solid #cccccc;
    margin-top: 25px;
}

.card-pro-si {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    margin: 0px 2rem 0px 2rem;
    background-color: #E9ECF2;
    border-radius: 4px;
    color: #2F313A;
}

.card-pro-img-si {
    width: 30px;
    height: 26px;
    overflow: hidden;
    border-radius: 3px;
    background: #03B66F;
    color: #fff;
    text-align: center;
}

.card-pro-img-si i {
    font-size: medium;
}

.card-pro-cont-si {
    padding-left: 14px;
    width: 100%;
}

.icon-bloque-pro {
    display: inline-block;
    width: 53px;
}

.vertical {
    vertical-align: sub;
}

.year-pos {
    position: relative;
    left: 100px;
}

.content-red {
    padding: 10px;
    background: #e9ecf3;
    border-radius: 4px;
    margin: 0 auto !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important
}

.position-tem {
    position: relative;
    top: 5px;
}

.font-red {
    vertical-align: text-bottom;
    font-size: 14px;
    font-weight: 500;
    color: #636363;
    margin-left: 10px;
}

.input-red {
    margin: 0px !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
    width: 100% !important;
    padding: 5px !important;
    border: 1px solid #ccc !important;
    border-radius: 3px !important;
    height: 3rem !important;
    outline: none !important;
    font-family: Roboto, sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    -o-font-smoothing: antialiased !important;
    font-smoothing: antialiased !important;
    color: #848484 !important;
    box-sizing: border-box !important;
    height: 31px !important;
}

.input-red:focus {
    border: 1px solid #246EB9 !important;
    outline: none !important;
    border-bottom: 1px solid rgb(36, 110, 185)!important;
    box-shadow: none !important;
}

.form-mar1 {
    margin-bottom: 20px;
}

.bottom-save-pro {
    width: 11rem;
    height: 2.5rem;
    color: #fff;
    background-color: #246eb9;
    border: 0.01rem solid transparent;
    margin-top: 15px;
}

.bottom-save-pro:hover {
    background-color: #2061a2;
}

.btn-change-pas {
    width: 10rem;
    height: 2.5rem;
    color: #fff;
    background-color: #246eb9;
    border: 0.01rem solid transparent;
    margin-top: 15px;
}

.btn-change-pas:hover {
    background-color: #2061a2;
}

.cont-pos {
    float: right;
    position: relative;
    top: 4px;
}

.s-settings input.btn-salva-input {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    background: #3f3f40;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    padding: 5px 20px 5px 20px;
    border-radius: 19px;
    width: 10.5rem !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    margin-left: 7px;
    transition: all 0.3s ease;
    text-align: center;
}

.box-fq {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 30px;
}


.title-settings {
    color: black;
    font-size: 16px;
    margin-left: 0;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    margin: 0 0 20px 0;
}

.items-settings p {
    padding-bottom: 8px;
}

.second-check-setting{
    padding-left: 42px !important;
    margin: 0 0 0px 0;
}

.color-detel-acount1{
    color: #969eb5 !important;
}

[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after {
    border: 2px solid #f76859;
}

[type="checkbox"]:checked+label:before {
    border-right: 2px solid #f76859;
    border-bottom: 2px solid #f76859;
}

label {
    color: #575757;
    font-size: 14px !important;
}

.area-delete-account {
    margin-top: 20px;
    background-color: #eaecf2;
    padding: 30px 30px 10px 30px;
    border-radius: 4px;
}

.delete-account {
    background-color: #d7d7d7;
    padding-left: 0 !important;
    font-size: 14px;
    max-width: 200px;
    color: #aaa7a7;
    text-align: center;
    border-radius: 50px;
    height: 37px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    padding: 0;
    margin-top: 18px;
}

.txt-delete {
    color: #9ca2b2;
    font-size: 14px !important;
    font-weight: 300;
    margin-top: -10px;
}

.delete-account:hover {
    /*background-color: #e4e2e2;*/
}

.explain-delete {
    background-color: #eaecf2;
    font-size: 12px;
    margin-top: 18px;
    padding-bottom: 40px;
    color: #575757;
    padding: 0;
    padding-top: 20px;
    border: none;
}

.btns-delete {
    margin-top: 30px;
}

.list-delete{
    margin-top: 20px;
}

.list-delete li {
    list-style-type: disc !important;
    margin-left: 26px;
}

.btn-delete {
    background-color: #004977;
    color: white;
    padding: 8px 26px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 50px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    display: inline-block;
    text-align: center;
    margin-bottom: 16px;
}

.btn-delete:hover{
    background-color: #02395d;
}

.btn-delte-agree {
    background-color: #e4e2e2;
    color: #A4A4A4;
    padding: 8px 27px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 50px;
    /* margin-left: 8px; */
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    display: inline-block;
    text-align: center;
}

.s-settings .btn-delte-agree:hover{
    background-color: #dcd9d9 ;
}

.s-settings .box-setting {
    padding: 45px 45px !important;
    background: white;
    border-radius: 5px;
    margin-bottom: 5%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.21);
}

.s-settings #privacy [type="checkbox"].filled-in:checked + label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #5a5a5a;
    background-color: #616161;
    z-index: 0;
}

.s-settings .ios-ui-select {
    height: 19px;
    width: 30px;
    top: 3px;
}
.s-settings .ios-ui-select .inner {
    top: 1.5px;
    left: 1.5px;
    width: 15px;
    height: 15px;
    transition: all 175ms cubic-bezier(0, 0.89, 0.44, 1);
    -webkit-transition: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.s-settings .ios-ui-select.checked .inner {
    left: 13.5px;

}
.s-settings [type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
    border: 2px solid #c6c9cc;
}
.s-settings [type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid #6ddc5f;
    background-color: #6ddc5f;
}

/*
radio button
*/
