.s-subscription {

}

/*--------------------------- START PLANS --------------------------*/
.s-subscription .a-link-nones{
  pointer-events: none;
  cursor: default;
  opacity: .5;
}
.s-subscription .btn-button-sub{
  text-align: center;
  /* float: left; */
  position: relative;
  /* margin-top: 3.222rem; */
  margin-right: 1.5rem;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
  /* vertical-align: middle; */
  bottom: 0;
}
.s-subscription .red-view {
  display: inline-block;
  vertical-align: middle;
}
.s-subscription .notings-plans {
  opacity: .5
}
._error{
  border:1px solid red !important;
}
.perfil-lit {
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  border-radius: 2px;
}

.paddig-pro2 {
  padding: 1rem 14px 14px 14px;
}

.cont-pro3 {
  display: inline-block;
  vertical-align: super;
  margin-left: 10px;
}

.font-pro-tx1 {
  font-size: 14px;
  font-weight: 500;
  color: #011523;
}

.font-pro-tx1-1 {
  font-size: 12px;
  font-weight: 400;
  color: grey;
}

.font-pro-tx2 {
  font-size: 13px;
  font-weight: 400;
  color: grey;
}

.button-back {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  background: #3f3f40;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  padding: 5px 20px 5px 20px;
  border-radius: 19px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin-left: 7px;
  transition: all 0.3s ease;
  margin-top: 18px;
}

.two-tabs-enterprise {
  max-width: 128px;
  height: 30px;
  background-color: #4352c5;
  border-radius: 4px;
  margin-top: -8px;
  margin-bottom: 9px;
}

.two-tabs-enterprise .indicator {
  height: 30px !important;
  z-index: 2;
  background-color: white !important;
}

.two-tabs-enterprise>li>a {
  margin-top: -9px;
  z-index: 99;
  position: relative;
  color: white !important;
}

.title-on-enterprise {
  padding-bottom: 1px !important;
}

.button-back:hover {
  background: #f76859;
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.area-all-content {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 24px;
  padding-bottom: 86px !important;
}

.font-1plans {
  font-size: 12px;
}

.font-2plans {
  font-size: 22px;
}

.font-3plans {
  font-size: 18px !important;
}

.font-4plans {
  font-size: 14px !important;
}

/* blue dark color */

.clr-1plans {
  color: #001524;
}

/* blue color */

.clr-2plans {
  color: #246EB9 !important;
}

.crl-3plans {
  color: #233D4D;
}

.crl-4plans {
  color: #2D4558;
}

/* yellow color */

.clr-3plans {
  color: #F8A425;
}

.wrapper {
  background-color: #e6ecf0;
  padding-bottom: 0px;
  /*padding-left: 203px;*/
}

.bck-color1 {
  background: rgba(22, 160, 162, 1);
  background: -moz-linear-gradient(left, rgba(22, 160, 162, 1) 0%, rgba(49, 204, 207, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(22, 160, 162, 1) 0%, rgba(49, 204, 207, 1) 100%);
  background: -o-linear-gradient(left, rgba(22, 160, 162, 1) 0%, rgba(49, 204, 207, 1) 100%);
  background: -ms-linear-gradient(left, rgba(22, 160, 162, 1) 0%, rgba(49, 204, 207, 1) 100%);
  background: linear-gradient(to right, rgba(22, 160, 162, 1) 0%, rgba(49, 204, 207, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16a0a2', endColorstr='#31cccf', GradientType=1);
}

.bck-color2 {
  background: rgba(79, 172, 254, 1);
  background: -moz-linear-gradient(left, rgba(79, 172, 254, 1) 0%, rgba(149, 206, 255, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(79, 172, 254, 1) 0%, rgba(149, 206, 255, 1) 100%);
  background: -o-linear-gradient(left, rgba(79, 172, 254, 1) 0%, rgba(149, 206, 255, 1) 100%);
  background: -ms-linear-gradient(left, rgba(79, 172, 254, 1) 0%, rgba(149, 206, 255, 1) 100%);
  background: linear-gradient(to right, #4FACFE 0%, #04D1DB 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4facfe', endColorstr='#95ceff', GradientType=1);
}

.bck-color3 {
  background: rgba(0, 90, 234, 1);
  background: -moz-linear-gradient(left, rgba(0, 90, 234, 1) 0%, rgba(0, 197, 251, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(0, 90, 234, 1) 0%, rgba(0, 197, 251, 1) 100%);
  background: -o-linear-gradient(left, rgba(0, 90, 234, 1) 0%, rgba(0, 197, 251, 1) 100%);
  background: -ms-linear-gradient(left, rgba(0, 90, 234, 1) 0%, rgba(0, 197, 251, 1) 100%);
  background: linear-gradient(to right, rgba(0, 90, 234, 1) 0%, rgba(0, 197, 251, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005aea', endColorstr='#00c5fb', GradientType=1);
}

.bck-color5 {
  background: rgba(0, 90, 234, 1);
  background: -moz-linear-gradient(left, rgba(0, 90, 234, 1) 0%, rgba(0, 197, 251, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(0, 90, 234, 1) 0%, rgba(0, 197, 251, 1) 100%);
  background: -o-linear-gradient(left, rgba(0, 90, 234, 1) 0%, rgba(0, 197, 251, 1) 100%);
  background: -ms-linear-gradient(left, rgba(0, 90, 234, 1) 0%, rgba(0, 197, 251, 1) 100%);
  background: linear-gradient(to right, rgb(97, 82, 251) 0%, rgb(143, 0, 251) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005aea', endColorstr='#00c5fb', GradientType=1);
}

.bck-color4 {
  background-color: #243949 !important;
}

.name-user {
  font-size: 14px;
  font-weight: bold;
  color: #004975;
}

.bread-here {
  color: #AEAAAA;
}

.separate-bread {
  margin-left: 7px;
  margin-right: 7px;
}

.align-breadcum {
  padding-top: 8px;
}

.head-info-me {
  max-width: 700px;
}

.profile-picture-small {
  width: 56px;
  height: 56px;
  border-radius: 2px;
  margin-right: 20px;
}

.full-img {
  width: 100%;
}

.area-plans {
  max-width: 1180px;
  margin: 0 auto;
}

.steps-width {
  max-width: 526px;
  margin: 0 auto;
  position: relative;
}

.line-steps1 {
  width: 141px;
  height: 1px;
  background: #246EB9;
  position: absolute;
  left: 105px;
  top: 16px;
}

.line-steps2 {
  width: 142px;
  height: 1px;
  background: #246EB9;
  position: absolute;
  right: 105px;
  top: 16px;
}

.circle-steps {
  border-radius: 50px;
  border: 1px solid #246EB9;
  width: 34px;
  height: 34px;
  display: block;
  padding-top: 6px;
  color: #246EB9;
  margin: 0 auto;
  margin-bottom: 8px;
}

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
  border: 2px solid #246EB9;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: #246EB9;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
  border: 2px solid #246EB9;
}

.area-box-plans {
  max-width: 1180px;
  margin: 0 auto;
}

.title-plans {
  background-color: #F7F7F7;
  padding: 16px 26px;
  color: white;
  border-radius: 4px 4px 0 0;
}

.title-plans h1 {
  font-size: 1.8rem;
  margin: 0;
}

.box-plans {
  position: relative;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.steps-plans {
  margin-bottom: 20px;
  margin-top: 10px;
}

.steps-plans h1 {
  padding: 20px 10px 12px 10px;
  margin: 0;
}

.box-plans:hover {
  box-shadow: 0px 20px 40px rgba(204, 204, 204, 0.19);
}

.type-plans {
  width: 144px;
  margin: 0 auto;
  position: relative;
}

.small-input {
  font-size: 12px;
  margin-left: 54px;
  position: absolute;
  left: 0;
  margin-top: 20px;
  z-index: 11;
}

.type-plans p {
  margin-bottom: 30px;
  text-align: left;
  margin-left: 18px;
}

.text-plans {
  padding: 22px 32px 40px 22px;
  background-color: white;
  border-radius: 0 0 4px 4px;
  min-height: 390px;
}

.btn-plans {
  background-color: #246EB9 !important;
  padding: 10px 28px;
  font-size: 14px;
  border-radius: 50px;
  color: white;
  margin-top: 28px;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 200px;
  bottom: 46px;
}

.plans-getty2 {
  max-width: 910px;
  margin: 0 auto;
}

.box-getty {
  position: relative;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}

.type-plans-getty {
  width: 100%;
  position: relative;
}

.type-plans-getty p {
  margin-bottom: 12px;
  text-align: left;
  padding-bottom: 8px;
  border-bottom: 1px dashed #c5c5c5;
}

.price-getty {
  font-size: 16px;
  margin-left: 54px;
  position: absolute;
  right: 0;
  margin-top: 1px;
  z-index: 11;
  color: #004975;
}

.auto-renewal {
  padding: 27px 14px;
  margin-top: 10px;
  margin-bottom: 50px;
  border-bottom: 1px solid #d8d8d8;
}

.text-getty {
  padding: 30px 32px 35px 32px;
  background-color: white;
  border-radius: 0 0 4px 4px;
  min-height: 280px;
}

.logo-getty {
  width: 188px;
  margin-top: 3px;
  margin-left: 14px;
}

.prhase-getty {
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.space-txt-getty {
  margin-top: 5rem;
}

.back-btn {
  background-color: #3f3f40;
  padding: 5px 23px;
  border-radius: 50px;
  font-size: 14px;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  float: right;
  margin-top: 12px;
}

.area-payment-st {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 5rem;
}

.input-plans1 {
  background-color: rgba(255, 255, 255, 0.9) !important;
  width: 95% !important;
  padding: 5px 8px !important;
  border: 1px solid #ccc !important;
  border-radius: 3px !important;
  height: 3rem !important;
  outline: none !important;
  font-family: Roboto, sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -o-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  color: #848484 !important;
  box-sizing: border-box !important;
  z-index: 0;
}

.font-label-plans {
  font-size: 14px;
  font-weight: 500;
  color: #2f313a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: 2;
}

.select-plans select {
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #ccc;
}

.input-plans1:focus {
  border: 1px solid #246EB9 !important;
  outline: none !important;
  border-bottom: 1px solid rgb(36, 110, 185)!important;
  box-shadow: none !important;
}

.camp-year {
  margin-top: 28px;
}

.title-payment {
  color: #004975;
  font-size: 18px;
  margin-left: 11px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  float: left;
  margin: 0;
  padding: 5px 12px 12px 12px;
}

.area-order-summary {
  background-color: #F5F5F5;
  padding: 40px !important;
  min-height: 818px !important;
}

.order-summary {
  color: #004975;
  font-size: 18px;
  margin-left: 0;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  float: left;
}

.method-pay {
  padding-left: 10px;
  display: inline-flex;
}

.method-pay div {
  margin-right: 10px;
}

.area-payment-camps {
  background-color: white;
  padding: 34px 40px 49px 40px!important;
}

.form-payment {
  padding-top: 20px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #D3D3D3;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #D3D3D3;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #D3D3D3;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #D3D3D3;
}

.font-select-plans {
  font-size: 14px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #848484 !important;
}

.btn-send-payment {

}

.waves-button-input {
  outline: none !important;
  outline: 0 !important;
}

.code-promotion {
  max-width: 350px;
  width: 100%;
  /* float: left; */
  /* margin-right: 13px; */
  margin: auto;
}

.discount-code p {
  line-height: 15px;
}

.width-code {
  max-width: 172px;
  text-transform: uppercase;
}

form#payment-form .error_input {
  border: 1px solid red !important;
}

.btn-code-promotion {
  display: inline-block;
  border: 1px solid #D5AB55;
  background-image: linear-gradient(180deg, #FFD96A 0%, #FFBC00 100%);
  border-radius: 3px;
  height: auto;
  color: #0D0E10;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding: 8px 0;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  width: 100%;

}
.btn-send-payment {
  display: inline-block;
  border: 1px solid #D5AB55;
  background-image: linear-gradient(180deg, #FFD96A 0%, #FFBC00 100%);
  border-radius: 3px;
  height: auto;
  color: #0D0E10;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding: 8px 0;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  width: 92%;
  margin-left: 11px;
  top: 25px;
}
.btn-code-promotion-back {
  display: inline-block;
  border: 1px solid #D5AB55;
  background-image: linear-gradient(180deg, #FFD96A 0%, #FFBC00 100%);
  border-radius: 3px;
  height: auto;
  color: #0D0E10;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding: 8px 0;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  width: 100%;
  margin-top: 12px;
}

input#box-code.input-aplypromocode {
  text-align: center;
  font-size: 14px;
  border: 1px solid #cacaca;
  height: auto;
  padding: 11px 0;
  margin: 16px 0;
}
.plans-choosed {
  position: relative;
  border-bottom: 1px solid #cecece;
  padding: 0 !important;
  margin: 10px;
  padding-bottom: 10px !important;
}

.plans-choosed h4 {
  margin: 0;
}

.plans-choosed span {
  position: absolute;
  right: 0;
  top: 20px;
  color: #004975;
}

.save-percent {
  font-size: 14px;
  color: #004975;
  border-bottom: 1px solid #cecece;
  padding: 0 !important;
  margin: 10px;
  padding-bottom: 18px !important;
  /*margin-bottom: 40px;*/
}
.save-percent-two{
  border-bottom:0;
  height: 32px;
}

.discount-code {
  border-bottom: 1px solid #cecece;
  padding: 0 !important;
  margin: 10px;
}

.txt-discount-code {
  line-height: 15px;
  color: #2f313a;
}

.total-payment {
  float: right;
  margin-top: 20px;
}

.total-payment p {
  color: #004975;
  font-weight: 500;
  margin-right: 17px;
  padding-top: 6px;
}

.total-payment span {
  color: #246EB9;
  font-size: 20px;
  margin-right: -18px;
}

.area-subcription {
  background-color: white;
  padding: 18px 14px 18px 14px!important;
}

.title-subcription {
  color: #004975;
  font-size: 18px;
  margin-left: 11px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 12px;
}

.subscription-items {
  padding: 12px 0;
  border-bottom: 1px solid #dcdcdc;
  font-size: 14px;
}

.subscription-items:last-child {
  border: none;
}

.no-padding {
  padding: 0;
}

.img-subscription-back {
  position: relative;
  height: 400px !important;
  overflow: hidden;
}
.img-subscription-back img {
  width: 120% !important;
}
.img-getty-back {
  position: relative;
  height: 308px !important;
  overflow: hidden;
  text-align: center;
  background-color: black;
  padding-top: 112px !important;
}

.front-title-subscrit {
  position: absolute;
  bottom: 0;
  padding: 32px 30px;
}

.front-title-subscrit h4 {
  font-size: 48px;
  color: white;
  font-weight: 400;
  margin: 0;
}

.front-title-subscrit p {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.receipts {
  padding: 27px 14px;
  position: relative;
}

.update-subscription {
  background-color: #E3E3E3;
  color: #737373;
  padding: 8px 25px;
  border-radius: 50px;
  right: 0;
  position: absolute;
  top: 28px;
  font-size: 14px;
}

.title-billing {
  color: #004975;
  font-size: 18px;
  margin-left: 0;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 0 0 20px 0;
}

.bck-billing {
  background-color: #FBF9F9;
  padding: 26px 20px 26px 12px;
  margin-bottom: 17px;
  margin-top: 12px;
  border-bottom: none;
}

.tittle-billing {
  margin: 0;
  margin-bottom: 8px;
}

.area-billing {
  background-color: white;
  padding: 24px 24px 6px 24px!important;
}

.align-hz {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 18px;
}

.img-billing-back {
  position: relative;
  height: 412px !important;
  overflow: hidden;
}

.img-billing-back img {
  width: 150%;
}

.bck-billing-change {
  margin-bottom: 2px;
  margin-top: 1px;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.ico-billing {
  margin-top: 40px;
  margin-left: 14px;
  font-size: 20px;
}

.btn-change-billing {
  text-decoration: none;
  color: #fff;
  background-color: #001524;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
  /* display: block; */
  padding: 7px 32px;
  border: none;
  margin-top: 20px;
  top: 12px;
}

.cancel-bill {
  background-color: #E3E3E3 !important;
  color: #737373 !important;
  margin-left: 12px;
}

.img-billing-change-back {
  position: relative;
  height: 486px !important;
  overflow: hidden;
}

.tooltip-help {
  display: none;
  width: 137px;
  background-color: #004975;
  position: absolute;
  margin-top: -33px;
  margin-left: 44px;
  border-radius: 4px;
  color: white;
  font-size: 10px;
  line-height: 12px;
  padding: 6px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  cursor: pointer;
  z-index: 7;
}

.modal-billing {
  width: 27%;
  border-radius: 6px;
  padding-bottom: 50px;
}

.modal-billing h4 {
  background-color: #F1F1F1;
  padding: 30px 10px;
  font-size: 20px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

.modal-billing p {
  line-height: 22px;
  padding: 14px 40px;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.btn-modal-billing {
  padding: 9px 42px;
  border-radius: 50px;
  color: #FF5C50;
  border: 1.5px solid #FF5C50;
  margin-top: 18px;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.head-cancel-billing {
  position: relative;
}

.btn-modal-billing:hover {
  background-color: #FF5C50;
  color: white;
}

/*.close{
  position: absolute;
top: 28px;
right: 30px;
}*/

.show-tool-help:hover+.tooltip-help {
  display: block;
}

.tooltip-security {
  display: none;
  width: 137px;
  background-color: #004975;
  position: absolute;
  margin-top: -68px;
  margin-left: 44px;
  border-radius: 4px;
  color: white;
  font-size: 10px;
  line-height: 12px;
  padding: 6px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  cursor: pointer;
  z-index: 7;
}

.show-tool-security:hover+.tooltip-security {
  display: block;
}

.total-getty {
  float: right;
  margin-top: 20px;
}

.total-getty p {
  color: #004975;
  font-weight: 500;
  margin-right: 17px;
  padding-top: 6px;
}

.total-getty span {
  color: #246EB9;
  font-size: 20px;
  margin-right: -11px;
}

.message-getty {
  padding: 21px 10px !important;
  background-color: #E3E3E3;
  font-size: 13px;
  text-align: center;
  margin-top: 2rem;
  border-radius: 4px;
  color: #737373;
}

.ico-billing1 {
  margin-top: 40px;
  margin-left: -2px;
  font-size: 20px;
}

.error {
  margin-top: 10px;
}

.check {
  margin-top: 10px;
}

.check i {
  color: #03B66F;
  margin-right: 10px;
  float: left;
  margin-top: -2px;
}

.font-che {
  font-size: 13px;
  font-weight: 500;
  color: #03b66f;
}

.error i {
  color: #D50000;
  margin-right: 10px;
  float: left;
  margin-top: -2px;
}

.font-error {
  font-size: 13px;
  font-weight: 500;
  color: #D50000;
}

dd.tp-plan {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.bck-new-c {
  color: rgb(36, 110, 185);
}

.btn-new-c {
  background-color: #E3E3E3;
  color: #011523;
  font-weight: 500;
  padding: 10px 28px;
  font-size: 14px;
  border-radius: 50px;
  margin-top: 28px;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 200px;
  bottom: 46px;
}

/*--------------------------- FINISH PLANS --------------------------*/

/*******************************NUEVO CSS DE PLANS************************************************/

.clr-txt-newplans {
  color: #EBEBEB;
  font-size: 15px;
}

.new-area-plans {
  max-width: 1146px;
  min-height: 400px;
  margin: auto;
  background-color: #FAFAFA;
}

.cards-of-plans-sr {
  width: 100%;
  border-radius: 4px;
  background-color: #FFFFFF;
  position: relative;
  min-height: 490px;
  box-shadow: 0px 2px 8px rgba(101, 101, 101, 0.32);
}

.show-plan-sr {
  padding: 20px 0 0 0;
  border-radius: 4px 4px 0 0;
  min-height: 336px;
  position: relative;
}

.txt-basic-plan-sr {
  font-size: 14px;
  color: white;
  padding: 0 37px;
  bottom: 18px;
  position: absolute;
}

.show-plan-sr .title-newplans-sr h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 500;
}

.show-plan-sr .title-newplans-sr h4 {
  font-size: 12px;
  color: white;
  margin-top: 2px;
}

.second-price-plans {
  color: white;
  font-size: 17px !important;
  text-shadow: 0px 2px 2px rgba(101, 101, 101, 0.32);
  font-weight: 500;
}

.show-plan-sr h1 {
  font-size: 3.7rem;
  font-weight: 800;
  color: white;
  text-shadow: 0px 2px 9px rgba(101, 101, 101, 0.32);
}

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
  border: 2px solid white;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: white;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
  border: 2px solid white;
}

.show-plan-sr h1 span {
  font-size: 28px;
  font-weight: 500;
  color: white;
  vertical-align: 3px;
  padding-right: 6px;
}

.theme-plan1 {
  background: rgba(122, 122, 122, 1);
  background: -moz-linear-gradient(top, rgba(122, 122, 122, 1) 0%, rgba(63, 63, 64, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(122, 122, 122, 1) 0%, rgba(63, 63, 64, 1) 100%);
  background: -o-linear-gradient(top, rgba(122, 122, 122, 1) 0%, rgba(63, 63, 64, 1) 100%);
  background: -ms-linear-gradient(top, rgba(122, 122, 122, 1) 0%, rgba(63, 63, 64, 1) 100%);
  background: linear-gradient(to bottom, rgba(122, 122, 122, 1) 0%, rgba(63, 63, 64, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a7a7a', endColorstr='#3f3f40', GradientType=0);
}

.theme-plan2 {
  background: rgba(17, 207, 221, 1);
  background: -moz-linear-gradient(top, rgba(17, 207, 221, 1) 0%, rgba(53, 183, 239, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(17, 207, 221, 1) 0%, rgba(53, 183, 239, 1) 100%);
  background: -o-linear-gradient(top, rgba(17, 207, 221, 1) 0%, rgba(53, 183, 239, 1) 100%);
  background: -ms-linear-gradient(top, rgba(17, 207, 221, 1) 0%, rgba(53, 183, 239, 1) 100%);
  background: linear-gradient(to bottom, rgba(17, 207, 221, 1) 0%, rgba(53, 183, 239, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11cfdd', endColorstr='#35b7ef', GradientType=0);
}

.theme-plan3 {
  background: rgba(4, 195, 253, 1);
  background: -moz-linear-gradient(top, rgba(4, 195, 253, 1) 0%, rgba(0, 86, 234, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(4, 195, 253, 1) 0%, rgba(0, 86, 234, 1) 100%);
  background: -o-linear-gradient(top, rgba(4, 195, 253, 1) 0%, rgba(0, 86, 234, 1) 100%);
  background: -ms-linear-gradient(top, rgba(4, 195, 253, 1) 0%, rgba(0, 86, 234, 1) 100%);
  background: linear-gradient(to bottom, rgba(4, 195, 253, 1) 0%, rgba(0, 86, 234, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04c3fd', endColorstr='#0056ea', GradientType=0);
}

.theme-plan4 {
  background: rgba(123, 112, 245, 1);
  background: -moz-linear-gradient(top, rgba(123, 112, 245, 1) 0%, rgba(148, 10, 253, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(123, 112, 245, 1) 0%, rgba(148, 10, 253, 1) 100%);
  background: -o-linear-gradient(top, rgba(123, 112, 245, 1) 0%, rgba(148, 10, 253, 1) 100%);
  background: -ms-linear-gradient(top, rgba(123, 112, 245, 1) 0%, rgba(148, 10, 253, 1) 100%);
  background: linear-gradient(to bottom, rgba(123, 112, 245, 1) 0%, rgba(148, 10, 253, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b70f5', endColorstr='#940afd', GradientType=0);
}

.separate-plans-sr {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}

.line-or-plans {
  width: 24px;
  height: 1px;
  background-color: #D4D4D4;
}

.txt-cantidad-projects-plans {
  color: #3E3E3E;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  padding-top: 2rem;
}

.btn-buy-newplans {
  text-align: center;
  background-color: #113052;
  max-width: 216px;
  padding: 7px 26px;
  font-size: 19px;
  color: white;
  border-radius: 50px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 2rem;
}

.btn-buy-newplans-current {
  text-align: center;
  background-color: #113052;
  max-width: 216px;
  padding: 7px 20px;
  font-size: 19px;
  color: white;
  border-radius: 50px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 2rem;
}

.sction-input-newsplan1 {
  padding-left: 26px;
  margin-top: -5px;
}

.sction-input-newsplan2 {
  padding-left: 26px;
}

.title-newplans-sr {
  padding-bottom: 31px;
}

.select-area1-newplans {
  padding: 11px 0 15px 0;
}

.select-area2-newplans {
  padding: 22px 0 22px 0;
}

.active-current {
  background: #0F2F53;
}

@media screen and (max-width: 1330px) {
  .btn-buy-newplans {
    margin: auto;
    max-width: 200px;
    padding: 6px 0;
  }
  .btn-buy-newplans-current {
    margin: auto;
    padding: 6px 0;
    max-width: 200px;
  }
  .txt-basic-plan-sr {
    padding: 0px 18px;
  }
  .show-plan-sr .title-newplans-sr h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1200px) {
  .f-cards {
    padding: 20px;
  }
}

@media screen and (max-width: 1180px) {
  .cards-of-plans-sr {
    margin-bottom: 20px;
  }
  .show-plan-sr .title-newplans-sr h2 {
    font-size: 1.5rem;
  }
  .show-plan-sr h1 {
    font-size: 2.5rem;
  }
  .txt-basic-plan-sr {
    line-height: 17px;
  }
  .sction-input-newsplan1 {
    padding-left: 10px;
  }
  .sction-input-newsplan2 {
    padding-left: 12px;
  }
  .second-price-plans {
    width: 100%;
  }
  .month-month-rspon {
    margin-left: 35px;
  }
  .txt-cantidad-projects-plans {
    font-size: 13px;
  }
  .btn-buy-newplans-current {
    font-size: 13px;
    margin: 10px 20px;
  }
}

@media screen and (max-width: 992px) {
  .f-cards {
    padding: 10px;
  }
}


#pl-contents [type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
  border: 2px solid #246eb9;
}
@media screen and (max-width: 600px) {

  .area-order-summary {
    background-color: #F5F5F5;
    padding: 40px !important;
    min-height: auto !important;
  }
}