.s-term-of-service {

}


.s-term-of-service .space-bottom-64 {
  margin-bottom: 64px;
}
.s-term-of-service .space-top {
  margin-top: 64px;
}
.s-term-of-service .area-explains {
  max-width: 880px;
  margin: 0 auto;
}

.s-term-of-service .font-term-blod {
  font-weight: 700;
}

.s-term-of-service .dis-flex {
  display: flex;
}
.s-term-of-service .banner-top-terms-service {
  background: url(../images/banner-terms-service.png) no-repeat center;
  background-size: cover;
  width: 100%;
  min-width: 80%;
  height: 26.5rem;
  position: relative;
  padding-top: 9px;
}
.s-term-of-service .titles-banners {
  color: white;
  font-weight: 400;
  font-size: 3.4rem;
  line-height: 4rem;
  max-width: 900px;
  margin: 0 auto;
}

.s-term-of-service .dis-flex-p {
  display: flex;
  align-items: center;
  justify-content: center;
}