.s-tutorials {

}

.s-tutorials #tutos .collapsible-header {
  background-color: #ffff;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  padding: 10px 10px 10px 16px;
  border: none;
  border-radius: 4px;
}

.s-tutorials #tutos .collapsible>li.active {
  color: #1B62A9;
}

.s-tutorials #tutos .collapsible>li.active div i {
  color: #1B62A9;
}

.s-tutorials #tutos .collapsible-body {
  border: none;
}

.s-tutorials #tutos .collapsible-body p {
  color: #424242;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 22px;
  padding-right: 3rem;
}

.s-tutorials .steps-tutos span {
  color: #4A4A4A;
  font-weight: 600;
}

.s-tutorials .steps-tutos {
  margin: 10px;
  background-color: #fff;
  padding: 2rem;
  margin-top: 55px;
  color: #233D4D;
  border-radius: 4px;
}

.s-tutorials .steps-tutos ul li {
  color: #737373;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

.s-tutorials .steps-tutos ul {
  margin-top: 10px;
}

.s-tutorials .full-img {
  width: 100%;
}

.s-tutorials .show-gif {
  width: 100%;
  margin-top: 1.5rem;
}

.s-tutorials .by-steps {
  margin-bottom: 4rem;
}

.s-tutorials .by-steps p {
  color: #737373;
  margin: 4px 0;
}

.s-tutorials .bod-steps h1 {
  font-size: 12px;
  font-weight: 400;
  color: #464646;
  margin: 0;
}

.s-tutorials .bod-steps h2 {
  font-size: 20px;
  color: #181818;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  margin-bottom: 12px;
}

.s-tutorials .bod-steps h1 span {
  font-weight: 600;
}

.collapsible {
  box-shadow: none;
  border: none;
}

.steps-showing {
  border-top: 1px solid #ececec;
  padding-top: 2.5rem;
  margin-top: 1rem;
}

.dis-flex-p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titles-banners {
  color: white;
  font-weight: 400;
  font-size: 3.4rem;
  line-height: 4rem;
  max-width: 900px;
  margin: 0 auto;
}

.dis-flex {
  display: flex;
}

.banner-top-tutos {
  background: url(../images/banner-faqs.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  min-width: 80%;
  height: 26.5rem;
  position: relative;
  padding-top: 9px;
  margin-bottom: 3rem;
}

.see-moreic {
  position: absolute;
  right: 0;
}

#tutos .collapsible-header i {
  color: #4e4e4e;
  font-size: 21px;
  margin-top: 2px;
  margin-right: 8px;
  float: none;
  display: inline-flex;
}

.tuto-tips {
  border: 4px solid #C6F7EA;
  padding: 10px 33px;
  margin: 30px 10px 0 10px;
  position: relative;
}

.img-tip {
  max-width: 140px;
  position: absolute;
  right: 1rem;
  top: 0;
}

.tuto-tips p {
  font-size: 17px;
  color: #464646;
  font-weight: 600;
  max-width: 230px;
}

.tuto-tips p span {
  color: #E94750;
}


.des-mar{

  margin: 10px 0px;
}


.des-title{

  text-align: center;
  color: #1b62a9;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0px 60px;
  margin-bottom: 20px;
}


.see-moreic,.remove-tag {
  position: absolute;
  right: 0;
}
