
* {
    border: 0px  solid  #333;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,600,600i);

body{
   font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

img, picture, svg {
    margin: 0;
    max-width: 100%;
    height: auto;
}



h1::selection {
    background: #D2453F;
    color: #ffffff;

}

h1::-moz-selection {
    background: #D2453F;
    color: #ffffff;

}




h2, h3::selection {
    background: #D2453F;
    color: #ffffff;

}

h2, h3::-moz-selection {
    background: #D2453F;
    color: #ffffff;

}


 span::selection {
    background: #D2453F;
    color: #ffffff;

}

/*Firefox */
span::-moz-selection {
    background: #D2453F;
    color: #ffffff;

}


 p::selection {
    background: #D2453F;
    color: #ffffff;

}

Firefox
p::-moz-selection {
    background: #D2453F;
    color: #ffffff;

  }

   strong::selection {
    background: #D2453F;
    color: #ffffff;

}

Firefox
strong::-moz-selection {
    background: #D2453F;
    color: #ffffff;

  }


.lg-font1{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 36px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

.lg-font2{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.lg-font3{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 36px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.lg-font4{
    font-family: "Roboto",sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed !important;
  -webkit-font-smoothing: antialiased;
}

.lg-font5{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 20px;
  font-weight: 500;
}


.lg-font6{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}


.lg-font8{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 18px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}


.lg-font9{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}


.lg-font10{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 13px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}


.lg-font11{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 16px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}


.lg-font12{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 16px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  font-style: italic;
}

.lg-fnt12{
  font-size: 12px !important;
}
.lg-font13{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 13px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}
.no-curve{
      font-style: normal !important;
}
.tp1{
  margin-top: 7px;
  display: block;
}
.tpll{
  margin-top: 3px;
  display: block;
}

.btnp{
  padding-bottom: 6px;
}
.btnmill{
  vertical-align: middle;
}

.lg-line{
       line-height: 43.12px;
}

span.lg-font3 strong.lg-font1 {
    position: relative;
}


span.lg-font3 strong.lg-font1:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #D2453F;
    position: absolute;
    bottom: -3px;
    left: 0;
}

/*color text*/

.land-color1{

  color: #ffffff;
}

.land-color2{

  color: #D2453F;
}

.land-color3{

  color: #60676B;
}

.land-color4{

  color: #101213;
}

.land-color5{

  color: #F4F4F4;
}


.land-color6{

  color: #2F313A;
}

.land-color7{

  color: #000000;
}


.land-color8{

  color: #F75D56;
}


.land-color9{

  color: #B378F8;
}

.land-color10{

  color: #2DC794;
}

.land-color11{

  color: #F76859;
}




/* -------- BOUNCE ------------*/

.ball-bounce {
  margin-top: 24px;
  border-radius: 50%;
  animation: bounce 0.5s infinite alternate;
  -webkit-animation: bounce 0.5s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}

/* -------- FIN BOUNCE -------*/

/* gradients*/


.land-bg-1{

background-image: linear-gradient(135deg, #f5f7fa 0%, rgba(195, 207, 226, 0.51) 100%);

}


.land-bg-2{

background-color: #F76859;

}

.land-bg-3{


  background-color: #ffffff;
}


.land-bg-4{

  background-color: #F7F9F9;
}



.land-bg-5{

  background-color: #2D2F36;
}

.land-bg-6{

  background-color: #2F3037;
}


.land-bg-7{

  background-color: #F7FBFD;
}



.land-textsw{

  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

.land-boxsw{

  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.35);
}

.land-cursor{

  cursor: pointer;
}

.f_bloque{

  display: inline-block !important;
}


.land-center{

  text-align: center;
}

.land-left{

 text-align: left;

}


.land-right{

  text-align: right;
}


.home-1{
   background-image: url(../images/home-1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 97vh;
   background-position: center;
   text-align: center;
   overflow: hidden;
}


.home-2{

   background-image: url(../images/home-2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   text-align: left;

}


.home-last{
   background-image: url(../images/last-home.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   text-align: center;


}

.barra-a{

  width: 100%;
  height:5px;
  background-color: #F76859;
}

.arrow-up-1 {
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #F76859;
        border-bottom: 0px solid transparent;
        position: relative;
    top: 0px;
    left: 50%;
}



.arrow-1{

  background-image: url(../images/flecha.svg);
  position: absolute;
    height: 39px;
    width: 43px;
    background-repeat: no-repeat;
    display: inline-block;
    right: 50%;
    bottom: -80px;
}

.position-1{

    position: relative;
    /* top: -34em; */
    width: 80%;
    right: 0;
    overflow: hidden;
    bottom: 32em;
}

.lang-padd{

    padding-top: 2rem;
    padding-bottom: 2rem;
}

.lang-padd-2{

    padding-top: 8rem;
    padding-bottom: 8rem;
}


.lang-padd-2-1{

    padding-top: 2rem;
    padding-bottom: 8rem;
}

.lang-padd-3{

    padding-bottom: 2rem;
}

.lang-padd-4{

       padding: 1rem 1rem 0 1rem;
}


.lang-padd-5{

  padding-top: 1.5rem;
}

.land-padd-6{

  padding-top: 1.2rem;
}

.land-padd-8{

  padding-top: 15px;
}


.land-padd-9 {
    padding-top: 28px;
}


.lang-padd-10 {
    padding-bottom: 3rem;
}

.lang-paddg{

  padding-left: 0px;
  padding-right: 0px;
}

.lang-mar-1{

  margin-top: 8em;
}


.land-mar-2{

  margin-top: 20px;
}


.land-mar-3{

  margin-top: 35px;
}


.land-mar-3-1 {
    margin-top: 60px;
}


.land-mar-3-2 {
    margin-top: 8rem;
}


.land-mar-3-3 {
    margin-top: 1rem;
}

.land-mar-3-4{
    margin-top: 70px;
  }




.lang-overlay{

  width: 100%;
  height: 100%;
      right: 0;
    z-index: 0;
    overflow: hidden;
  background: rgba(91,90,90,0.15);/* Old Browsers */
background: -moz-linear-gradient(top, rgba(91,90,90,0.15) 0%, rgba(91,90,90,0.15) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(91,90,90,0.15)), color-stop(0%, rgba(91,90,90,0.15)), color-stop(100%, rgba(0,0,0,0.6)));/* Chrome, Safari4+ */
background: -webkit-linear-gradient(top, rgba(91,90,90,0.15) 0%, rgba(91,90,90,0.15) 0%, rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(91,90,90,0.15) 0%, rgba(91,90,90,0.15) 0%, rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(91,90,90,0.15) 0%, rgba(91,90,90,0.15) 0%, rgba(0,0,0,0.6) 100%); /* IE 10+ */
background: linear-gradient(to bottom, rgba(91,90,90,0.15) 0%, rgba(91,90,90,0.15) 0%, rgba(0,0,0,0.6) 100%);/* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5a5a', endColorstr='#000000', GradientType=0 );/* IE6-9 */

}


.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}


.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.land--logo {
    margin: 0 6rem;
}

.land--logo-2 {
        margin: 0 7.5rem;
    margin-top: 30px;
}

.botom-primary-1 {
    box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
}

.botom-primary-1:hover{
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);

}

.button--primary {
    width: 13.75rem;
    color: #fff;
    background-color: #F76859;
    border: 0.125rem solid transparent;
}

.button--primary:hover{

    outline: none;
    color: white !important;
    border-color: transparent;
    background-color: #F55948;
}


.button--primary.lg {
    width: 17.5rem;
}


.button--primary.last {
    width: 50.5rem;
}


.botom-primary-1{
    display: block;
    cursor: pointer;
    appearance: none;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    text-decoration: none;
    vertical-align: middle;
    height: 4.5rem;
    padding: 0.8rem 0.5rem;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 2.625rem;
    -webkit-font-smoothing: antialiased;
    border-radius: 0225rem;
    letter-spacing: 0.125rem;
    transition: all 0.3s ease;
}


.botom-primary-2{
    display: block;
    cursor: pointer;
    appearance: none;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    text-decoration: none;
    vertical-align: middle;
    height: 4.5rem;
    padding: 0.8rem 0.5rem;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 2.625rem;
    -webkit-font-smoothing: antialiased;
    border-radius: 3rem;
    letter-spacing: 0.125rem;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}



.bar-r{

  width: 100%;
  height: 3px;
  background-color: #F94A42;
}

.bar-v{

  width: 100%;
  height: 3px;
  background-color: #B378F8;
}

.bar-g{

  width: 100%;
  height: 3px;
  background-color: #2DC794;
}


.compe{

      display: inline-block;
    width: 73%;
    padding-top: 40px;
    padding-left: 10px;
}

.compe-img1{

      position: relative;
    top: -22px;

}


.border-1{

      border-right: 1px dashed #FAA31B;

}


.border-2{

      border-right: 1px dashed rgba(34, 30, 29, 0.20);

}

.border-c{

      border-left: 1px solid #dcdcdc;
}

.compe-img2{

    position: relative;
    top: 7px;

}

.compe-img3{

      position: relative;
    top: 3px;
}

.compe-img4{

      position: relative;
    top: 3px;
}


.compe-img5{

    position: relative;
    top: 3px;


}

 .img-back{

  background-image: url(../images/group.jpg);
      display: block;
    height: 650px;
    /*background-size: 1300px auto;*/
    background-position: -10px 0;
    background-repeat: no-repeat;
    background-size: cover;
 }


.land-compe{

  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 28px;
  font-weight: 600;

}


.over{

  overflow: hidden;
}

.conten-col{

    /*padding-top: 120px;*/
    width: 600px;
    margin-left: 0;
    margin-right: auto;

}

ul.stl{
      list-style: none;
    padding: 0px;
}


.icon-position{
      position: relative;
    top: 6px;
}

.miami{

  background-image: url(../images/miami.png);
  width: 100%;
  height:72px;
  background-size: contain;
  background-repeat: no-repeat;
      background-position: center;
          -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.miami:hover{

  background-image: url(../images/miami-h.png);

}

.yaho{

  background-image: url(../images/yah.png);
  width: 100%;
  height:72px;
  background-size: contain;
  background-repeat: no-repeat;
      background-position: center;
          -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.yaho:hover{

  background-image: url(../images/yah-h.png);

}


.ipm{

  background-image: url(../images/ipm.png);
  width: 100%;
  height:72px;
  background-size: contain;
  background-repeat: no-repeat;
      background-position: center;
          -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.ipm:hover{

  background-image: url(../images/ipm-h.png);

}

.market{

  background-image: url(../images/market.svg);
  width: 100%;
  height:72px;
  background-size: contain;
  background-repeat: no-repeat;
      background-position: center;
          -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.market:hover{

  background-image: url(../images/market-h.svg);

}

.lan{

  background-image: url(../images/lan.svg);
  width: 100%;
  height:72px;
  background-size: contain;
  background-repeat: no-repeat;
      background-position: center;
          -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.lan:hover{

  background-image: url(../images/land-h.svg);

}

.silly{

  background-image: url(../images/silly.png);
  width: 100%;
  height:72px;
  background-size: contain;
  background-repeat: no-repeat;
      background-position: center;
          -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.silly:hover{

  background-image: url(../images/silly-h.png);

}


.slick-dots li.slick-active button:before {
    opacity: .75 !important;
    color: #D2453F !important;
}


.slick-dots li button:before {
    font-family: 'slick';
    font-size: 10px !important;
}



.card-g{

    background: #ffffff;
    width: 245px;
    display: inline-block;
    margin: auto;
    border-radius: 5px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;
    margin-bottom: 50px;
}


.card__image {
    position: relative;
    height: 180px;
    margin-bottom: 15px;
        border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.clash-card__image--goblin{

  background:url(../images/per-1.jpg);
  background-repeat: no-repeat;


  background-size: cover;
}



.clash-card__image--goblin-2{

  background:url(../images/ana.jpg);
  background-repeat: no-repeat;

  background-size: cover;
}

.clash-card__image--goblin-22{

  background:url(../images/Michael-Winkfield.jpg);
  background-repeat: no-repeat;

  background-size: cover;
}

.clash-card__image--goblin-3{

  background:url(../images/vlad.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.clash-card__image--goblin-4{

  background:url(../images/albert.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.clash-card__image--goblin-5{

  background:url(../images/jair.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.clash-card__image--goblin-6{

  background:url(../images/paul.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.clash-card__image--goblin-7{

  background:url(../images/oscar.png);
  background-repeat: no-repeat;
  background-size: cover;
}


.clash-card__image--goblin-8{

  background:url(../images/jen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.clash-card__image--goblin-9{

  background:url(../images/steve.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.clash-card__image--goblin-10{

  background:url(../images/luigui.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.clash-card__level--goblin {
    color: #6D6D6D;
}


.clash-card__level {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 3px;
     -webkit-font-smoothing: antialiased;
         padding: 0px 20px 0px 20px;
         text-align: center;

}


.clash-card__level-1 {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 3px;
     -webkit-font-smoothing: antialiased;
         padding: 0px 20px 0px 20px;
         text-align: center;
}


.clash-card__level--goblin-2 {
    color: #D54842;
}


.clash-card__unit-description {
     padding: 5px 20px 15px 20px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 13px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    color: #484848;
    font-style: italic;
    text-align: center;
}

.link{
  background: url(../images/link.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  background-size: cover;
  display: inline-block;
  margin-right: 5px;
  outline: 0px;
}

.face{
  background: url(../images/facebook.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  background-size: cover;
  display: inline-block;
  margin-right: 5px;
  outline: 0px;
}


.tiw{
  background: url(../images/tiw.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  background-size: cover;
  display: inline-block;
  margin-right: 5px;
  outline: 0px;
}



.behan{
  background: url(../images/behance.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  background-size: cover;
  display: inline-block;
  outline: 0px;
}



.dribble{
  background: url(../images/dri.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  background-size: cover;
  display: inline-block;
  outline: 0px;
}


.git{
  background: url(../images/git.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  background-size: cover;
  display: inline-block;
  outline: 0px;
}



.icon-padding{

      padding: 0px 20px 10px 20px;;
}


.none{
  display: block
}


.none-2{

  display: none;
}

/*.pop_up_video > div {
    display: table;
    width: 100%;
    height: 100%;
}


.pop_up_video > div > div {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}


.pop_up_video .pop_up_video_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.9);
    display: block;
    cursor: url(https://cindercooks.com/assets/images/close.png), auto;
}

.pop_up_video .video_container {
    margin: 0 auto;
    width: 75%;
    height: auto;
    overflow: hidden;
    position: relative;
}


.pop_up_video .video_container .video {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
}

.pop_up_video .video_container .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


.pop_up_video {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
    z-index: 9999999999999;
}*/


.close-peruana {
      width: 50px;
    height: 50px;
    /* margin-top: 60px; */
    /* margin-right: 50px; */
    font-size: 40px;
    /* color: white ! important; */
    text-align: center;
    cursor: pointer;
    float: right;
    position: relative;
    bottom: 50px;
}



.close-inter{
      width: 50px;
    height: 50px;
    /* margin-top: 60px; */
    /* margin-right: 50px; */
    font-size: 40px;
    /* color: white ! important; */
    text-align: center;
    cursor: pointer;
    float: right;
    position: relative;
    bottom: 50px;
}

.close-inter2{
      width: 50px;
    height: 50px;
    /* margin-top: 60px; */
    /* margin-right: 50px; */
    font-size: 40px;
    /* color: white ! important; */
    text-align: center;
    cursor: pointer;
    float: right;
    position: relative;
    bottom: 50px;
}



.empresa-peruana {
    background-color: transparent;
}


.empresa-internacional {
    background-color: transparent;
}


.empresa-internacional2 {
    background-color: transparent;
}


.empresa-internacional3 {
    background-color: transparent;
}



.bottomMenu {
    display: none;
    position: fixed;
    width: 100%;
    height: 76px;
    border-top: 0px solid #000;
    background: #ffffff;
    z-index: 1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.13);
}

.logog{

      position: relative;
    top: 5px;

}

.logog2{

      position: relative;
    top: 15px;
        width: 45px;
}


.ul-nav{

  display: inline-block;
  list-style: none;
  padding: 0px;
     margin-top: 18px;
  float: right;
}


.colormenu{

  color: #000000 !important;
  -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.colormenu:hover{

    color: #6f6f6f !important;
    text-decoration: none !important;
 }


.colormenu1{

  color: #ffffff !important;
}


.botom-nav{
font-family: "Roboto","Helvetica","Arial",sans-serif;
  width: 145px;
  height: 40px;
  background-color: #F76859;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
display: inline-block;
    padding-top: 10px;
    border-radius: 19px
}

.nav-p{


  padding-right: 15px;

}


.margin-logo{

margin-top: 0px;

}


/*-------------------------------------------------*/

/* medias queries*/

/*-------------------------------------------------*/


 @media screen and (max-width: 1024px){


  #landing-5 .col-md-8 {
    width: 100%;
}


#landing-5 .col-md-2 {
    width: 50%;
}

}



 @media screen and (max-width: 800px){

#landing-1 .position-1 {

    bottom: 35em;
}


span.lg-font3 strong.lg-font1:before {

    content: '';
    display: none;
    width: 100%;
    height: 2px;
    background: #D2453F;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.land--logo {
    margin: 0 6rem;
    margin-top: 30px;
}



#landing-2  .land--logo-2 {
    margin: 0 3.5rem;
    margin-top: 30px;
}



.close-peruana {
    width: 50px;
    height: 50px;
    /* margin-top: 60px; */
    /* margin-right: 50px; */
    font-size: 40px;
    /* color: white ! important; */
    text-align: center;
    cursor: pointer;
    float: right;
    position: absolute;
    top: -69px;
    right: 30px;
}



#landing-5 .col-xs-8 {
    width: 100%;
}

#landing-5 .land-left {

   text-align: center;
}

.compe-img1 {
    position: relative;
    top: 21px;
    display: block !important;
}


.border-1 {
    border-right: 0px dashed #FAA31B;
    /* border-bottom: 1px; */
}

#landing-5  .col-xs-2 {
    width: 100%;
}


.close-inter {
    width: 50px;
    height: 50px;
    /* margin-top: 60px; */
    /* margin-right: 50px; */
    font-size: 40px;
    /* color: white ! important; */
    text-align: center;
    cursor: pointer;
    float: right;
    position: absolute;
    top: -69px;
    right: 30px;
}


.close-inter2{

    width: 50px;
    height: 50px;
    /* margin-top: 60px; */
    /* margin-right: 50px; */
    font-size: 40px;
    /* color: white ! important; */
    text-align: center;
    cursor: pointer;
    float: right;
    position: absolute;
    top: -69px;
    right: 30px;
}



#fotter-1 .land-right{

  text-align: center;
}



}




 @media screen and (max-width: 768px){

#landing-1 .position-1 {

    bottom: 35em;
}


span.lg-font3 strong.lg-font1:before {

    content: '';
    display: none;
    width: 100%;
    height: 2px;
    background: #D2453F;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.land--logo {
    margin: 0 5rem;
    margin-top: 30px;
}

#landing-2 .lg-font3 {

  font-size: 25px;

}


#landing-2 .lg-font1 {

    font-size: 25px;

}

#landing-2 .lg-font4 {

    font-size: 16px;

}


#landing-2 .lg-font5 {

    font-size: 16px;

}


#landing-2  .land-mar-3 {
    margin-top: 0px;
}


#landing-3 .col-xs-6 {
    width: 100%;
}


#landing-2  .land-left {
    text-align: center;
}

#landing-2  .land--logo-2 {
    margin: 0 3.5rem;
    margin-top: 30px;
}

#landing-3  .land-left {
    text-align: center;
}


.botom-primary-1 {
    display: inline-block;
    cursor: pointer;
    appearance: none;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    text-decoration: none;
    vertical-align: middle;
    height: 4.5rem;
    padding: 0.8rem 0.5rem;
    text-transform: uppercase;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 2.625rem;
    -webkit-font-smoothing: antialiased;
    border-radius: 0225rem;
    letter-spacing: 0.125rem;
    transition: all 0.3s ease;
}

#landing-3 .none {
    display: none;
}


.close-peruana {
    width: 50px;
    height: 50px;
    /* margin-top: 60px; */
    /* margin-right: 50px; */
    font-size: 40px;
    /* color: white ! important; */
    text-align: center;
    cursor: pointer;
    float: right;
    position: absolute;
    top: -69px;
    right: 30px;
}


#landing-3 .none-2 {
    display: block;
    margin-bottom: 35px;
}


#landing-4 .land-left {

   text-align: center;
}


.arrow-1 {
    right: 45%;
    bottom: -52px;
}


#landing-5 .col-xs-8 {
    width: 100%;
}

#landing-5 .land-left {

   text-align: center;
}

.compe-img1 {
    position: relative;
    top: 21px;
    display: block !important;
}


.border-1 {
    border-right: 0px dashed #FAA31B;
    /* border-bottom: 1px; */
}

#landing-5  .col-xs-2 {
    width: 100%;
}


#landing-6 .land-left {

   text-align: center;
}


.close-inter {
    width: 50px;
    height: 50px;
    /* margin-top: 60px; */
    /* margin-right: 50px; */
    font-size: 40px;
    /* color: white ! important; */
    text-align: center;
    cursor: pointer;
    float: right;
    position: absolute;
    top: -69px;
    right: 30px;
}


.close-inter2{

    width: 50px;
    height: 50px;
    /* margin-top: 60px; */
    /* margin-right: 50px; */
    font-size: 40px;
    /* color: white ! important; */
    text-align: center;
    cursor: pointer;
    float: right;
    position: absolute;
    top: -69px;
    right: 30px;
}


.img-back {
    background-image: none;
    display: block;
    height: 650px;
    /* background-size: 1300px auto; */
    background-position: -10px 0;
    background-repeat: no-repeat;
    background-size: cover;
}


.conten-col {
    /* padding-top: 120px; */
    width: 100%;
    margin-left: 0px;
    margin-right: 20px;
}


#landing-7 .land-left {

   text-align: center;
}

#landing-7 .land-mar-3-2 {
    margin-top: 8rem;
    display: inline-block;
}

#landing-8  .col-xs-6 {
    width: 100%;
}


#landing-8 .land-left {

   text-align: center;
}

#landing-8 .land-center {
    text-align: -webkit-center;
}

.icon-position {
    position: relative;
    top: 6px;
    margin: 0 auto;
    display: none !important;
}


#fotter-1 .land-right{

  text-align: center;
}



}




@media screen and (max-width: 720px){

#landing-1 .position-1 {

    bottom: 35em;
}

#landing-1  .lg-font1 {

    font-size: 25px;
}


span.lg-font3 strong.lg-font1:before {

    content: '';
    display: none;
    width: 100%;
    height: 2px;
    background: #D2453F;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.land--logo {
    margin: 0 5rem;
    margin-top: 30px;
}

#landing-2 .lg-font3 {

  font-size: 25px;

}


#landing-2 .lg-font1 {

    font-size: 25px;

}

#landing-2 .lg-font4 {

    font-size: 16px;

}


#landing-2 .lg-font5 {

    font-size: 16px;

}


#landing-2  .land-mar-3 {
    margin-top: 0px;
}


#landing-3 .col-xs-6 {
    width: 100%;
}


#landing-2  .land-left {
    text-align: center;
}

#landing-2  .land--logo-2 {
    margin: 0 3.5rem;
    margin-top: 30px;
}

#landing-3  .land-left {
    text-align: center;
}


.botom-primary-1 {
    display: inline-block;
    cursor: pointer;
    appearance: none;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    text-decoration: none;
    vertical-align: middle;
    height: 4.5rem;
    padding: 0.8rem 0.5rem;
    text-transform: uppercase;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 2.625rem;
    -webkit-font-smoothing: antialiased;
    border-radius: 0225rem;
    letter-spacing: 0.125rem;
    transition: all 0.3s ease;
}

#landing-3 .none {
    display: none;
}


.close-peruana {
    width: 50px;
    height: 50px;
    /* margin-top: 60px; */
    /* margin-right: 50px; */
    font-size: 40px;
    /* color: white ! important; */
    text-align: center;
    cursor: pointer;
    float: right;
    position: absolute;
    top: -69px;
    right: 30px;
}


#landing-3 .none-2 {
    display: block;
    margin-bottom: 35px;
}


#landing-4 .land-left {

   text-align: center;
}


.arrow-1 {
    right: 45%;
    bottom: -52px;
}


#landing-5 .col-xs-8 {
    width: 100%;
}

#landing-5 .land-left {

   text-align: center;
}

.compe-img1 {
    position: relative;
    top: 21px;
    display: block !important;
}


.border-1 {
    border-right: 0px dashed #FAA31B;
    /* border-bottom: 1px; */
}

#landing-5  .col-xs-2 {
    width: 100%;
}


#landing-6 .land-left {

   text-align: center;
}


.close-inter {
    width: 50px;
    height: 50px;
    /* margin-top: 60px; */
    /* margin-right: 50px; */
    font-size: 40px;
    /* color: white ! important; */
    text-align: center;
    cursor: pointer;
    float: right;
    position: absolute;
    top: -69px;
    right: 30px;
}


.close-inter2{

    width: 50px;
    height: 50px;
    /* margin-top: 60px; */
    /* margin-right: 50px; */
    font-size: 40px;
    /* color: white ! important; */
    text-align: center;
    cursor: pointer;
    float: right;
    position: absolute;
    top: -69px;
    right: 30px;
}


.conten-col {
    /* padding-top: 120px; */
    width: 100%;
    margin-left: 0px;
    margin-right: 20px;
}


#landing-7 .land-left {

   text-align: center;
}

#landing-7 .land-mar-3-2 {
    margin-top: 8rem;
    display: inline-block;
}

#landing-8  .col-xs-6 {
    width: 100%;
}


#landing-8 .land-left {

   text-align: center;
}

#landing-8 .land-center {
    text-align: -webkit-center;
}

.icon-position {
    position: relative;
    top: 6px;
    margin: 0 auto;
    display: none !important;
}


#fotter-1 .land-right{

  text-align: center;
}

}


 @media screen and (max-width: 600px){

#landing-1 .position-1 {

    bottom: 35em;
}

#landing-1  .lg-font1 {

    font-size: 25px;
}


span.lg-font3 strong.lg-font1:before {

    content: '';
    display: none;
    width: 100%;
    height: 2px;
    background: #D2453F;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.land--logo {
    margin: 0 5rem;
    margin-top: 30px;
}

#landing-2 .lg-font3 {

  font-size: 25px;

}


#landing-2 .lg-font1 {

    font-size: 25px;

}

#landing-2 .lg-font4 {

    font-size: 16px;

}


#landing-2 .lg-font5 {

    font-size: 16px;

}


#landing-2  .land-mar-3 {
    margin-top: 0px;
}


#landing-3 .col-xs-6 {
    width: 100%;
}


#landing-2  .land-left {
    text-align: center;
}

#landing-3  .land-left {
    text-align: center;
}


.botom-primary-1 {
    display: inline-block;
    cursor: pointer;
    appearance: none;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    text-decoration: none;
    vertical-align: middle;
    height: 4.5rem;
    padding: 0.8rem 0.5rem;
    text-transform: uppercase;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 2.625rem;
    -webkit-font-smoothing: antialiased;
    border-radius: 0225rem;
    letter-spacing: 0.125rem;
    transition: all 0.3s ease;
}

#landing-3 .none {
    display: none;
}


.close-peruana {
    width: 50px;
    height: 50px;
    /* margin-top: 60px; */
    /* margin-right: 50px; */
    font-size: 40px;
    /* color: white ! important; */
    text-align: center;
    cursor: pointer;
    float: right;
    position: absolute;
    top: -69px;
    right: 30px;
}


#landing-3 .none-2 {
    display: block;
    margin-bottom: 35px;
}


#landing-4 .land-left {

   text-align: center;
}


.arrow-1 {
    right: 45%;
    bottom: -52px;
}


#landing-5 .col-xs-8 {
    width: 100%;
}

#landing-5 .land-left {

   text-align: center;
}

.compe-img1 {
    position: relative;
    top: 21px;
    display: block !important;
}


.border-1 {
    border-right: 0px dashed #FAA31B;
    /* border-bottom: 1px; */
}

#landing-5  .col-xs-2 {
    width: 100%;
}


#landing-6 .land-left {

   text-align: center;
}


.close-inter {
    width: 50px;
    height: 50px;
    /* margin-top: 60px; */
    /* margin-right: 50px; */
    font-size: 40px;
    /* color: white ! important; */
    text-align: center;
    cursor: pointer;
    float: right;
    position: absolute;
    top: -69px;
    right: 30px;
}


.close-inter2{

    width: 50px;
    height: 50px;
    /* margin-top: 60px; */
    /* margin-right: 50px; */
    font-size: 40px;
    /* color: white ! important; */
    text-align: center;
    cursor: pointer;
    float: right;
    position: absolute;
    top: -69px;
    right: 30px;
}


.conten-col {
    /* padding-top: 120px; */
    width: 100%;
    margin-left: 0px;
    margin-right: 20px;
}


#landing-7 .land-left {

   text-align: center;
}

#landing-7 .land-mar-3-2 {
    margin-top: 8rem;
    display: inline-block;
}

#landing-8  .col-xs-6 {
    width: 100%;
}


#landing-8 .land-left {

   text-align: center;
}

.icon-position {
    position: relative;
    top: 6px;
    margin: 0 auto;
    display: none !important;
}


#fotter-1 .land-right{

  text-align: center;
}



}


 @media screen and (max-width: 480px){

#landing-1 .position-1 {

    bottom: 35em;
}

#landing-1  .lg-font1 {

    font-size: 25px;
}


span.lg-font3 strong.lg-font1:before {

    content: '';
    display: none;
    width: 100%;
    height: 2px;
    background: #D2453F;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.land--logo {
    margin: 0 5rem;
    margin-top: 30px;
}

#landing-2 .lg-font3 {

  font-size: 25px;

}


#landing-2 .lg-font1 {

    font-size: 25px;

}

#landing-2 .lg-font4 {

    font-size: 16px;

}


#landing-2 .lg-font5 {

    font-size: 16px;

}


#landing-2  .land-mar-3 {
    margin-top: 0px;
}


#landing-3 .col-xs-6 {
    width: 100%;
}


#landing-2  .land-left {
    text-align: center;
}

#landing-3  .land-left {
    text-align: center;
}


.botom-primary-1 {
    display: inline-block;
    cursor: pointer;
    appearance: none;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    text-decoration: none;
    vertical-align: middle;
    height: 4.5rem;
    padding: 0.8rem 0.5rem;
    text-transform: uppercase;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 2.625rem;
    -webkit-font-smoothing: antialiased;
    border-radius: 0225rem;
    letter-spacing: 0.125rem;
    transition: all 0.3s ease;
}

#landing-3 .none {
    display: none;
}


.close-peruana {
    width: 50px;
    height: 50px;
    /* margin-top: 60px; */
    /* margin-right: 50px; */
    font-size: 40px;
    /* color: white ! important; */
    text-align: center;
    cursor: pointer;
    float: right;
    position: absolute;
    top: -69px;
    right: 30px;
}


#landing-3 .none-2 {
    display: block;
    margin-bottom: 35px;
}


#landing-4 .land-left {

   text-align: center;
}


.arrow-1 {
    right: 45%;
    bottom: -52px;
}


#landing-5 .col-xs-8 {
    width: 100%;
}

#landing-5 .land-left {

   text-align: center;
}

.compe-img1 {
    position: relative;
    top: 21px;
    display: block !important;
}


.border-1 {
    border-right: 0px dashed #FAA31B;
    /* border-bottom: 1px; */
}

#landing-5  .col-xs-2 {
    width: 100%;
}


#landing-6 .land-left {

   text-align: center;
}


.close-inter {
    width: 50px;
    height: 50px;
    /* margin-top: 60px; */
    /* margin-right: 50px; */
    font-size: 40px;
    /* color: white ! important; */
    text-align: center;
    cursor: pointer;
    float: right;
    position: absolute;
    top: -69px;
    right: 30px;
}


.close-inter2{

    width: 50px;
    height: 50px;
    /* margin-top: 60px; */
    /* margin-right: 50px; */
    font-size: 40px;
    /* color: white ! important; */
    text-align: center;
    cursor: pointer;
    float: right;
    position: absolute;
    top: -69px;
    right: 30px;
}


.conten-col {
    /* padding-top: 120px; */
    width: 100%;
    margin-left: 0px;
    margin-right: 20px;
}


#landing-7 .land-left {

   text-align: center;
}

#landing-7 .land-mar-3-2 {
    margin-top: 8rem;
    display: inline-block;
}

#landing-8  .col-xs-6 {
    width: 100%;
}


#landing-8 .land-left {

   text-align: center;
}

.icon-position {
    position: relative;
    top: 6px;
    margin: 0 auto;
    display: none !important;
}


#landing-10 .button--primary.last {
    width: 100%;
}


#landing-10 .col-xs-4 {
    width: 100%;
}


.yaho {
    background-image: url(../images/yah.png);
    width: 100%;
    height: 72px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    margin-top: 35px;
}

.ipm {
    background-image: url(../images/ipm.png);
    width: 100%;
    height: 72px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    margin-top: 35px;
}


#fotter-1 .land-right{

  text-align: center;
}



.margin-logo{

margin-top: 25px;

}


.land-mar-3-4 {
    margin-top: 25px;

}
